{% extends "layout-back-button.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Alpha</span>
      Design tests
    </h1>


      <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

        <h2 class="govuk-heading-m  govuk-!-margin-bottom-6">Version 1</h2>


        <p class="govuk-body">This is not an end to end journey service prototype.</p>
        <p class="govuk-body">This prototype is for testing ideas for Alpha on the service 'RACE2'.</p>
        <p class="govuk-body govuk-!-margin-bottom-6">This prototype covers Alpha ideas across the external user journey.</p>


        <h3 class="govuk-heading-s">External user research</h3>
    
        <p class="govuk-body">August 2021</p>
    
        <p class="govuk-body">The team started alpha by testing an user journey for external users who needed to send the
          Environment Agency a Section 12 notice.</p>
    
        <p class="govuk-body govuk-!-margin-bottom-6">The new team agreed this was only to be used as a starting point for research incites, to feed
          into design that was to be undertaken in Alpha.</p>
    
    
    
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6">
        <!-- ########################################################################### -->
    
        <h2 class="govuk-heading-m">
          Research
        </h2>
    
    
        <p> <a class="govuk-link--no-visited-state" href="/Alpha/v1/start">Start page iteration 1</a></p>
        <p> <a class="govuk-link--no-visited-state" href="/Alpha/v1/start-ref">Start page where users are given a reference number</a></p>
        <p> <a class="govuk-link--no-visited-state" href="/Alpha/v1/start-alt">Start page multiple types of actions availible</a></p>
    
    


        <!-- Link to Prototype
        <div class="govuk-button-group">
          <a href="/Alpha/index-alpha" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            View prototype
          </a>
        </div> -->


        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6">
        <!-- ########################################################################### -->
      </div>
    </div>
  </div>

  {% endblock %}