{% extends "layout.html" %}

{% block pageTitle %}
Submit supervising engineers statement for a reservoir
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Alpha</span>
      Design tests
    </h1>

</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

        <!-- Version -->
        <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-2">
          Version 1
        </strong>

        <p class="govuk-body">This is not an end to end journey service prototype.</p>
        <p class="govuk-body">This prototype is for testing ideas for Alpha on the service 'RACE2'.</p>
        <p>This prototype covers Alpha ideas across the external user journey.</p>

        <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">User group:</h3>

        <p class="govuk-body govuk-!-padding-top-0">Supervising engineers</p>

        <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">The scenario</h3>

        <p class="govuk-body govuk-!-margin-bottom-9">Send supervising engineers statement for a reservoir</p>


        <!-- Link to Prototype -->
        <div class="govuk-button-group">
          <a href="/Alpha/index-alpha" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            View prototype
          </a>
        </div>


        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <!-- ########################################################################### -->
      </div>
    </div>
  </div>

  {% endblock %}