{% extends "layout-sign-out.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">

        <form action="/Beta/Private/submit-s12/V9-1/your-statements" method="post">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Rockingham Reservoir details</h1>

            <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Nearest town
                    </dt>
                    <dd class="govuk-summary-list__value" for="reservoir-town-old" id="reservoir-town-old"
                        name="reservoir-town-old">
                        Dalton Parva
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        National Grid reference
                    </dt>
                    <dd class="govuk-summary-list__value" for="reservoir-grid-ref-old" id="reservoir-grid-ref-old"
                        name="reservoir-grid-ref-old">
                        SU106951
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Named undertaker
                    </dt>
                    <dd class="govuk-summary-list__value" for="reservoir-grid-ref-old" id="reservoir-grid-ref-old"
                        name="reservoir-grid-ref-old">
                        Jenny Philips
                    </dd>
                </div>
                
            </dl>


            <div>
                <button role="button" draggable="false"
                    class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6 govuk-!-margin-right-4"
                    data-module="govuk-button">
                    Your annual statements
                </button>
            </div>

        </div>

    </form>

</div>

{% endblock %}