{% extends "layout-phase-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Send to named undertaker</h1>

        <form class="form" action="/Beta/Private/submit-s12/V9-1/upload-confirmation-2" method="post">


            <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Reservoir name
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-padding-left-9" for="reservoir-named-undertaker"
                        id="reservoir-named-undertaker" name="reservoir-named-undertaker">
                        Earlswood Common Boating Lake
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Named undertaker
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-padding-left-9" for="reservoir-named-undertaker"
                        id="reservoir-named-undertaker" name="reservoir-named-undertaker">
                        Sarah Smith
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-padding-left-9" for="reservoir-named-undertaker"
                        id="reservoir-named-undertaker" name="reservoir-named-undertaker">
                        sam.smith@construction.com
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Phone number
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-padding-left-9" for="reservoir-named-undertaker"
                        id="reservoir-named-undertaker" name="reservoir-named-undertaker">
                       01234567891
                    </dd>
                </div>
            </dl>

            <div>
                <button role="button" draggable="false"
                    class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6 govuk-!-margin-right-4"
                    data-module="govuk-button">
                    Send annual statement
                </button>
            </div>
  

        </form>




    </div>
</div>

{% endblock %}
