{% extends "layout.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/V2/submit-s12-statement/choose-a-reservoir" method="post">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Your Defra account has been created
                </h1>
            </div>

            <button role="button" draggable="false" class="govuk-button govuk-!-margin-top-8 govuk-!-margin-bottom-8"
                data-module="govuk-button">
                Continue
            </button>

        </form>

        {% include "includes/get-help.html" %}

    </div>
</div>

{% endblock %}