{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
Defra account
{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <form action="/Beta/V2/defra-id-account/charity-contact-details" method="post">


            <h1 class="govuk-heading-xl">Are these the correct charity details?</h1>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">
            Good Hands Charity Ltd
        </h2>

        <p>
            1 Francis Crick Avenue, Cambridge Biomedical Campus, Cambridge, United Kingdom, CB2 0AA
        </p>

        <p class="govuk-!-margin-bottom-6">
            Charity number 01234567.<br>
            <a href="charity-region">Use a different charity number</a>.
        </p>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    What to do if these details are not correct
                </span>
            </summary>
            <div class="govuk-details__text">
                You can contact Comply with UK REACH on 0330 159 1985 for advice.
            </div>
        </details>


        <button role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"
            data-module="govuk-button">
            Confirm
        </button>

        </form>

    </div>
</div>

{% endblock %}