{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
Defra account
{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">What is your name?</h1>

        <form class="form" action="/Beta/V2/defra-id-account/individual-check-info" method="post">


            <div class="govuk-form-group">
                <label class="govuk-label" for="defraIdFirstName">
                    First or given name
                </label>

                <input class="govuk-input govuk-!-width-three-quarters" id="defraIdFirstName" name="defraIdFirstName"
                    type="text">

            </div>


            <div class="govuk-form-group">
                <label class="govuk-label" for="defraIdSurname">
                    Surname or family name
                </label>

                <input class="govuk-input govuk-!-width-three-quarters" id="defraIdSurname" name="defraIdSurname"
                    type="text">

            </div>


            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>


        </form>

    </div>
</div>

{% endblock %}