{% extends "layout.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Verification successful</h1>

        <form action="/Beta/V2/submit-s12-statement/choose-a-reservoir" method="post">

            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                        Choose an organisation to use

                    </legend>


                    <div class="govuk-radios" data-module="govuk-radios">



                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="which-org" name="which-org" type="radio"
                                value="Andy James Produce Ltd.">
                            <label class="govuk-label govuk-radios__label" for="which-org">
                                Andy James Produce Ltd.
                            </label>

                        </div>



                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="which-org-2" name="which-org" type="radio"
                                value="mcvities">
                            <label class="govuk-label govuk-radios__label" for="which-org-2">
                                Mc Vities
                            </label>

                        </div>



                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="which-org-3" name="which-org" type="radio"
                                value="Ant Farm Co.">
                            <label class="govuk-label govuk-radios__label" for="which-org-3">
                                Ant Farm Co.
                            </label>

                        </div>


                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="which-org-4" name="which-org" type="radio"
                                value="Drummonds">
                            <label class="govuk-label govuk-radios__label" for="which-org-4">
                                Drummonds
                            </label>

                        </div>


                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="which-org-5" name="which-org" type="radio"
                                value="Echo Foods">
                            <label class="govuk-label govuk-radios__label" for="which-org-5">
                                Echo Foods
                            </label>

                        </div>



                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="which-org-6" name="which-org" type="radio"
                                value="Eddard Benjamin">
                            <label class="govuk-label govuk-radios__label" for="which-org-6">
                                Eddard Benjamin
                            </label>

                        </div>



                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="which-org-7" name="which-org" type="radio"
                                value="Hiscox James Ltd.">
                            <label class="govuk-label govuk-radios__label" for="which-org-7">
                                Hiscox James Ltd.
                            </label>

                        </div>



                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="which-org-8" name="which-org" type="radio"
                                value="Jan and Jo Exports">
                            <label class="govuk-label govuk-radios__label" for="which-org-8">
                                Jan and Jo Exports
                            </label>

                        </div>



                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="which-org-9" name="which-org" type="radio"
                                value="Moonfaced Dog Co.">
                            <label class="govuk-label govuk-radios__label" for="which-org-9">
                                Moonfaced Dog Co.
                            </label>

                        </div>



                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="which-org-10" name="which-org" type="radio"
                                value="Niche Transit">
                            <label class="govuk-label govuk-radios__label" for="which-org-10">
                                Niche Transit
                            </label>

                        </div>



                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="which-org-11" name="which-org" type="radio"
                                value="Poplar Enterprise Group">
                            <label class="govuk-label govuk-radios__label" for="which-org-11">
                                Poplar Enterprise Group
                            </label>

                        </div>


                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="which-org-12" name="which-org" type="radio"
                                value="Positively Great Goods">
                            <label class="govuk-label govuk-radios__label" for="which-org-12">
                                Positively Great Goods
                            </label>

                        </div>


                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="which-org-13" name="which-org" type="radio"
                                value="Rich Goods Company">
                            <label class="govuk-label govuk-radios__label" for="which-org-13">
                                Rich Goods Company
                            </label>

                        </div>


                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="which-org-14" name="which-org" type="radio"
                                value="Runnymede Foods Limited">
                            <label class="govuk-label govuk-radios__label" for="which-org-14">
                                Runnymede Foods Limited
                            </label>

                        </div>



                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="which-org-15" name="which-org" type="radio"
                                value="Rusquo Grub">
                            <label class="govuk-label govuk-radios__label" for="which-org-15">
                                Rusquo Grub
                            </label>

                        </div>



                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="which-org-16" name="which-org" type="radio"
                                value="Sandford Logistics">
                            <label class="govuk-label govuk-radios__label" for="which-org-16">
                                Sandford Logistics
                            </label>

                        </div>


                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="which-org-17" name="which-org" type="radio"
                                value="Sedgeford, Hoppleberg and Wadebridge">
                            <label class="govuk-label govuk-radios__label" for="which-org-17">
                                Sedgeford, Hoppleberg and Wadebridge
                            </label>

                        </div>


                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="which-org-18" name="which-org" type="radio"
                                value="Sjambok Steel">
                            <label class="govuk-label govuk-radios__label" for="which-org-18">
                                Sjambok Steel
                            </label>

                        </div>


                    </div>


                </fieldset>


            </div>








            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>









        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Add organisation
        </button>



        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Help with this page
                </span>
            </summary>
            <div class="govuk-details__text">
                If you are having problems you can call the service helpline on 0300 322 9434. Monday to Friday 8am to
                10pm, and Saturday to Sunday 8am to 4pm.
                Alternatively you can email the help desk: <a href="">servicedesk@defra.gov.uk</a>
            </div>
        </details>

    </div>
</div>

{% endblock %}