{% extends "layout-sign-out.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel-dropout govuk-!-margin-bottom-9">
            <h1 class="govuk-panel__title">
                Sorry, the service is unavailable
            </h1>
        </div>

        <p class="govuk-body">
            You will be able to use the service from [Time] on [Day] [Month] [Year].
        </p>
        <p class="govuk-body">
            If you need to talk to someone about your annual statement, contact the Reservoir Safety team. Email <a href="mailto:reservoirs@environment-agency.gov.uk" class="govuk-link">reservoirs@environment-agency.gov.uk</a>
        </p>
    </div>
</div>


{% endblock %}
