{% extends "layout-sign-out.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">

        <form action="/Beta/submit-s12-statement/V6/s12-statement/questions/operator-safety-measures" method="post">

            <h1 class="govuk-heading-xl">Monitoring actions for the operator</h1>


            <div class="govuk-summary-card govuk-!-margin-bottom-6">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Monitoring action 1</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Action
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body govuk-!-margin-bottom-2">Sluice gate</p>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Description
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body govuk-!-margin-bottom-2">The sluice gate should be operated over at least 10 full turns twice annually and through its full travel at least once every 3 years, with a record of these operations added in the PFR.</p>
                            </dd>
                        </div>
                       
                    </dl>
                </div>
            </div>

            <div class="govuk-form-group govuk-!-margin-bottom-9 govuk-!-padding-bottom-4">
                <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                        Comments
                    </label>
                </h2>
                <textarea class="govuk-textarea" id="visual-inspect-description-reason-1"
                    name="visual-inspect-description-reason-1" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>


            <div class="govuk-summary-card govuk-!-margin-bottom-6">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Monitoring action 2</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Action
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body govuk-!-margin-bottom-2">Measure water levels</p>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Description
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body govuk-!-margin-bottom-2">Water levels should continue to be measured and recorded weekly. In addition, every effort should be made to measure and note in the record book the highest water level reached in the reservoir during any major flood, either by direct observation during the event or by subsequently observing the elevation of the wrack line relative to the overflow level.</p>
                            </dd>
                        </div>
                       
                    </dl>
                </div>
            </div>

            <div class="govuk-form-group govuk-!-margin-bottom-9 govuk-!-padding-bottom-4">
                <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                        Comments
                    </label>
                </h2>
                <textarea class="govuk-textarea" id="visual-inspect-description-reason-1"
                    name="visual-inspect-description-reason-1" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>


            <div class="govuk-summary-card govuk-!-margin-bottom-6">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Monitoring action 3</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Action
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body govuk-!-margin-bottom-2">Crest of the dam</p>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Description
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body govuk-!-margin-bottom-2">Settlement of the crest of the dam to be recorded every 5 years and as observed.</p>
                            </dd>
                        </div>
                       
                    </dl>
                </div>
            </div>

            <div class="govuk-form-group govuk-!-margin-bottom-9 govuk-!-padding-bottom-4">
                <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                        Comments
                    </label>
                </h2>
                <textarea class="govuk-textarea" id="visual-inspect-description-reason-1"
                    name="visual-inspect-description-reason-1" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>


            <div class="govuk-summary-card govuk-!-margin-bottom-6">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Monitoring action 4</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Action
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body govuk-!-margin-bottom-2">Leakage in pipe</p>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Description
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body govuk-!-margin-bottom-2">The area on the toe where the outlet pipe exists be watched for signs of any leakage.</p>
                            </dd>
                        </div>
                       
                    </dl>
                </div>
            </div>

            <div class="govuk-form-group govuk-!-padding-bottom-4">
                <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                        Comments
                    </label>
                </h2>
                <textarea class="govuk-textarea" id="visual-inspect-description-reason-1"
                    name="visual-inspect-description-reason-1" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>


            <div class="govuk-summary-card govuk-!-margin-bottom-6">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Monitoring action 5</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Action
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body govuk-!-margin-bottom-2">Improving surveillance</p>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Description
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body govuk-!-margin-bottom-2">I recommend that the dam crest be visited no less than once every month by the Undertaker or their representative and a visual check carried out. Notify the supervising engineer if seepage, erosion or anything untoward is detected.</p>
                            </dd>
                        </div>
                     
                    </dl>
                </div>
            </div>

            <div class="govuk-form-group govuk-!-padding-bottom-4">
                <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                        Comments
                    </label>
                </h2>
                <textarea class="govuk-textarea" id="visual-inspect-description-reason-1"
                    name="visual-inspect-description-reason-1" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>


            <div>
                <button role="button" draggable="false"
                    class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6 govuk-!-margin-right-4"
                    data-module="govuk-button">
                    Continue
                </button>
                <button type="submit"
                    class="govuk-button govuk-button--secondary govuk-!-margin-top-6 govuk-!-margin-bottom-9"
                    data-module="govuk-button">
                    Save and come back later
                </button>
            </div>

        </form>
    </div>
</div>

{% endblock %}
