{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/V2/submit-s12-statement/alt-supervising-engineer/super-engineer" method="post" class="form">

            <h1 class="govuk-heading-xl">Are these the new inspecting engineer's details?</h1>

            <dl class="govuk-summary-list govuk-summary-list--no-border">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{ data['new-inspecting-engineer-name'] }}</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/Beta/V1/submit-s12-statement/operator-details/change-name">
                            Change<span class="govuk-visually-hidden">name</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{ data['new-inspecting-engineer-address-1'] }}<br>{{ data['new-inspecting-engineer-address-2'] }}<br>{{
                            data['new-inspecting-engineer-address-3'] }}</p>
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/Beta/V1/submit-s12-statement/operator-details/change-address-2">
                            Change<span class="govuk-visually-hidden">address</span>
                        </a>
                    </dd> -->
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{ data['new-inspecting-engineer-email'] }}</p>
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/Beta/V1/submit-s12-statement/operator-details/change-email-2">
                            Change<span class="govuk-visually-hidden">operator's email address</span>
                        </a>
                    </dd> -->
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Phone
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{ data['new-inspecting-engineer-phone'] }}</p>
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/Beta/V1/submit-s12-statement/operator-details/change-operator-phone">
                            Change<span class="govuk-visually-hidden">operator's phone number</span>
                        </a>
                    </dd> -->
                </div>


            </dl>

            <button role="button" draggable="false" class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6"
                data-module="govuk-button">
                Confirm
            </button>

        </form>

    </div>
</div>

{% endblock %}