{% extends "layout-sign-out.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">What's the name and location of the reservoir you're looking for?</h1>

        <form class="form" action="/Beta/submit-s12-statement/V3/s12-statement/reservoir-details/new-reservoir" method="post">

            <div class="govuk-form-group">

                <label class="govuk-label govuk-label--m" for="new-name">
                    Reservoir name
                </label>
               <input class="govuk-input" id="new-name" name="new-name" type="text">
            </div>

            <div class="govuk-form-group">

                <label class="govuk-label govuk-label--m" for="new-postcode">
                    Nearest town
                </label>
               <input class="govuk-input govuk-!-width-one-quarter" id="new-postcode" name="new-postcode" type="text">
            </div>

            <div class="govuk-form-group">

                <label class="govuk-label govuk-label--m" for="new-grid-ref">
                    National Grid reference
                </label>
               <input class="govuk-input govuk-!-width-one-third" id="new-grid-ref" name="new-grid-ref" type="text">
            </div>

            <div>
                <button role="button" draggable="false"
                    class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6 govuk-!-margin-right-4"
                    data-module="govuk-button">
                    Continue
                </button>
                <button type="submit"
                    class="govuk-button govuk-button--secondary govuk-!-margin-top-6 govuk-!-margin-bottom-9"
                    data-module="govuk-button">
                    Save and come back later
                </button>
            </div>
  

        </form>



    </div>
</div>

{% endblock %}
