{% extends "layout-new-crown.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-caption-xl">Alpha</span>
      Using the section 12 statements
    </h1>

    <p class="govuk-body-l govuk-!-margin-bottom-2">
      <span class="govuk-body-l govuk-!-font-weight-bold">User group:</span>
      Internal users
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-5">
      <li>Compliance and monitoring</li>
      <li>Data and information team</li>
      <li>Enforcement</li>
      <li>Standards and incidents team</li>
    </ul>


    <div class="card govuk-!-margin-top-6 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 10</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Engineers full statement
      </h2>

      <a href="/Beta/using-s12-statement/full-statement-V1"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-6">Version
        1</a>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>

      <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-6">

        <li>To gather additional information about how staff within the Reservoir safety team use information from the section 12 statements.
        </li>

        <li>What does their current process look like?
        </li>

        <li>How are they using the data currently?
        </li>

        <li>To evaluate our initial prototype concept for gathering section 12 statements online.
        </li>

        <li>How might the prototype output fit with their current ways of working. Flood plan, PDF upload
          Language?
        </li>

        <li>What benefits do they anticipate from having access to the data shown in the prototype?
        </li>

        <li>What challenges might this data help ease?
        </li>

        <li>What challenges do they see with the prototype output?
        </li>

        <li>Are there any concerns about combining approaches whilst moving toward a new system?
        </li>

        <li>What might improve the prototype data?
        </li>

        <li>What information might be missing?
        </li>

        <li>What are their thoughts on the quality of the output?
        </li>

        <li>Are there any concerns about the accuracy/quality of the data? Why?
        </li>

        <li>What are their thoughts of this approach as a generic framework for gathering information e.g. S12 and S10?
        </li>

      </ul>


    </div>


    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 12</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Engineers summary statement
      </h2>

      <a href="/Beta/using-s12-statement/summary-statement-V1"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-6">Version
        1</a>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Engineers full statement
      </h2>

      <a href="/Beta/using-s12-statement/full-statement-V2"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-6">Version
        2</a>


      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>

      <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-6">

        <li>To gather additional information about how staff within the Reservoir safety team use information from the section 12 statements.
        </li>

        <li>What does their current process look like?
        </li>

        <li>How are they using the data currently?
        </li>

        <li>To evaluate our 2x prototype concepts for gathering section 12 statements online.
        </li>

        <li>What benefits they see for each of the prototypes? Why?
        </li>

        <li>What challenges they see for each of the prototypes? Why?
        </li>

        <li>What elements of the prototypes do they like? Why?
        </li>

        <li>What elements of the prototypes do they dislike? Why?
        </li>

        <li>What would be their preferred approach for an online service? Why?
        </li>

      </ul>

    </div>

  </div>

</div>

{% endblock %}