{% extends "layout-new-crown.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-caption-xl">Alpha</span>
      Using the section 12 statements
    </h1>

  </div>

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <a href="/Beta/using-s12-statement/summary-statement-V1" class="govuk-heading-m govuk-link--no-visited-state">Summary statement - V1</a>

      <a href="/Beta/using-s12-statement/full-statement-V2"
        class="govuk-heading-m govuk-link--no-visited-state">Full statement - V2</a>

      <p class="govuk-body govuk-!-padding-bottom-6">Sprint 12</p>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">User group:</h3>

      <p class="govuk-body govuk-!-padding-top-0">Internal users</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>Compliance and monitoring</li>
        <li>Data and information team</li>
        <li>Enforcement</li>
       <li>Standards and incidents team</li>
      </ul>



      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we tested</h3>



      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>How might the prototype output fit with their current ways of working?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">Flood plan?<br>PDF upload?<br>The language used?</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>What benefits do they anticipate from having access to the data shown in the prototype?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">What challenges might this data help ease?</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>What challenges do they see with the prototype output?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">Are there any concerns about combining approaches whilst moving toward
        a new system?</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>What might improve the prototype data?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">What information might be missing?</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>What are their thoughts on the quality of the output?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">Are there any concerns about the accuracy/quality of the data? Why?
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>What are their thoughts of this approach as a generic framework for gathering information
          e.g. S12 and S10?</li>
      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we learned</h3>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>TBC
        </li>
      </ul>

    </div>


    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <a href="/Beta/using-s12-statement/full-statement-V1"
        class="govuk-heading-m govuk-link--no-visited-state">Full statement - V1</a>


      <p class="govuk-body govuk-!-padding-bottom-6">Sprint 10</p>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">User group:</h3>

      <p class="govuk-body govuk-!-padding-top-0">Internal users</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>Compliance and monitoring</li>
        <li>Data and information team</li>
        <li>Enforcement</li>
       <li>Standards and incidents team</li>
      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we tested</h3>



      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>How might the prototype output fit with their current ways of working?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">Flood plan?<br>PDF upload?<br>The language used?</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>What benefits do they anticipate from having access to the data shown in the prototype?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">What challenges might this data help ease?</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>What challenges do they see with the prototype output?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">Are there any concerns about combining approaches whilst moving toward
        a new system?</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>What might improve the prototype data?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">What information might be missing?</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>What are their thoughts on the quality of the output?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">Are there any concerns about the accuracy/quality of the data? Why?
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>What are their thoughts of this approach as a generic framework for gathering information
          e.g. S12 and S10?</li>
      </ul>




      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we learned</h3>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>TBC
        </li>
      </ul>

      <!-- <p class="govuk-body govuk-!-margin-bottom-6">Read the full <a
          href="https://defra.sharepoint.com/:p:/r/sites/MSTDefraRACE/_layouts/15/Doc.aspx?sourcedoc=%7BAAE55E48-B038-44DE-AF4B-544BC75711A3%7D&file=SE%20Report%20-%20Prototype%20Evaluation%20(part%202).pptx&action=edit&mobileredirect=true"
          class="govuk-link govuk-link--no-visited-state">Supervising engineers prototype evaluation</a> report</p> -->

    </div>


  </div>
</div>

{% endblock %}