{% extends "layout-new-crown.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-caption-xl">Alpha</span>
      Using the section 12 statements
    </h1>

    <p class="govuk-body-l govuk-!-margin-bottom-4">
      <span class="govuk-body-l govuk-!-font-weight-bold">User group:</span>
      Internal users
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>Compliance and monitoring</li>
      <li>Data and information team</li>
      <li>Enforcement</li>
      <li>Standards and incidents team</li>
    </ul>

  </div>

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 10</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Engineers full statement
      </h2>

      <a href="/Beta/using-s12-statement/full-statement-V1"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-6">Version
        1</a>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>How might the prototype output fit with their current ways of working?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">Flood plan?<br>PDF upload?<br>The language used?</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>What benefits do they anticipate from having access to the data shown in the prototype?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">What challenges might this data help ease?</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>What challenges do they see with the prototype output?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">Are there any concerns about combining approaches whilst moving
        toward
        a new system?</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>What might improve the prototype data?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">What information might be missing?</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>What are their thoughts on the quality of the output?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">Are there any concerns about the accuracy/quality of the data?
        Why?
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>What are their thoughts of this approach as a generic framework for gathering information
          e.g. S12 and S10?</li>
      </ul>


    </div>


    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 12</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Engineers summary statement
      </h2>

      <a href="/Beta/using-s12-statement/summary-statement-V1"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-6">Version
        1</a>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Engineers full statement
      </h2>

      <a href="/Beta/using-s12-statement/full-statement-V2"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-6">Version
        2</a>


      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>How might the prototype output fit with their current ways of working?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">Flood plan?<br>PDF upload?<br>The language used?</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>What benefits do they anticipate from having access to the data shown in the prototype?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">What challenges might this data help ease?</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>What challenges do they see with the prototype output?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">Are there any concerns about combining approaches whilst moving
        toward
        a new system?</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>What might improve the prototype data?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">What information might be missing?</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>What are their thoughts on the quality of the output?</li>
      </ul>
      <p class="govuk-body govuk-!-margin-left-4">Are there any concerns about the accuracy/quality of the data?
        Why?
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-6">
        <li>What are their thoughts of this approach as a generic framework for gathering information
          e.g. S12 and S10?</li>
      </ul>

    </div>


  </div>
</div>

{% endblock %}