// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.sign-out-nav {
    float: right;
}

.sign-out-nav__link {
    color: #fff;
    font-weight: 700;
    line-height: 1.8em;
    text-decoration: none;
}

.grey-line {
    border-top: 1px solid #b1b4b6;
    padding-top: 60px;

}

.emails-button {
    padding: 10px;
    margin: 0;
    border: 1px solid #b1b4b6;
    color: #1d70b8;
    cursor: pointer;
    background: none;
}

.bell-icon {
    color: #0b0c0c;
    vertical-align: top;
    margin-right: 5px;
}

.grey-panel {
    margin-bottom: 50px;
    padding: 20px 30px;
    background: #f3f2f1;
    margin-bottom: 15px;
    padding: 15px;
}

.one-third-nav {
    color: #0b0c0c;
    border-top: 2px solid #1d70b8;
    margin-bottom: 60px;
}

.gem-c-print-link__button {
    border: 1px solid #b1b4b6;
    color: #1d70b8;
    cursor: pointer;
    margin: 0;
}

.gem-c-print-link__link,
.gem-c-print-link__button {
    background-image: url(/public/images/icon-print.png);
}

.gem-c-print-link__link,
.gem-c-print-link__button {
    background: url(/public/images/icon-print.png) no-repeat 10px 50%;
    background-size: 16px 18px;
    padding: 10px 10px 10px 36px;
    text-decoration: none;
}

.language-toggle {
    float: right;
    width: 32%;
    text-align: right;
    white-space: nowrap;
}

.language-toggle li:first-child {
    padding-left: 0;
    border-left: none;
    margin-left: 0;
}

.language-toggle li {
    display: inline-block;
    padding-left: 1rem;
    border-left: 0.1rem solid currentColor;
    margin-left: 0.66rem;
}

.govspeak,
.gem-c-govspeak {
    font-size: 16px;
    line-height: 1.25;
}

.govspeak,
.gem-c-govspeak {
    color: #0b0c0c;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1428571429;
}

.blue-line {
    border-top: 2px solid #1d70b8;
}

.grey-line-left {
    border-left: 1px solid #b1b4b6 !important;
}


.login-nav {
    font-size: 14px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #bfc1c3;
}

.login-nav__list-item {
    position: relative;
    margin-bottom: 15px;
    padding-right: 5px;
    padding-left: 0;
    padding-bottom: 20px;
    float: right;
}

.govuk-select-alt {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    Width: 500px !important;
    height: 40px;
    height: 2.5rem;
    padding: 5px;
    border: 2px solid #0b0c0c;
    color: #0b0c0c;
    background-color: #ffffff;
}


// Beta V2 styles //

.width-15 {
    width: 15% !important;
}



// Beta V3 styles //

.search-input-wrapper {
    display: table;
    width: 100%;
    background: #ffffff;
}

.search-input-submit-wrapper {
    width: 1%;
    position: relative;
    display: table-cell;
    vertical-align: top;
}

.search-wrapper .search-submit {
    width: 40px;
    height: 40px;
    background-position: 2px 50%;
}

.search-submit {
    background-color: #008938;
    color: #ffffff;
}
.search-submit {
    border: 0;
    cursor: pointer;
    border-radius: 0;
    position: relative;
    padding: 0;
    width: 40px;
    height: 40px;
    background-image: url(/public/images/search-button.png);
    overflow: hidden;
}

  body {
    font-family: "GDS Transport", arial, sans-serif;  
  }
  
  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 2px solid #000000;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: transparent;
    width: 100%;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #1d70b8 !important;
    color: #ffffff; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: #1d70b8 !important; 
    color: #ffffff; 
  }

  input:focus {
    outline-offset: 0;
    outline: 3px solid #ffbf47;
  }

.govuk-panel-dropout {
    color: #0b0c0c;
    background: #f3f2f1;
}

.heading-underline {
    border-bottom: 1px solid #b1b4b6;
}