# ignore tracking usage data config - we want a different one for each user
usage-data-config.json
# ignore extension SCSS because it's dynamically generated
lib/extensions/_extensions.scss
.env
.sass-cache
.DS_Store
.start.pid
.port.tmp
public
node_modules/
.tmuxp.*
.idea
app/views/submit-s12-statement/reservoir-details/change-reservoir-name.html
app/views/submit-s12-statement/reservoir-details/change-reservoir-postcode-2.html
app/views/submit-s12-statement/reservoir-details/change-reservoir-postcode-3.html
app/views/submit-s12-statement/reservoir-details/change-reservoir-postcode.html
app/views/submit-s12-statement/reservoir-details/confirm-details-2.html
app/views/submit-s12-statement/reservoir-details/confirm-details-3.html
app/views/submit-s12-statement/reservoir-details/confirm-details-4.html
app/views/submit-s12-statement/reservoir-details/confirm-details-5.html
app/views/submit-s12-statement/reservoir-details/confirm-details-6.html
app/views/submit-s12-statement/reservoir-details/confirm-details-7.html
app/views/submit-s12-statement/reservoir-details/confirm-details-8.html
app/views/submit-s12-statement/reservoir-details/confirm-details.html
app/views/submit-s12-statement/reservoir-details/confirm-reservoir-dam-cat-2.html
app/views/submit-s12-statement/reservoir-details/confirm-reservoir-dam-cat.html
app/views/submit-s12-statement/reservoir-details/confirm-reservoir-grid-ref-2.html
app/views/submit-s12-statement/reservoir-details/confirm-reservoir-grid-ref.html
app/views/submit-s12-statement/reservoir-details/confirm-reservoir-name.html
app/views/submit-s12-statement/reservoir-details/confirm-reservoir-postcode-2.html
app/views/submit-s12-statement/reservoir-details/confirm-reservoir-postcode.html
