{% extends "layout-account-service-name.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block beforeContent %}

<div class="govuk-phase-banner">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service — your <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_0wFTSeSWzDuXiRg/"
            class="govuk-link">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#">Enter a password</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <h1 class="govuk-heading-l govuk-!-margin-top-8">Create a new password</h1>


    <p class="govuk-body">Your password must at least 8 characters. Use a mixture of letters, numbers and symbols.</p>

    <div class="govuk-form-group govuk-form-group--error">


      <label for="password-3" class="gem-c-label govuk-label">New password</label>

      <p id="full-name-input-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span>Enter a password
      </p>


      <div class="gem-c-show-password__input-wrapper width-error-1">

        <input autocomplete="off" class="gem-c-input govuk-input gem-c-input--with-password  govuk-input--error" id="password-3"
          spellcheck="false" type="password"><button class="gem-c-show-password__toggle" aria-controls="password-3"
          type="button" aria-label="Show password">Show</button><span class="govuk-visually-hidden"
          aria-live="polite">Your password
          is shown</span>

      </div>
    </div>


    <div class="govuk-form-group">

      <label for="password-4" class="gem-c-label govuk-label">Confirm new password</label>

      <div class="gem-c-show-password__input-wrapper">
      
        <input autocomplete="off" class="gem-c-input govuk-input gem-c-input--with-password" id="password-4"
          spellcheck="false" type="password"><button class="gem-c-show-password__toggle" aria-controls="password-4"
          type="button" aria-label="Show password">Show</button><span class="govuk-visually-hidden"
          aria-live="polite">Your password
          is shown</span>

      </div>
    </div>


    <button ole="button" draggable="false" class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-8"
      data-module="govuk-button">
      Continue
    </button>


  </div>
</div>

{% endblock %}