{% extends "layout-new-crown.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-caption-xl">Private Beta</span>
      Cookies
    </h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">User group:</h2>

    <p class="govuk-body govuk-!-margin-bottom-6">Supervising engineers</p>

  </div>

</div>


<p class="govuk-caption-l govuk-!-margin-top-6">Sprint 5</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <h2 class="govuk-heading-m">
        View Cookies before sign in
      </h2>


      <a href="/Beta/Private/Cookies/V1/essential/before-sign-in/service-start"
        class="govuk-heading-m govuk-link--no-visited-state">Version 1</a>

        <details class="govuk-details govuk-!-margin-bottom-9">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table govuk-!-width-three-quarters">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">What we created</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
  
                    <p class="govuk-body">Service start</p>
  
                    <p class="govuk-body">Added the following:</p>
  
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>Name of the service in the H1
                      </li>
  
                      <li>You can use the service to and a list of bullets
                      </li>
                      <li>What you can't use the service to do and the alternative email address to use
                      </li>
                      <li>Before you start and a list of bullets,
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
  
  
          </div>
        </details>

      <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">View Cookies after sign in</h2>

      <a href="/Beta/Private/Cookies/V1/essential/after-sign-in/your-statements"
        class="govuk-heading-m govuk-link--no-visited-state">Version 1</a>

        <details class="govuk-details govuk-!-margin-bottom-9">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table govuk-!-width-three-quarters">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">What we created</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
  
                    <p class="govuk-body">Service start</p>
  
                    <p class="govuk-body">Added the following:</p>
  
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>Name of the service in the H1
                      </li>
  
                      <li>You can use the service to and a list of bullets
                      </li>
                      <li>What you can't use the service to do and the alternative email address to use
                      </li>
                      <li>Before you start and a list of bullets,
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
  
  
          </div>
        </details>

    </div>
  </div>
</div>

  {% endblock %}