{% extends "layout-back-button.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Private Beta</span>
      Cookies
    </h1>

    <!-- <h1 class="govuk-heading-xl">Submit an annual statement</h1> -->

    <h2 class="govuk-heading-l"></h2>
  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <!-- Version -->
      <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-2">
        Version 1
      </strong>

      <p class="govuk-body" style="color: #0b0c0c;">Sprint 5</p>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">User group:</h3>

      <p class="govuk-body govuk-!-padding-top-0">Supervising engineers</p>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">The scenarios</h3>

      <ol class="govuk-list govuk-list--number">

        <li>User wants to see cookies before sign in</li>

        <li class="govuk-!-margin-bottom-9">User wants to see cookies after they have signed in</li>

      </ol>


      <!-- Link to Prototype -->
      <div class="govuk-button-group">
        <a href="/Beta/Private/Cookies/V1/essential/before-sign-in/service-start.html" role="button" draggable="false"
          class="govuk-button" data-module="govuk-button">
          1. Before the user signs in
        </a>
      </div>

      <!-- Link to Prototype -->
      <div class="govuk-button-group">
        <a href="/Beta/Private/Cookies/V1/essential/after-sign-in/your-statements.html" role="button" draggable="false"
          class="govuk-button" data-module="govuk-button">
          2. After the user has signed in
        </a>
      </div>
  </div>
</div>

{% endblock %}
