{% extends "layout-phase-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/Private/account-sign-in/first-time-registering/V2/sign-in-2" method="post">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Your password has been created.
                </h1>
            </div>



            <!-- <h2 class="govuk-heading-m govuk-!-padding-top-6">What happens next</h2>

            <p class="govuk-body">The Reservoir Safety team at the Environment Agency might contact you for more
                information.
            </p> -->

            <p class="govuk-body">Continue to start your annual statement.
            </p>

            <button ole="button" draggable="false" class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6"
                data-module="govuk-button">
                Continue
            </button>

        </form>

      


    </div>
</div>

{% endblock %}
