{% extends "layout-account-service-name.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block beforeContent %}

<div class="govuk-phase-banner">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">
                    Beta
                </strong>
                <span class="govuk-phase-banner__text">
                    This is a new service — your <a
                        href="https://defragroup.eu.qualtrics.com/jfe/form/SV_0wFTSeSWzDuXiRg/"
                        class="govuk-link">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>
</div>

<a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Create a password</h1>

        <form action="/Beta/Private/account-sign-in/first-time-registering/V2/confirmation" method="post">

            <p>Your password must be 8 or more characters. Use a mixture of letters, numbers and symbols.</p>


            <div class="govuk-form-group">

                <label for="input-722309f3" class="gem-c-label govuk-label">Create a password</label>

                <div class="gem-c-show-password__input-wrapper"><input autocomplete="off"
                        class="gem-c-input govuk-input gem-c-input--with-password" id="input-722309f3"
                        spellcheck="false" type="password"><button class="gem-c-show-password__toggle"
                        aria-controls="input-722309f3" type="button" aria-label="Hide password">Show</button><span
                        class="govuk-visually-hidden" aria-live="polite">Your password is shown</span></div>
            </div>



            <div class="govuk-form-group">

                <label for="password-3" class="gem-c-label govuk-label">Confirm your password</label>

                <div class="gem-c-show-password__input-wrapper"><input autocomplete="off"
                        class="gem-c-input govuk-input gem-c-input--with-password" id="password-3" spellcheck="false"
                        type="password"><button class="gem-c-show-password__toggle" aria-controls="password-3"
                        type="button" aria-label="Show password">Show</button><span class="govuk-visually-hidden"
                        aria-live="polite">Your password is shown</span></div>
            </div>


            <button ole="button" draggable="false" class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-8"
                data-module="govuk-button">
                Continue
            </button>


        </form>


    </div>
</div>

{% endblock %}