{% extends "layout-account.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block beforeContent %}

<div class="govuk-phase-banner" id="beta-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service — your <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_0wFTSeSWzDuXiRg/"
        class="govuk-link">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="login-nav">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new"><a href="#"
        class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#"
        class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

<a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">

      <h1 class="govuk-panel__title">
        Template downloaded
      </h1>
    </div>

     
      <p class="govuk-body">You downloaded a template for Rockingham Reservoir.</p>
        
    <h2 class="govuk-heading-m govuk-!-padding-top-6">What happens next</h2>

    <p class="govuk-body">Fill in the template. Sign back into the service to upload it and send it to the undertaker and the Environment Agency.
    </p>

    <p class="govuk-body">You can go to <a class="govuk-link govuk-link--no-visited-state"
        href="/Beta/Private/submit-s12/V9-1/your-statements-1-in-prog">your annual statements</a> or to your <a
        class="govuk-link govuk-link--no-visited-state"
        href="/Beta/Private/submit-s12/V9-1/manage-account-details">account</a> to manage your information.
    </p>

    <p class="govuk-body govuk-!-margin-top-9"><a href="#" class="govuk-link govuk-link--no-visited-state">What did you
        think of this service?</a> (takes 30 seconds)</p>

  </div>
</div>

{% endblock %}