{% extends "layout-account-service-name.html" %}
{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block beforeContent %}

<div class="govuk-phase-banner">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
        <span class="govuk-phase-banner__text">
          This is a new service — your <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_0wFTSeSWzDuXiRg/"
            class="govuk-link">feedback</a> will help us to improve it.
        </span>

      </p>
    </div>
    <div class="govuk-grid-column-one-third-from-desktop float-right">
      <a href="/Beta/Private/submit-s12/V10/manage-account-details"
        class="govuk-link login-nav-2-item govuk-link--no-visited-state profile">Manage account</a>

      <a href="#" class="govuk-link login-nav-2-item govuk-link--no-visited-state">Sign out</a>

    </div>
  </div>

</div>


{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Your annual statements
    </h1>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#current">
            Current
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#previous">
            Previous
          </a>
        </li>
      </ul>



      <div class="govuk-tabs__panel" id="current">
        <h2 class="govuk-heading-l">Current</h2>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                <form method="get" novalidate="">

                  <div class="search-wrapper govuk-form-group">
                    <label for="search-applications" class="govuk-label">Search by reservoir name</label>

                    <div class="search-input-wrapper">
                      <input type="search" value="" id="search-applications" name="search" title="Search"
                        class="govuk-input">

                      <div class="search-input-submit-wrapper">
                        <button type="submit" class="search-submit">Search</button>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>





        <table class="govuk-table govuk-!-margin-top-4">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row govuk-body govuk-!-font-size-16">
              <th scope="col" class="govuk-table__header app-custom-class">Reservoir
                <div class="icon-sort-asce"></div>
                <div class="icon-sort-desc"></div>
              </th>
              <th scope="col" class="govuk-table__header app-custom-class">Undertaker
                <div class="icon-sort-asce"></div>
                <div class="icon-sort-desc"></div>
              </th>
              <th scope="col" class="govuk-table__header app-custom-class">Due date
                <div class="icon-sort-asce"></div>
                <div class="icon-sort-desc"></div>
              </th>
              <th scope="col" class="govuk-table__header app-custom-class">Status
                <div class="icon-sort-asce"></div>
                <div class="icon-sort-desc"></div>
              </th>
              <th scope="col" class="govuk-table__header app-custom-class"></th>
              <th scope="col" class="govuk-table__header app-custom-class"></th>
            </tr>
          </thead>

          <tbody class="govuk-table__body govuk-body govuk-!-font-size-16">

            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Eagle Pond</td>
              <td class="govuk-table__cell">Sarah Smith</td>
              <td class="govuk-table__cell">10 December 2023</td>
              <td class="govuk-table__cell"><strong class="not-started-tag-new">
                  Not started
                </strong></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="">Download</a>
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state"
                  href="/Beta/Private/submit-s12/V10/upload-your-template-2">Upload</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Rockingham Reservoir</td>
              <td class="govuk-table__cell">Jenny Philips</td>
              <td class="govuk-table__cell">10 December 2023</td>
              <td class="govuk-table__cell"><strong class="not-started-tag-new">
                  Not started
                </strong></td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="">Download</a>
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state"
                  href="/Beta/Private/submit-s12/V10/upload-your-template">Upload</a>
              </td>
            </tr>

          </tbody>
        </table>

      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="previous">
        <h2 class="govuk-heading-l">Previous</h2>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                <form method="get" novalidate="">

                  <div class="search-wrapper govuk-form-group">
                    <label for="search-applications" class="govuk-label">Search by reservoir name</label>

                    <div class="search-input-wrapper">
                      <input type="search" value="" id="search-applications" name="search" title="Search"
                        class="govuk-input">

                      <div class="search-input-submit-wrapper">
                        <button type="submit" class="search-submit">Search</button>
                      </div>
                    </div>
                  </div>

                </form>

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    <button onclick="myFunction()" class="filter-button-2">Show filters</button>
                    <div id="myDropdown" class="dropdown-content">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                          <h3 class="govuk-fieldset__heading">
                            Filter by year
                          </h3>
                        </legend>

                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                          <div class="govuk-checkboxes__item govuk-!-margin-top-2">
                            <input class="govuk-checkboxes__input" id="2020" name="2020" type="checkbox" value="2020">
                            <label class="govuk-label govuk-checkboxes__label" for="2020">
                              2020
                            </label>
                          </div>

                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="2021" name="2021" type="checkbox" value="2021">
                            <label class="govuk-label govuk-checkboxes__label" for="2021">
                              2021
                            </label>
                          </div>

                          <div class="govuk-checkboxes__item govuk-!-margin-bottom-4">
                            <input class="govuk-checkboxes__input" id="2022" name="2022" type="checkbox" value="2022">
                            <label class="govuk-label govuk-checkboxes__label" for="2022">
                              2022
                            </label>

                          </div>

                        </div>

                      </fieldset>

                      <button class="govuk-button" data-module="govuk-button">
                        Apply filters
                      </button>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>





            <p class="govuk-body govuk-!-margin-top-8 govuk-!-margin-bottom-5">Showing 5 reservoirs</p>



            <table class="govuk-table govuk-!-margin-top-4 govuk-body govuk-!-font-size-16">

              <thead class="govuk-table__head">

                <tr class="govuk-table__row">

                  <th scope="col" class="govuk-table__header app-custom-class" aria-sort="">
                    <button aria-label="Sort by Reservoir" type="button" class="icon-sort-button">Reservoir
                      <div class="icon-sort"></div>
                    </button>
                  </th>

                  <th scope="col" class="govuk-table__header app-custom-class" aria-sort="">
                    <button aria-label="Sort by Undertaker" type="button" class="icon-sort-button">Undertaker
                      <div class="icon-sort"></div>
                    </button>
                  </th>

                  <th scope="col" class="govuk-table__header app-custom-class" aria-sort="">
                    <button aria-label="Sort by Statement date" type="button" class="icon-sort-button">Statement date
                      <div class="icon-sort"></div>
                    </button>
                  </th>

                  <th scope="col" class="govuk-table__header app-custom-class" aria-sort="">
                    <button aria-label="Sort by Status" type="button" class="icon-sort-button">Status
                      <div class="icon-sort"></div>
                    </button>
                  </th>

                  <th scope="col" class="govuk-table__header app-custom-class"></th>

                </tr>

              </thead>

              <tbody class="govuk-table__body govuk-body govuk-!-font-size-16">

                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell">Breaker Falls</td>
                  <td class="govuk-table__cell">David Foster</td>
                  <td class="govuk-table__cell">14 October 2022</td>
                  <td class="govuk-table__cell"><strong class="received-tag-new">
                      Submitted
                    </strong></td>
                  <td class="govuk-table__cell">
                    <a class="govuk-link govuk-link--no-visited-state" href="#">View</a>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell">Lake No.1 Reservoir</td>
                  <td class="govuk-table__cell">Ellie Waters</td>
                  <td class="govuk-table__cell">22 September 2022</td>
                  <td class="govuk-table__cell"><strong class="received-tag-new">
                      Submitted
                    </strong></td>
                  <td class="govuk-table__cell">
                    <a class="govuk-link govuk-link--no-visited-state" href="#">View</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell">Eagle Pond</td>
                  <td class="govuk-table__cell">Sarah Smith</td>
                  <td class="govuk-table__cell">10 September 2022</td>
                  <td class="govuk-table__cell"><strong class="received-tag-new">
                      Submitted
                    </strong></td>
                  <td class="govuk-table__cell">
                    <a class="govuk-link govuk-link--no-visited-state" href="#">View</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell">Coatenhill Reservoir</td>
                  <td class="govuk-table__cell">Robert Hargreaves</td>
                  <td class="govuk-table__cell">5 August 2022</td>
                  <td class="govuk-table__cell"><strong class="received-tag-new">
                      Submitted
                    </strong></td>
                  <td class="govuk-table__cell">
                    <a class="govuk-link govuk-link--no-visited-state" href="#">View</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell">Rockingham Reservoir</td>
                  <td class="govuk-table__cell">Jenny Philips</td>
                  <td class="govuk-table__cell">7 June 2022</td>
                  <td class="govuk-table__cell"><strong class="received-tag-new">
                      Submitted
                    </strong></td>
                  <td class="govuk-table__cell">
                    <a class="govuk-link govuk-link--no-visited-state" href="#">View</a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <script>
      /* When the user clicks on the button,
      toggle between hiding and showing the dropdown content */
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }

      function filterFunction() {
        var input, filter, ul, li, a, i;
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
          txtValue = a[i].textContent || a[i].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
          } else {
            a[i].style.display = "none";
          }
        }
      }
    </script>

    {% endblock %}