{% extends "layout-sign-out.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Annual statement teamplate for Rockingham Reservoir downloaded
                </h1>
                <!-- <div class="govuk-panel__body">
                    Your reference number is<br>12 34 56 78
                </div> -->
            </div>

            <h2 class="govuk-heading-m govuk-!-padding-top-6">What happens next</h2>

            <p class="govuk-body">Fill in the template and sign back into the service to upload it. The service will send it to the undertaker and the Environment Agency.
            </p>

            <p class="govuk-body">You must upload the statement by {due date}.</p>

            <p class="govuk-body">You can go to your <a class="govuk-link govuk-link--no-visited-state"
                    href="/Beta/Private/submit-s12/V1/sign-in-2">account</a> to manage your information. 
            </p>


            <p class="govuk-!-margin-top-8"><a href="#" class="govuk-link govuk-link--no-visited-state">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
</div>

{% endblock %}
