{% extends "layout.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
                    Invitation to Submit an S12 Statement online
                </label>
            </h1>
        </div>

        <p class="govuk-body">TBC...?</p>

        <p class="govuk-body">TBC...?</p>

        <p class="govuk-body">TBC...?</p>

        <a class="govuk-list govuk-link--no-visited-state" href="/Beta/account-sign-in/first-time-registering/V1/service-start">Submit an S12 Statement online</a>


    </div>
</div>

{% endblock %}