{% extends "layout-new-crown.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-caption-xl">Private Beta</span>
      S12 Annual statement template
    </h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">User group:</h2>

    <p class="govuk-body govuk-!-margin-bottom-6">Supervising engineers</p>

  </div>

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="card govuk-!-margin-top-9 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 15</p>

      <a href="https://defra.sharepoint.com/:w:/s/MSTDefraRACE/EdXyNlBzCP9Btl_mCwHbx-UBBMDRNwMdwVHjCDAmu65peQ?e=he3qIn" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-2">Version
        3</a>

      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table govuk-!-width-two-thirds">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">What we created</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">

                  <p class="govuk-body">Service start</p>

                  <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                    <li>Updated content explaining what the service will do
                    </li>
                    <li>Updated content explaining What the service can't do
                    </li>
                    <li>Additional email support channel
                    </li>
                    <li>Updated content explaining what the user will need before they enter the service
                    </li>
                  </ul>
                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">

                  <p class="govuk-body">Choose a reservior</p>

                  <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                    <li>Typeahead search
                    </li>
                    <li>Removed the Save button
                    </li>
                  </ul>
                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">

                  <p class="govuk-body">Download annual statement</p>

                  <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                    <li>User is shown the National Grid reference for the reservoir
                    </li>
                    <li>Allow the user to download an annual statement template for a specific reservoir
                    </li>
                    <li>To download a template for another reservoir
                    </li>
                  </ul>
                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">

                  <p class="govuk-body">Template downloaded</p>

                  <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                    <li>Confirmation of the template the user downloaded
                    </li>
                    <li>What user can do next
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="card govuk-!-margin-top-9 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 5</p>

      <a href="https://defra.sharepoint.com/:w:/s/MSTDefraRACE/ESxzQp0GsLxJi1S7MDBvibsBBmydoyD1q4MiIhFL4UwUaQ?e=b6gli2" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-2">Version
        2</a>

      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table govuk-!-width-two-thirds">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">What we created</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">

                  <p class="govuk-body">Service start</p>

                  <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                    <li>Updated content explaining what the service will do
                    </li>
                    <li>Updated content explaining What the service can't do
                    </li>
                    <li>Additional email support channel
                    </li>
                    <li>Updated content explaining what the user will need before they enter the service
                    </li>
                  </ul>
                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">

                  <p class="govuk-body">Choose a reservior</p>

                  <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                    <li>Typeahead search
                    </li>
                    <li>Removed the Save button
                    </li>
                  </ul>
                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">

                  <p class="govuk-body">Download annual statement</p>

                  <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                    <li>User is shown the National Grid reference for the reservoir
                    </li>
                    <li>Allow the user to download an annual statement template for a specific reservoir
                    </li>
                    <li>To download a template for another reservoir
                    </li>
                  </ul>
                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">

                  <p class="govuk-body">Template downloaded</p>

                  <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                    <li>Confirmation of the template the user downloaded
                    </li>
                    <li>What user can do next
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
    </div>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="card govuk-!-margin-top-9 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 2 &ndash; 3</p>

      <a href="https://defra.sharepoint.com/:w:/s/MSTDefraRACE/EVUEXYprUM9OiV0tT98uS-8BYz4Ia0YcWr6kNANFN0VhAg?e=XfWzYg" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-2">Version
        1</a>

      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table govuk-!-width-two-thirds">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">What we created</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">

                  <p class="govuk-body">Service start</p>

                  <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                    <li>Updated content explaining what the service will do
                    </li>
                    <li>Updated content explaining What the service can't do
                    </li>
                    <li>Additional email support channel
                    </li>
                    <li>Updated content explaining what the user will need before they enter the service
                    </li>
                  </ul>
                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">

                  <p class="govuk-body">Choose a reservior</p>

                  <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                    <li>Typeahead search
                    </li>
                    <li>Removed the Save button
                    </li>
                  </ul>
                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">

                  <p class="govuk-body">Download annual statement</p>

                  <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                    <li>User is shown the National Grid reference for the reservoir
                    </li>
                    <li>Allow the user to download an annual statement template for a specific reservoir
                    </li>
                    <li>To download a template for another reservoir
                    </li>
                  </ul>
                </td>
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">

                  <p class="govuk-body">Template downloaded</p>

                  <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                    <li>Confirmation of the template the user downloaded
                    </li>
                    <li>What user can do next
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
    </div>
  </div>
</div>




{% endblock %}