{% extends "layout-new-crown.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-caption-xl">Private Beta</span>
      S12 Annual statement template
    </h1>

    <p class="govuk-body-l govuk-!-padding-bottom-5">
      <span class="govuk-body-l govuk-!-font-weight-bold">User group:</span>
      Supervising engineers
    </p>


    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 2 &ndash; 3</p>

      <a href="https://defra.sharepoint.com/:w:/s/MSTDefraRACE/EVUEXYprUM9OiV0tT98uS-8BYz4Ia0YcWr6kNANFN0VhAg?e=XfWzYg"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        1</a>


      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-padding-bottom-6">

        <li>To evaluate the content and structure of the S12 template</li>

        <li>What do undertakers think of the proposed template?
        </li>

        <li>What challenges, if any, do they foresee with receiving a report that is in the format of the new template?
        </li>

        <li>What might improve the template for them?
        </li>

        <li>What additional information might they need alongside the template?
        </li>

        <li>To better understand the impact of a template on undertakers
        </li>

        <li>How would the template fit with their current approach and processes?
        </li>

        <li>How do they anticipate using the new template?
        </li>

      </ul>

    </div>


    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 5</p>

      <a href="https://defra.sharepoint.com/:w:/s/MSTDefraRACE/ESxzQp0GsLxJi1S7MDBvibsBBmydoyD1q4MiIhFL4UwUaQ?e=b6gli2"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        2</a>

      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>Front sheet &ndash; 'Reservoir name' was positioned on a separate line</li>

            <li>Actions for the Undertaker &ndash; added timeframe examples to the priorities, and a new column in the table for 'No.'</li>

            <li>1.2 Reservoir location &ndash; replaced 'Has anything changed' with 'Comments'</li>

            <li>1.3 Undertaker &ndash; replaced 'Has anything changed' with 'Comments' and removed 'Other undertakers optional'</li>

            <li>1.4 Supervising engineer &ndash; replaced 'Has anything changed' with 'Comments'</li>

            <li>1.5 Alternative supervising engineer &ndash; removed 'Name', 'Email' and 'Phone number'</li>

            <li><strong>New section:</strong> Last inspecting engineer &ndash; details for 'Name' and 'Phone number'</li>

            <li>2.2 Statutory maintenance measures &ndash; changed 'Status' to 'Compliant' and removed 'Prevous comments'</li>
            
            <li>2.3 Matters to be watched &ndash; changed 'Status' to 'Compliant'</li>

            <li>2.2 Statutory maintenance measures &ndash; removed 'What to watch', 'Status', 'Previous comments' and added in 'Action'</li>

            <li><strong>Removed sections:</strong> 2.4.1, 2.4.2 and 2.4.3</li>

            <li>2.5.2 Measures in the interest of safety &ndash; removed 'Status', 'Previous comments' and added in 'Deadline and Outstanding'</li>

            <li>2.5.4 Early inspection required &ndash; removed 'reasons' and replaced with 'details'</li>

            <li>2.6 Visual inspection by undertaker &ndash; removed 'Yes' and 'No' checkboxes and 'If Yes give details'</li>

            <li>2.7.2 Flood plan details of directions &ndash; removed 'Yes' and 'No' checkboxes and 'If Yes give instructions'</li>


          </ul>
        </div>
      </details>


      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-padding-bottom-6">
        <li>user can confirm the information on the screen</li>
        <li>user can change the current information on the screen</li>
        <li>user can input new information and save it</li>
      </ul>

    </div>

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 15</p>

      <a href="https://defra.sharepoint.com/:w:/s/MSTDefraRACE/EdXyNlBzCP9Btl_mCwHbx-UBBMDRNwMdwVHjCDAmu65peQ?e=he3qIn"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        3</a>

      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>Choose and select a reservoir to create the statement dropdown search</li>

            <li>Review or amend the reservoir details</li>

            <li>Review or amend the operator details</li>

            <li>Add a new Operator and there details</li>

            <li>Review last inspecting engineer details</li>

            <li>Alternative supervising engineer dropdown search</li>

          </ul>
        </div>
      </details>


      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-padding-bottom-6">
        <li>user can confirm the information on the screen</li>
        <li>user can change the current information on the screen</li>
        <li>user can input new information and save it</li>
      </ul>

    </div>

  </div>
</div>






{% endblock %}