{% extends "layout-sign-out.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/submit-s12-statement/V7/confirmation" method="post">

            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Upload your annual statement
                        </h1>
                    </legend>

                    <p class="govuk-body">Include any of the following to support your statement:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>plans</li>
                        <li>photos</li>
                        <li>data or other information</li>
                    </ul>

                    <div class="govuk-form-group govuk-!-margin-top-6">
                        <label class="govuk-label" for="file-upload-1">
                            Upload a file
                        </label>
                        <input class="govuk-file-upload govuk-!-margin-left-0" id="file-upload-1" name="file-upload-1"
                            type="file">
                    </div>

                </fieldset>
            </div>

            <div>
                <button role="button" draggable="false"
                    class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6 govuk-!-margin-right-4"
                    data-module="govuk-button">
                    Continue
                </button>
            </div>

        </form>

    </div>

    {% endblock %}