{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl">Check your answers and submit</h1>

    <h2 class="govuk-heading-m">Reservoir flood plan details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Does the reservoir have a flood plan?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change
          <span class="govuk-visually-hidden"> phone</span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date of the certificate
      </dt>
      <dd class="govuk-summary-list__value">
        4 February 2022
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change
          <span class="govuk-visually-hidden"> phone</span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Has the plan been tested as instructed in the certificate?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change
          <span class="govuk-visually-hidden"> phone</span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Does the operator need to revise the plan?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change
          <span class="govuk-visually-hidden"> phone</span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        How does the operator need to revise the plan?
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">The valve arrangement has changed. Revise plan to reflect new arrangement.</p><br>


      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change
          <span class="govuk-visually-hidden"> phone</span>
        </a>
      </dd>
    </div>


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Does this statement relate to a new reservoir or the re-use of an abandoned one?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change
          <span class="govuk-visually-hidden"> phone</span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Are there any actions for the operator in the final certificate?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change
          <span class="govuk-visually-hidden"> phone</span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Supporting documents
      </dt>
      <dd class="govuk-summary-list__value">
        Yes<br>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change
          <span class="govuk-visually-hidden"> phone</span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Uploaded files
      </dt>
      <dd class="govuk-summary-list__value">
        Test report.pdf
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="#">
          Change
          <span class="govuk-visually-hidden"> phone</span>
        </a>
      </dd>
    </div>


    </dl>




    <h2 class="govuk-heading-m">Submit your annual statement</h2>



      <form action="/Beta/V3/submit-s12-statement/confirmation" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Submit
      </button>

    </form>

  </div>
</div>
{% endblock %}
