{% extends "layout-sign-out.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-xl">Check your answers and send your statement</h1>

    <h2 class="govuk-heading-l govuk-!-margin-top-9 govuk-!-padding-top-6">Reservoir</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Rockingham reservoir</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a> -->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Nearest postcode
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">PO10 1AB</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a href="#">
              Change
              <span class="govuk-visually-hidden"> postcode</span>
            </a> -->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National Grid reference
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">SU106951</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a href="#">
              Change
              <span class="govuk-visually-hidden"> national Grid reference</span>
            </a> -->
        </dd>
      </div>

    </dl>


    <h2 class="govuk-heading-l govuk-!-padding-top-6">Operator</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Naomi Roberts</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a> -->
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Rockingham Estate<br>Hampshire<br>PO10 1AB</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a href="#">
              Change
              <span class="govuk-visually-hidden"> address</span>
            </a> -->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">NRoberts@hotmail.com</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a href="#">
              Change
              <span class="govuk-visually-hidden"> email</span>
            </a> -->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">02392 123456</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a href="#">
              Change
              <span class="govuk-visually-hidden"> phone</span>
            </a> -->
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l govuk-!-padding-top-6">Last inspecting engineer</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Chris Jones</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a> -->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Organisation
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Engineering Consultants</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a href="#">
              Change
              <span class="govuk-visually-hidden"> address</span>
            </a> -->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Main Street<br>Portsmouth<br>PO1 2FG
          </p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a href="#">
              Change
              <span class="govuk-visually-hidden"> email</span>
            </a> -->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">CJones@Engineers.com</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a href="#">
              Change
              <span class="govuk-visually-hidden"> phone</span>
            </a> -->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">02361 654321</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a href="#">
              Change
              <span class="govuk-visually-hidden"> phone</span>
            </a> -->
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l govuk-!-padding-top-6">Alternative supervising engineer</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Jennifer Young</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list">
          <p class="govuk-body">jennifer.young_2@hotmail.com</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">02361 654321</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l govuk-!-padding-top-6">Reservoir inspection</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of inspection report
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">3 March 2022</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of inspection certificate
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">3 March 2022</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Next scheduled inspection date
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">7 September 2022</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>

    </dl>

    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-padding-top-6 govuk-!-margin-bottom-0">
      Early inspection</h2>

    <div
      class="govuk-summary-list grey-line-bottom govuk-!-margin-bottom-0 govuk-!-margin-top-8 govuk-!-padding-bottom-8">
      <h3 class="govuk-heading-m">Reason 1</h3>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Name</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Description
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Description</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Status</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Compliant
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Compliant</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Comments
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Comments</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
    </dl>


    <div
      class="govuk-summary-list grey-line-bottom govuk-!-margin-bottom-0 govuk-!-margin-top-8 govuk-!-padding-bottom-8">
      <h3 class="govuk-heading-m">Reason 2</h3>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Name</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Description
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Description</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Status</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Compliant
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Compliant</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Comments
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Comments</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
    </dl>



    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-padding-top-6 govuk-!-margin-bottom-0">
      Visual inspection</h2>

    <div
      class="govuk-summary-list grey-line-bottom govuk-!-margin-bottom-0 govuk-!-margin-top-8 govuk-!-padding-bottom-8">
      <h3 class="govuk-heading-m">Item 1</h3>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What to inspect
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">What to inspect</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What to do
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">What to do</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How often
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">How often</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Comments
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Comments</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
    </dl>

    <div
      class="govuk-summary-list grey-line-bottom govuk-!-margin-bottom-0 govuk-!-margin-top-8 govuk-!-padding-bottom-8">
      <h3 class="govuk-heading-m">Item 2</h3>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What to inspect
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">What to inspect</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What to do
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">What to do</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How often
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">How often</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Comments
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Comments</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>

    </dl>



    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-padding-top-6 govuk-!-margin-bottom-0">
      Safety measures</h2>

    <dl class="govuk-summary-list govuk-!-margin-top-8 govuk-!-padding-top-8 govuk-!-margin-bottom-0">

      <div class="govuk-summary-list heading-underline">
        <h3 class="govuk-heading-m">Activity 1</h3>
      </div>

      <div class="govuk-summary-list  govuk-!-margin-top-3">
        <dt class="govuk-summary-list__key govuk-!-padding-0">Type</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-margin-bottom-0">The spillway capacity be increased to safely pass the PMF
            flood
          </p>
        </dd>
      </div>

      <div class="govuk-summary-list">
        <dt class="govuk-summary-list__key govuk-!-padding-0">Deadline</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-padding-bottom-0">18 November 2023</p>
        </dd>
      </div>

      <div class="govuk-summary-list heading-underline">
        <dt class="govuk-summary-list__key govuk-!-padding-0">Outstanding</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-padding-bottom-6">Yes</p>
        </dd>
      </div>

      <div class="govuk-summary-list govuk-!-margin-top-8 govuk-!-padding-top-8 heading-underline">
        <h3 class="govuk-heading-m">Activity 2</h3>
      </div>

      <div class="govuk-summary-list  govuk-!-margin-top-3">
        <dt class="govuk-summary-list__key govuk-!-padding-0">Type</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-margin-bottom-0">Carry out a breach study using 2016 EA RFM Specification
            through the new development downstream
          </p>
        </dd>
      </div>

      <div class="govuk-summary-list">
        <dt class="govuk-summary-list__key govuk-!-padding-0">Deadline</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-padding-bottom-0">13 September 2023</p>
        </dd>
      </div>

      <div class="govuk-summary-list heading-underline">
        <dt class="govuk-summary-list__key govuk-!-padding-0">Outstanding</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-padding-bottom-6">No</p>
        </dd>
      </div>


      <div class="govuk-summary-list govuk-!-margin-top-8 govuk-!-padding-top-8 heading-underline">
        <h3 class="govuk-heading-m">Activity 3</h3>
      </div>

      <div class="govuk-summary-list  govuk-!-margin-top-3">
        <dt class="govuk-summary-list__key govuk-!-padding-0">Type</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-margin-bottom-0">Remove all trees on the embankment, remove all debris,
            reprofile bank and reseed
          </p>
        </dd>
      </div>

      <div class="govuk-summary-list">
        <dt class="govuk-summary-list__key govuk-!-padding-0">Deadline</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-padding-bottom-0">4 October 2023</p>
        </dd>
      </div>

      <div class="govuk-summary-list heading-underline">
        <dt class="govuk-summary-list__key govuk-!-padding-0">Outstanding</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-padding-bottom-6">Yes</p>
        </dd>
      </div>


      <div class="govuk-summary-list govuk-!-margin-top-8 govuk-!-padding-top-8 heading-underline">
        <h3 class="govuk-heading-m">Activity 4</h3>
      </div>

      <div class="govuk-summary-list  govuk-!-margin-top-3">
        <dt class="govuk-summary-list__key govuk-!-padding-0">Type</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-margin-bottom-0">The unsteady concrete base slabs need investigating and
            stabilising
          </p>
        </dd>
      </div>

      <div class="govuk-summary-list">
        <dt class="govuk-summary-list__key govuk-!-padding-0">Deadline</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-padding-bottom-0">24 August 2023</p>
        </dd>
      </div>

      <div class="govuk-summary-list heading-underline">
        <dt class="govuk-summary-list__key govuk-!-padding-0">Outstanding</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-padding-bottom-6">Yes</p>
        </dd>
      </div>


      <div
        class="govuk-summary-list govuk-!-margin-top-8 govuk-!-padding-top-8 govuk-!-margin-bottom-0 heading-underline">
        <h3 class="govuk-heading-m">Activity 5</h3>
      </div>

      <div class="govuk-summary-list  govuk-!-margin-top-3">
        <dt class="govuk-summary-list__key govuk-!-padding-0">Type</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-margin-bottom-0">Do a geophysical study on embankment
          </p>
        </dd>
      </div>

      <div class="govuk-summary-list">
        <dt class="govuk-summary-list__key govuk-!-padding-0">Deadline</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-padding-bottom-0">18 September 2023</p>
        </dd>
      </div>

      <div class="govuk-summary-list heading-underline">
        <dt class="govuk-summary-list__key govuk-!-padding-0">Outstanding</dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body govuk-!-padding-bottom-6">No</p>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-padding-top-6 govuk-!-margin-bottom-0">
      Issues for the engineer to watch</h2>

    <div
      class="govuk-summary-list grey-line-bottom govuk-!-margin-bottom-0 govuk-!-margin-top-8 govuk-!-padding-bottom-8">
      <h3 class="govuk-heading-m">Issue 1</h3>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Issue to watch
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Issue to watch</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Description
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Description</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Comments
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Comments</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>

    </dl>


    <div
      class="govuk-summary-list grey-line-bottom govuk-!-margin-bottom-0 govuk-!-margin-top-8 govuk-!-padding-bottom-8">
      <h3 class="govuk-heading-m">Issue 2</h3>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Issue to watch
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Issue to watch</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Description
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Description</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Comments
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Comments</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>

    </dl>



    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-padding-top-6 govuk-!-margin-bottom-0">
      Maintenance actions for the operator</h2>

    <div
      class="govuk-summary-list grey-line-bottom govuk-!-margin-bottom-0 govuk-!-margin-top-8 govuk-!-padding-bottom-8">
      <h3 class="govuk-heading-m">Action 1</h3>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Action
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Action</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What to do
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">What to do</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Status</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Compliant
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Compliant</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Comments
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Comments</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>

    </dl>


    <div
      class="govuk-summary-list grey-line-bottom govuk-!-margin-bottom-0 govuk-!-margin-top-8 govuk-!-padding-bottom-8">
      <h3 class="govuk-heading-m">Action 2</h3>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Action
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Action</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What to do
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">What to do</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Status</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Compliant
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Compliant</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Comments
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Comments</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>

    </dl>


    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-padding-top-6 govuk-!-margin-bottom-0">
      Record updates for the operator</h2>

    <div
      class="govuk-summary-list grey-line-bottom govuk-!-margin-bottom-0 govuk-!-margin-top-8 govuk-!-padding-bottom-8">
      <h3 class="govuk-heading-m">Update 1</h3>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Update
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Update</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Description
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Description</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Update to be done by
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Update to be done by</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mandatory
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Mandatory</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Comments
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Comments</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>

    </dl>

    <div
      class="govuk-summary-list grey-line-bottom govuk-!-margin-bottom-0 govuk-!-margin-top-8 govuk-!-padding-bottom-8">
      <h3 class="govuk-heading-m">Update 2</h3>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Update
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Update</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Description
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Description</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Update to be done by
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Update to be done by</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mandatory
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Mandatory</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Comments
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Comments</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>

    </dl>


    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-padding-top-6 govuk-!-margin-bottom-0">
      Monitoring actions for the operator</h2>

    <div
      class="govuk-summary-list grey-line-bottom govuk-!-margin-bottom-0 govuk-!-margin-top-8 govuk-!-padding-bottom-8">
      <h3 class="govuk-heading-m">Action 1</h3>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Action
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Action</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Description
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Description</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Action to be done by
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Action to be done by</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mandatory
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Mandatory</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Comments
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Comments</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>

    </dl>

    <div
      class="govuk-summary-list grey-line-bottom govuk-!-margin-bottom-0 govuk-!-margin-top-8 govuk-!-padding-bottom-8">
      <h3 class="govuk-heading-m">Action 2</h3>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Action
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Action</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Description
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Description</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Action to be done by
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Action to be done by</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mandatory
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Mandatory</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Comments
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Comments</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>

    </dl>


    <h2 class="govuk-heading-l govuk-!-padding-top-6">Flood plan</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Flood plan
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Yes</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of certificate
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">
            4 February 2022</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Flood plan tested
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">
            Yes</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Operator to revise flood plan
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">
            Yes</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Flood plan revisions
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">The valve arrangement has changed. Revise plan to reflect new arrangement.</p><br>


        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
    </dl>


    <h2 class="govuk-heading-l govuk-!-padding-top-6">Supporting information</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Uploaded files
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Test report.pdf</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>

    </dl>


    <form action="/Beta/V3/submit-s12-statement/confirmation" method="post" novalidate>


      <button type="submit" class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-9"
        data-module="govuk-button">
        Accept and send
      </button>

    </form>

  </div>
</div>

{% endblock %}
