{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel-dropout">
                <h1 class="govuk-panel__title">
                    You cannot use this service to send <br>a non-statutory <br>annual statement.
                </h1>
            </div>

            <p class="govuk-body govuk-!-margin-top-9">Send your statement to the Reservoir Safety team by email <a class="govuk-link govuk-link--no-visited-state"
                href="#">reservoirs@environment-agency.gov.uk</a></p>

    </div>
</div>

{% endblock %}
