{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/V3/submit-s12-statement/stat-non-stat-answer" method="post">

            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

                        <h1 class="govuk-fieldset__heading">
                            Do you want to submit a statutory or non-statutory annual statement?
                        </h1>

                    </legend>


                    <div class="govuk-radios govuk-radios govuk-!-margin-top-2" data-module="govuk-radios">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="stat-non-stat" name="stat-non-stat"
                                type="radio" value="Statutory" aria-describedby="stat-non-stat-item-hint">
                            <label class="govuk-label govuk-radios__label" for="stat-non-stat">
                                Statutory
                            </label>
                        </div>


                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="stat-non-stat-2" name="stat-non-stat"
                                type="radio" value="Non-statutory" aria-describedby="stat-non-stat-2-item-hint">
                            <label class="govuk-label govuk-radios__label" for="stat-non-stat-2">
                                Non-statutory
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">Continue</button>
        </form>

    </div>
</div>

{% endblock %}
