{% extends "layout-account.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block beforeContent %}

<div class="govuk-phase-banner" id="beta-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service — your <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_0wFTSeSWzDuXiRg/"
        class="govuk-link">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<div class="login-nav">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new"><a href="#"
        class="govuk-link login-nav__link-new govuk-link--no-visited-state profile">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="#"
        class="govuk-link login-nav__link-new govuk-link--no-visited-state">Sign out</a></li>
  </ul>
</div>

<a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/Private/submit-s12/V9/send-your-statement-answer" method="post">

            <div class="govuk-form-group">

                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

                        <h1 class="govuk-fieldset__heading">
                            Send the annual statement to the undertaker
                        </h1>

                    </legend>


                    <dl class="govuk-summary-list govuk-!-margin-top-4">

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Reservoir name
                            </dt>
                            <dd class="govuk-summary-list__value govuk-!-padding-left-9" for="reservoir-named-undertaker"
                                id="reservoir-named-undertaker" name="reservoir-named-undertaker">
                                Rockingham reservoir
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Named undertaker
                            </dt>
                            <dd class="govuk-summary-list__value govuk-!-padding-left-9" for="reservoir-named-undertaker"
                                id="reservoir-named-undertaker" name="reservoir-named-undertaker">
                                Jenny Philips
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email
                            </dt>
                            <dd class="govuk-summary-list__value govuk-!-padding-left-9" for="reservoir-named-undertaker"
                                id="reservoir-named-undertaker" name="reservoir-named-undertaker">
                                jenny.philips@engineers.com
                            </dd>
                        </div>
                        
                    </dl>        


                    <div class="govuk-radios govuk-radios govuk-!-margin-top-9" data-module="govuk-radios">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="send-to-undertaker-yes" name="send-to-undertaker"
                                type="radio" value="Yes" aria-describedby="yes-or-no-item-hint">
                            <label class="govuk-label govuk-radios__label" for="send-to-undertaker-yes">
                                Yes, statement to undertaker and Environment Agency
                            </label>
                        </div>


                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="send-to-undertaker-no" name="send-to-undertaker"
                                type="radio" value="No" aria-describedby="yes-or-no-item-2-item-hint">
                            <label class="govuk-label govuk-radios__label" for="send-to-undertaker-no">
                                No, statement to Environment Agency only
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div>
                <button role="button" draggable="false"
                    class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6 govuk-!-margin-right-4"
                    data-module="govuk-button">
                    Continue
                </button>
            </div>
          </form>

    </div>
</div>

{% endblock %}
