{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
Defra account
{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <form class="form" action="/#" method="post">


            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--xl" for="altsuperengineercontactdetails">
                        What are the alternative supervising engineer's details?
                    </label>
                </h1>
            </div>


            <div class="govuk-form-group">
                <label class="govuk-label" for="altsuperengineerName">
                    Name
                </label>

                <input class="govuk-input govuk-!-width-three-quarters" id="altsuperengineerName" name="altsuperengineerName"
                    type="text"  aria-describedby="altsuperengineerName-hint">
            </div>


            <div class="govuk-form-group">
                <label class="govuk-label" for="altsuperengineerEmail">
                    Email
                </label>

                <input class="govuk-input govuk-!-width-three-quarters" id="altsuperengineerEmail" name="altsuperengineerEmail"
                    type="text"  aria-describedby="altsuperengineerEmail-hint">
            </div>

            
            <div class="govuk-form-group">
                <label class="govuk-label" for="altsuperengineerPhone">
                    Phone
                </label>

                <input class="govuk-input govuk-!-width-one-half" id="altsuperengineerPhone" name="altsuperengineerPhone"
                    type="tel" aria-describedby="altsuperengineerPhone-hint">
            </div>


            <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                Save and continue
            </button>

        </form>


    </div>
</div>

{% endblock %}
