{% extends "layout-phase.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-xl">Check your answers</h1>

    <h2 class="govuk-heading-l govuk-!-margin-top-9 govuk-!-padding-top-6">Reservoir</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Rockingham reservoir</p><br>
        </dd>
        <dd>
          <a class="govuk-link--no-visited-state govuk-summary-list__actions" href="#">
            
            <span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Nearest town
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">PO10 1AB</p><br>
        </dd>
        <dd class="govuk-link--no-visited-state govuk-summary-list__actions">
          <a class="govuk-link--no-visited-state govuk-summary-list__actions" href="#">
            
            <span class="govuk-visually-hidden"> postcode</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National Grid reference
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">SU106951</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link--no-visited-state govuk-summary-list__actions" href="#">
            
            <span class="govuk-visually-hidden"> national Grid reference</span>
          </a>
        </dd>
      </div>

    </dl>


    <h2 class="govuk-heading-l govuk-!-padding-top-6">Operator</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Naomi Roberts</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link--no-visited-state govuk-summary-list__actions" href="#">
            
            <span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Rockingham Estate<br>Hampshire<br>PO10 1AB</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link--no-visited-state govuk-summary-list__actions" href="#">
            
            <span class="govuk-visually-hidden"> address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">NRoberts@hotmail.com</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link--no-visited-state govuk-summary-list__actions" href="#">
            
            <span class="govuk-visually-hidden"> email</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">02392 123456</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link--no-visited-state govuk-summary-list__actions" href="#">
            
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
    </dl>


    <h2 class="govuk-heading-l govuk-!-padding-top-6">Alternative supervising engineer</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Jennifer Young</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link--no-visited-state govuk-summary-list__actions" href="#">
         
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list">
          <p class="govuk-body">jennifer.young_2@hotmail.com</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link--no-visited-state govuk-summary-list__actions" href="#">
            
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">02361 654321</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link--no-visited-state govuk-summary-list__actions" href="#">
            
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
    </dl>



    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-padding-top-6 govuk-!-margin-bottom-9">
      Maintenance actions for the operator</h2>



    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Action 1</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-2">Low level outlet</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What to do
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-2">The metal grill to the low level outlet should be cleaned
                monthly and after significant
                floods.</p>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Compliant
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-2">Yes</p>
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this action.</p>
        </div>
      </div>
    </div>




    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Action 2</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action
            </dt>
            <dd class="govuk-summary-list__value">
              <div>
                <p class="govuk-body govuk-!-margin-bottom-0">Grass levels
                </p>
              </div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What to do
            </dt>
            <dd class="govuk-summary-list__value">
              The grass on the perimeter embankment shall be mown periodically during the growing season.
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Compliant
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this action.</p>
        </div>
      </div>
    </div>


    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Action 3</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action
            </dt>
            <dd class="govuk-summary-list__value">
              <div>
                <p class="govuk-body govuk-!-margin-bottom-0">
                  Debris build up
                </p>
              </div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What to do
            </dt>
            <dd class="govuk-summary-list__value">
              There is an accumulation in front of the spill weir and also upstream of the road culvert which needs to
              be cleared away promptly so as to prevent blockages.
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Compliant
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this action.</p>
        </div>
      </div>
    </div>


    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Action 4</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action
            </dt>
            <dd class="govuk-summary-list__value">
              <div>
                <p class="govuk-body govuk-!-margin-bottom-0">Spillway repair
                </p>
              </div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What to do
            </dt>
            <dd class="govuk-summary-list__value">
              The lower part of the formal spillway be repaired by replacing missing stones and repointing the
              masonry/brickwork where necessary.
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Compliant
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this action.</p>
        </div>
      </div>
    </div>


    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Action 5</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action
            </dt>
            <dd class="govuk-summary-list__value">
              <div>
                <p class="govuk-body govuk-!-margin-bottom-0">Trees to be removed
                </p>
              </div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What to do
            </dt>
            <dd class="govuk-summary-list__value">
              Remove all self seeded trees which are becoming established, where the trunk is less than 100mm in
              diameter.
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Compliant
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this action.</p>
        </div>
      </div>
    </div>





    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-padding-top-6 govuk-!-margin-bottom-9">
      Issues for the engineer to watch</h2>


    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Issue 1</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Issue to watch
            </dt>
            <dd class="govuk-summary-list__value">
              <div>
                <p class="govuk-body govuk-!-margin-bottom-0">Embankments
                </p>
              </div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-0">Any localised settlement or movements in the embankments.
              </p>
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this issue.</p>
        </div>
      </div>
    </div>





    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Issue 2</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Issue to watch
            </dt>
            <dd class="govuk-summary-list__value">
              <div>
                <p class="govuk-body govuk-!-margin-bottom-0">Overflow channel
                </p>
              </div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-0">The metal screen is kept clear of debris and branches
                removed from the overflow channel.
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this issue.</p>
        </div>
      </div>
    </div>




    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Issue 3</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Issue to watch
            </dt>
            <dd class="govuk-summary-list__value">
              <div>
                <p class="govuk-body govuk-!-margin-bottom-0">
                  Sluice gate
                </p>
              </div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-0">
                That the sluice gate remains operable through its full travel and greased as required every three years.
              </p>
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this issue.</p>
        </div>
      </div>
    </div>



    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Issue 4</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Issue to watch
            </dt>
            <dd class="govuk-summary-list__value">
              <div>
                <p class="govuk-body govuk-!-margin-bottom-0">
                  Reservoir records
                </p>
              </div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-0">
                The Reservoir Record book (PFR) is kept up to date.
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this issue.</p>
        </div>
      </div>
    </div>



    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Issue 5</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Issue to watch
            </dt>
            <dd class="govuk-summary-list__value">
              <div>
                <p class="govuk-body govuk-!-margin-bottom-0">
                  Reservoir visits
                </p>
              </div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-0">The Supervising Engineer should, until the measures
                recommended in Section 15.1 of this report has been completed, make at least two visits per annum, after
                which he should continue to make at least one visit per year.</p>
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this issue.</p>
        </div>
      </div>
    </div>




    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-padding-top-6 govuk-!-margin-bottom-9">
      Record updates for the operator</h2>

    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Update 1</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Update
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-0">Length of spillway
              </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden">Name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-0">Give full details of length of spillway
              </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden">Description</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Update to be <br>done by
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-0">May 2023
              </p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden">Description</span>
              </a>
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this update.</p>
        </div>
      </div>
    </div>




    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-padding-top-6 govuk-!-margin-bottom-9">
      Monitoring actions for the operator</h2>


    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Monitoring action 1</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action
            </dt>
            <dd class="govuk-summary-list__value">
              <div>
                <p class="govuk-body govuk-!-margin-bottom-0">
                  Sluice gate
                </p>
              </div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-0">The sluice gate should be operated over at least 10 full
                turns twice annually and through its full travel at least once every 3 years, with a record of these
                operations added in the PFR.
              </p>
            </dd>
          </div>

        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this action.</p>
        </div>
      </div>
    </div>

    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Monitoring action 2</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action
            </dt>
            <dd class="govuk-summary-list__value">
              <div>
                <p class="govuk-body govuk-!-margin-bottom-0">
                  Measure water levels
                </p>
              </div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-0">
                Water levels should continue to be measured and recorded weekly. In addition, every effort should be
                made to measure and note in the record book the highest water level reached in the reservoir during any
                major flood, either by direct observation during the event or by subsequently observing the elevation of
                the wrack line relative to the overflow level.
              </p>
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this action.</p>
        </div>
      </div>
    </div>

    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Monitoring action 3</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action
            </dt>
            <dd class="govuk-summary-list__value">
              <div>
                <p class="govuk-body govuk-!-margin-bottom-0">
                  Crest of the dam
                </p>
              </div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-0">Settlement of the crest of the dam to be recorded every 5
                years and as observed.
              </p>
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this action.</p>
        </div>
      </div>
    </div>



    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Monitoring action 4</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action
            </dt>
            <dd class="govuk-summary-list__value">
              <div>
                <p class="govuk-body govuk-!-margin-bottom-0">
                  Leakage in pipe
                </p>
              </div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-0">The area on the toe where the outlet pipe exists be watched
                for signs of any leakage.</p>
            </dd>
          </div>

        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this action.</p>
        </div>
      </div>
    </div>

    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Monitoring action 5</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action
            </dt>
            <dd class="govuk-summary-list__value">
              <div>
                <p class="govuk-body govuk-!-margin-bottom-0">Improving surveillance
                </p>
              </div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-0">
                I recommend that the dam crest be visited no less than once every month by the Undertaker or their
                representative and a visual check carried out. Notify the supervising engineer if seepage, erosion or
                anything untoward is detected.
              </p>
            </dd>
          </div>

        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this action.</p>
        </div>
      </div>
    </div>

    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-padding-top-6 govuk-!-margin-bottom-9">
      Safety measures</h2>

    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Measure 1</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action
            </dt>
            <dd class="govuk-summary-list__value">
              <div>
                <p class="govuk-body govuk-!-margin-bottom-0">The spillway capacity be increased to safely pass the PMF
                  flood
                </p>
              </div>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Deadline
            </dt>
            <dd class="govuk-summary-list__value">
              18 November 2023
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Outstanding
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this measure.</p>
        </div>
      </div>
    </div>

    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Measure 2</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action
            </dt>
            <dd class="govuk-summary-list__value">
              Carry out a breach study using 2016 EA RFM Specification
              through the new development downstream
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Deadline
            </dt>
            <dd class="govuk-summary-list__value">
              13 September 2023
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Outstanding
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this action.</p>
        </div>
      </div>
    </div>

    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Measure 3</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action
            </dt>
            <dd class="govuk-summary-list__value">
              Remove all trees on the embankment, remove all debris,
              reprofile bank and reseed
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Deadline
            </dt>
            <dd class="govuk-summary-list__value">
              4 October 2023
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Outstanding
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this measure.</p>
        </div>
      </div>
    </div>

    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Measure 4</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action
            </dt>
            <dd class="govuk-summary-list__value">
              The unsteady concrete base slabs need investigating and
              stabilising
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Deadline
            </dt>
            <dd class="govuk-summary-list__value">
              24 August 2023
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Outstanding
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this measure.</p>
        </div>
      </div>
    </div>


    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Measure 5</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action
            </dt>
            <dd class="govuk-summary-list__value">
              Do a geophysical study on embankment
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Deadline
            </dt>
            <dd class="govuk-summary-list__value">
              18 September 2023
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Outstanding
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this measure.</p>
        </div>
      </div>
    </div>




    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-padding-top-6 govuk-!-margin-bottom-9">
      Early inspection</h2>

    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Reason 1</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Spillway wall
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden">Name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              Spillway wall has fallen down. If the spillway operates it won't function properly.
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden">Description</span>
              </a>
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this reason.</p>
        </div>
      </div>
    </div>




    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-padding-top-6 govuk-!-margin-bottom-9">
      Visual inspection</h2>

    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Item 1</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What to inspect
            </dt>
            <dd class="govuk-summary-list__value">
              Damp spot appeared on the dam
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden">Name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What to do
            </dt>
            <dd class="govuk-summary-list__value">
              There's a damp spot on the dam which has appeared since last site visit.
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden">Description</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How often
            </dt>
            <dd class="govuk-summary-list__value">
              Quarterly inspection
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden">Description</span>
              </a>
            </dd>
          </div>
        </dl>
        <div class="govuk-form-group govuk-!-margin-bottom-4 govuk-!-padding-bottom-0">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
              Comments<a class="govuk-link--no-visited-state govuk-summary-list__actions-2" href="#">
                <span class="govuk-visually-hidden">Comments</span>
              </a>
            </label>
          </h2>
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">No comments on this item.</p>
        </div>
      </div>
    </div>


    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-padding-top-6 govuk-!-margin-bottom-9">Flood plan</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Flood plan
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Yes</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link--no-visited-state govuk-summary-list__actions" href="#">
            
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of certificate
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">
            4 February 2022</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link--no-visited-state govuk-summary-list__actions" href="#">
            
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Flood plan tested
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">
            Yes</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link--no-visited-state govuk-summary-list__actions" href="#">
            
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Operator to revise flood plan
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">
            Yes</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link--no-visited-state govuk-summary-list__actions" href="#">
            
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Flood plan revisions
        </dt>
        <div>
          <p class="govuk-body">The valve arrangement has changed. Revise plan to reflect new arrangement.</p>
        </div>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link--no-visited-state govuk-summary-list__actions" href="#">
            
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
    </dl>


    <h2 class="govuk-heading-l govuk-!-padding-top-6">Supporting information</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Uploaded files
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Test report.pdf</p><br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
    </dl>

  </div>
</div>

  {% endblock %}