{% extends "layout-new-crown.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Alpha</span>
      Account sign in
    </h1>

    <p class="govuk-body-l">
      <span class="govuk-body-l govuk-!-font-weight-bold">User group:</span>
      Supervising engineers
    </p>

  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 9</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">First time sign in
      </h2>

      <a href="/Beta/account-sign-in/first-time-registering/V1/invitation-email"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-6"> Version
        1</a>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Registered account
      </h2>

      <a href="/Beta/account-sign-in/registered-user/V1/service-start"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-6"> Version
        1</a>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Forgotten password
      </h2>

      <a href="/Beta/account-sign-in/forgotten-password/V1/service-start"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-6"> Version
        1</a>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Change password
      </h2>

      <a href="/Beta/account-sign-in/change-password/V1/confirmation"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-6"> Version
        1</a>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Email or password not recognised
      </h2>

      <a href="/Beta/account-sign-in/sign-in-failed/V1/service-start"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-6"> Version
        1</a>


    </div>
  </div>
</div>

{% endblock %}