{% extends "layout.html" %}

{% block pageTitle %}
Submit supervising engineers statement for a reservoir
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Beta MVP</span>
      Account sign in
    </h1>

    <!-- <h1 class="govuk-heading-xl">Submit an annual statement</h1> -->

    <h2 class="govuk-heading-l"></h2>
  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <!-- Version -->
      <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-2">
        Version 1
      </strong>

      <p class="govuk-body" style="color: #0b0c0c;">Sprint 9</p>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">User group:</h3>

      <p class="govuk-body govuk-!-padding-top-0">Supervising engineers</p>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">The scenarios</h3>

      <ol class="govuk-list govuk-list--number">

        <li>Signing in for the very first time</li>

        <li>Registered account</li>

        <li>Forgotten password</li>

        <li>User needs to change their password</li>

        <li class="govuk-!-margin-bottom-9">User email or password is not recognised</li>


      </ol>


      <!-- Link to Prototype -->
      <div class="govuk-button-group">
        <a href="/Beta/account-sign-in/first-time-registering/V1/invitation-email" role="button" draggable="false"
          class="govuk-button" data-module="govuk-button">
          View prototype scenario 1
        </a>
      </div>

      <!-- Link to Prototype -->
      <div class="govuk-button-group">
        <a href="/Beta/account-sign-in/registered-user/V1/service-start" role="button" draggable="false"
          class="govuk-button" data-module="govuk-button">
          View prototype scenario 2
        </a>
      </div>

      <!-- Link to Prototype -->
      <div class="govuk-button-group">
        <a href="/Beta/account-sign-in/forgotten-password/V1/service-start" role="button" draggable="false"
          class="govuk-button" data-module="govuk-button">
          View prototype scenario 3
        </a>
      </div>

      <!-- Link to Prototype -->
      <div class="govuk-button-group">
        <a href="/Beta/account-sign-in/change-password/V1/confirmation" role="button" draggable="false"
          class="govuk-button" data-module="govuk-button">
          View prototype scenario 4
        </a>
      </div>


      <!-- Link to Prototype -->
      <div class="govuk-button-group">
        <a href="/Beta/account-sign-in/sign-in-failed/V1/service-start" role="button" draggable="false"
          class="govuk-button" data-module="govuk-button">
          View prototype scenario 5
        </a>
      </div>

      <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">

    </div>
  </div>
</div>

{% endblock %}
