{% extends "layout-essential-cookies-2.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block beforeContent %}

<div class="govuk-phase-banner">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service — your <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_0wFTSeSWzDuXiRg/"
            class="govuk-link">feedback</a> will help us to improve it.
        </span>

      </p>
    </div>
    <div class="govuk-grid-column-one-third-from-desktop float-right">
      <a href="/Beta/Private/submit-s12/V10/manage-account-details"
        class="govuk-link login-nav-2-item govuk-link--no-visited-state profile">Manage account</a>

      <a href="#" class="govuk-link login-nav-2-item govuk-link--no-visited-state">Sign out</a>

    </div>
  </div>

</div>


{% endblock %}

{% block content %}

<a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="javascript:history.back()">Back</a>


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

    <h1 class="govuk-heading-xl govuk-!-margin-top-8 govuk-!-margin-bottom-8">
      Accessibility statement: Send a supervising engineer's annual statement
    </h1>

    <p class="govuk-body">This accessibility statement applies to the <a class="govuk-link govuk-link--no-visited-state"
        href="">Send a supervising engineer's annual statement service</a> and the Word template that
      you can download from the service.</p>

    <p class="govuk-body">This service is run by the Environment Agency. We want as many people as possible to be able
      to use this website. For example, that means you should be able to:</p>

    <ul class="govuk-list govuk-list--bullet">

      <li>change colours, contrast levels and fonts using browser or device settings
      </li>
      <li>zoom in up to 400% without the text spilling off the screen
      </li>
      <li>navigate most of the website using a keyboard or speech recognition software
      </li>
      <li>listen to most of the website using a screen reader
      </li>

    </ul>



    <p class="govuk-body">We've also made the website text as simple as possible to understand.</p>

    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state"
        href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier
      to use if you have a disability.</p>



    <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-4">
      How accessible this service is
    </h2>

    <p class="govuk-body">We know some parts of this website are not fully accessible:
    </p>

    <ul class="govuk-list govuk-list--bullet">

      <li>you cannot skip to the main content when using a screen reader
      </li>
      <li>upload component &ndash; it's not possible to read the whole name of the file chosen
      </li>
      <li>it's not possible to stop or change the length of the time-out when you use, sign in
      </li>

    </ul>



    <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-4">
      Feedback and contact information
    </h2>

    <p class="govuk-body">If you find any problems not listed on this page or you think we’re not meeting accessibility
      requirements, contact:
    </p>

    <ul class="govuk-list govuk-list--bullet">

      <li>email <a class="govuk-link govuk-link--no-visited-state"
          href="enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
      </li>
      <li>telephone: 03708 506 506 (Monday to Friday, 8am to 6pm)
      </li>

    </ul>


    <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-4">
      Enforcement procedure
    </h2>

    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector
      Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility
      regulations'). If you're not happy with how we respond to your complaint, contact the<a
        class="govuk-link govuk-link--no-visited-state" href="https://www.equalityadvisoryservice.com/"> Equality
        Advisory and Support Service (EASS)</a>
    </p>


    <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-4">
      Technical information about this website's accessibility
    </h2>

    <p class="govuk-body">The Environment Agency is committed to making its website accessible, in accordance with the
      Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>


    <h3 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-4">
      Compliance status
    </h3>

    <p class="govuk-body">The website has been tested against the Web Content Accessibility Guidelines (WCAG) 2.1 AA
      standard.</p>

    <p class="govuk-body">This website is partially compliant with the Web Content Accessibility Guidelines version 2.1
      AA standard, due to the non-compliances listed below.</p>


    <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-4">
      Non-accessible content
    </h2>

    <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>


    <h3 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-4">
      Non-compliance with the accessibility regulations
    </h3>

    <p class="govuk-body">You cannot skip to the main content when using a screen reader, this does not comply with WCAG
      2.1 success criterion <a class="govuk-link govuk-link--no-visited-state"
        href="https://www.w3.org/WAI/WCAG22/Understanding/bypass-blocks">2.4.1 Bypass Blocks</a>. This problem will be
      fixed in {Month TBC} 2024.</p>


    <p class="govuk-body">When you sign in and use the service, if you do not do anything for 20 minutes, the process
      will stop (time out) or you'll be signed out. It's not possible to adjust, extend or turn off the time out. This
      does not comply with WCAG 2.1 success criterion
      <a class="govuk-link govuk-link--no-visited-state"
        href="https://www.w3.org/WAI/WCAG22/Understanding/timeouts">2.2.6 Timeouts</a>. The problem will be reviewed in
      {Month TBC} 2024.
    </p>


    <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-4">
      Disproportionate burden
    </h2>

    <p class="govuk-body">None</p>


    <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-4">
      Content that's not within the scope of the accessibility regulations
    </h2>

    <p class="govuk-body">None</p>


    <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-4">
      What we're doing to improve accessibility
    </h2>

    <p class="govuk-body">We'll update this page when issues are fixed, when we expect them to be fixed or when new problems are identified.
    </p>

    <p class="govuk-body">We'll maintain existing routes to allow engineers to send their statements by email as they do now.
    </p>

    <p class="govuk-body">We're exploring ways to improve how the website works with screen readers, including how the website works with WCAG 2.2.
    </p>


    <h2 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-4">
      Preparation of this accessibility statement
    </h2>

    <p class="govuk-body">This statement was prepared on [date when it was first published]. It was last reviewed on [date when it was last reviewed].
    </p>

    <p class="govuk-body">This website was last tested on 22 April against the WCAG 2.1 AA standard.
    </p>

    <p class="govuk-body">The test was carried out by the website team on [date].
    </p>

    <p class="govuk-body govuk-!-margin-bottom-8">You can <a class="govuk-link govuk-link--no-visited-state"
      href="https://mcmw.abilitynet.org.uk/">read the full accessibility test report</a>.
    </p>

  </div>
</div>


{% endblock %}