{% extends "layout-back-button.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-caption-xl">Private Beta</span>
      Submit an annual statement
    </h1>

  </div>

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <a href="/Beta/Private/submit-s12/V8/service-start"
        class="govuk-heading-m govuk-link--no-visited-state">Version 8</a>

      <p class="govuk-body govuk-!-padding-bottom-6">Sprint XX</p>


      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">User group:</h3>

      <p class="govuk-body govuk-!-margin-bottom-6">Supervising engineers</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we tested</h3>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
        <li>TBC?
        </li>
        <!-- <li>What challenges they see for each of the prototypes? Why?
        </li>
        <li>What elements of the prototypes do they like? Why?
        </li>
        <li>What elements of the prototypes do they dislike? Why?
        </li>
        <li>What would be their preferred approach for an online service? Why?
        </li> -->
      </ul>

    </div>
  </div>
</div>

{% endblock %}