{% extends "layout-back-button.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-caption-xl">Private Beta</span>
      Submit an annual statement
    </h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">User group:</h2>

    <p class="govuk-body govuk-!-margin-bottom-6">Supervising engineers</p>

  </div>

</div>



<p class="govuk-caption-l govuk-!-margin-top-6">Sprint 12 &ndash; 13</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <h2 class="govuk-heading-m">
        Resubmit annual statement
      </h2>

        <a href="/Beta/Private/submit-s12/V14/which-idea" class="govuk-heading-m govuk-link--no-visited-state">Version
          14</a> 

        <details class="govuk-details govuk-!-margin-bottom-9">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">What we created</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">What we wanted to learn</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
  
                    <p class="govuk-body">Your account details</p>
    
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>Supervising engineer name, address, phone number and email address details
                      </li>
                      <li>Change links if the user wanted to make any updates
                      </li>
                    </ul>
                  </td>
  
  
                  <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>What benefits would occur from having these features?
                      </li>
                      <li>How would they rank/prioritise the features?
                      </li>
                      <li>Which of the features would encourage them to use the service?
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
  
  
          </div>
        </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What we tested
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">

            <li>Start service
            </li>

            <li>Sign in
            </li>

            <li>Choose a reservoir &ndash; with a typeahead search
            </li>

            <li>Download the template for Rockingham Reservoir
            </li>

            <li>Download another [Reservoir name] template
            </li>

            <li>Download confirmation
            </li>

            <li>Your annual statements – Reservoir status 'In progress'
            </li>

            <li>Upload template
            </li>

            <li>Upload confirmation
            </li>

          </ul>
        </div>
      </details>

    </div>
  </div>
</div>

<p class="govuk-caption-l govuk-!-margin-top-6">Sprint 12</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <h2 class="govuk-heading-m">
        Upload in progress
      </h2>

      <p class="govuk-body govuk-!-padding-top-6 govuk-!-margin-bottom-2" style="color: #0b0c0c;">UI Designs &ndash; V1
      </p>

      <ol class="govuk-list govuk-list govuk-!-margin-bottom-5">

        <li>
          <a href="/Beta/Private/submit-s12/upload-progress/V1/upload-in-progress.html" role="button" draggable="false"
            class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Upload in progress
          </a>
        </li>

        <li>
          <a href="/Beta/Private/submit-s12/upload-progress/V1/upload-complete.html" role="button" draggable="false"
            class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Upload is complete
          </a>
        </li>

      </ol>

    </div>
  </div>
</div>


<p class="govuk-caption-l govuk-!-margin-top-6">Sprint 11</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <h2 class="govuk-heading-m">
        Download and upload statement
      </h2>

      <a href="/Beta/Private/submit-s12/V13/service-start" class="govuk-heading-m govuk-link--no-visited-state">Version
        13</a>

        <details class="govuk-details govuk-!-margin-bottom-9">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">What we created</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">What we wanted to learn</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
  
                    <p class="govuk-body">Your account details</p>
    
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>Supervising engineer name, address, phone number and email address details
                      </li>
                      <li>Change links if the user wanted to make any updates
                      </li>
                    </ul>
                  </td>
  
  
                  <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>What benefits would occur from having these features?
                      </li>
                      <li>How would they rank/prioritise the features?
                      </li>
                      <li>Which of the features would encourage them to use the service?
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
  
  
          </div>
        </details>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What we tested
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
  
              <li>Start service
              </li>
  
              <li>Sign in
              </li>
  
              <li>Choose a reservoir &ndash; with a typeahead search
              </li>
  
              <li>Download the template for Rockingham Reservoir
              </li>
  
              <li>Download another [Reservoir name] template
              </li>
  
              <li>Download confirmation
              </li>
  
              <li>Your annual statements – Reservoir status 'In progress'
              </li>
  
              <li>Upload template
              </li>
  
              <li>Upload confirmation
              </li>
  
            </ul>
          </div>
        </details>

    </div>
  </div>
</div>


<p class="govuk-caption-l govuk-!-margin-top-6">Sprint 10</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <h2 class="govuk-heading-m">
        Download and upload statement
      </h2>

      <a href="/Beta/Private/submit-s12/V12/service-start" class="govuk-heading-m govuk-link--no-visited-state">Version
        12</a>

        <details class="govuk-details govuk-!-margin-bottom-9">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">What we created</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">What we wanted to learn</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
  
                    <p class="govuk-body">Your account details</p>
    
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>Supervising engineer name, address, phone number and email address details
                      </li>
                      <li>Change links if the user wanted to make any updates
                      </li>
                    </ul>
                  </td>
  
  
                  <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>What benefits would occur from having these features?
                      </li>
                      <li>How would they rank/prioritise the features?
                      </li>
                      <li>Which of the features would encourage them to use the service?
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
  
  
          </div>
        </details>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What we tested
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
  
              <li>Start service
              </li>
  
              <li>Sign in
              </li>
  
              <li>Choose a reservoir &ndash; with a typeahead search
              </li>
  
              <li>Download the template for Rockingham Reservoir
              </li>
  
              <li>Download another [Reservoir name] template
              </li>
  
              <li>Download confirmation
              </li>
  
              <li>Your annual statements – Reservoir status 'In progress'
              </li>
  
              <li>Upload template
              </li>
  
              <li>Upload confirmation
              </li>
  
            </ul>
          </div>
        </details>

    </div>
  </div>
</div>

<p class="govuk-caption-l govuk-!-margin-top-6">Sprint 7 &ndash; 8</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <h2 class="govuk-heading-m">
        Download and upload statement
      </h2>

      <a href="/Beta/Private/submit-s12/V11/service-start" class="govuk-heading-m govuk-link--no-visited-state">Version
        11</a>

        <details class="govuk-details govuk-!-margin-bottom-9">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">What we created</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">What we wanted to learn</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
  
                    <p class="govuk-body">Your account details</p>
    
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>Supervising engineer name, address, phone number and email address details
                      </li>
                      <li>Change links if the user wanted to make any updates
                      </li>
                    </ul>
                  </td>
  
  
                  <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>What benefits would occur from having these features?
                      </li>
                      <li>How would they rank/prioritise the features?
                      </li>
                      <li>Which of the features would encourage them to use the service?
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
  
  
          </div>
        </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What we tested
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">

            <li>Start service
            </li>

            <li>Sign in
            </li>

            <li>Choose a reservoir &ndash; with a typeahead search
            </li>

            <li>Download the template for Rockingham Reservoir
            </li>

            <li>Download another [Reservoir name] template
            </li>

            <li>Download confirmation
            </li>

            <li>Your annual statements – Reservoir status 'In progress'
            </li>

            <li>Upload template
            </li>

            <li>Upload confirmation
            </li>

          </ul>
        </div>
      </details>

    </div>
  </div>
</div>


<p class="govuk-caption-l govuk-!-margin-top-6">Sprint 4</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <h2 class="govuk-heading-m">
        Download statement
      </h2>

      <a href="/Beta/Private/submit-s12/V10/service-start" class="govuk-heading-m govuk-link--no-visited-state">Version
        10</a>

        <details class="govuk-details govuk-!-margin-bottom-9">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">What we created</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">What we wanted to learn</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
  
                    <p class="govuk-body">Your account details</p>
    
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>Supervising engineer name, address, phone number and email address details
                      </li>
                      <li>Change links if the user wanted to make any updates
                      </li>
                    </ul>
                  </td>
  
  
                  <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>What benefits would occur from having these features?
                      </li>
                      <li>How would they rank/prioritise the features?
                      </li>
                      <li>Which of the features would encourage them to use the service?
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
  
  
          </div>
        </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What we tested
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">

            <li>Start service
            </li>

            <li>Sign in
            </li>

            <li>Choose a reservoir &ndash; with a typeahead search
            </li>

            <li>Download the template for Rockingham Reservoir
            </li>

            <li>Download another [Reservoir name] template
            </li>

            <li>Download confirmation
            </li>

            <li>Your annual statements – Reservoir status 'In progress'
            </li>

            <li>Upload template
            </li>

            <li>Upload confirmation
            </li>

          </ul>
        </div>
      </details>


    </div>
  </div>
</div>


<p class="govuk-caption-l govuk-!-margin-top-6">Sprint 3</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <h2 class="govuk-heading-m">
        Download and upload statement
      </h2>
  
      <a href="/Beta/Private/submit-s12/V9/service-start" class="govuk-heading-m govuk-link--no-visited-state">Version
        9</a>

        <details class="govuk-details govuk-!-margin-bottom-9">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">What we created</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">What we wanted to learn</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
  
                    <p class="govuk-body">Your account details</p>
    
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>Supervising engineer name, address, phone number and email address details
                      </li>
                      <li>Change links if the user wanted to make any updates
                      </li>
                    </ul>
                  </td>
  
  
                  <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>What benefits would occur from having these features?
                      </li>
                      <li>How would they rank/prioritise the features?
                      </li>
                      <li>Which of the features would encourage them to use the service?
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
  
  
          </div>
        </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What we tested
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">

            <li>Start service
            </li>

            <li>Sign in
            </li>

            <li>Choose a reservoir &ndash; with a typeahead search
            </li>

            <li>Download the template for Rockingham Reservoir
            </li>

            <li>Download another [Reservoir name] template
            </li>

            <li>Download confirmation
            </li>

            <li>Your annual statements – Reservoir status 'In progress'
            </li>

            <li>Upload template
            </li>

            <li>Upload confirmation
            </li>

          </ul>
        </div>
      </details>


      <a href="/Beta/Private/submit-s12/V9-1/service-start" class="govuk-heading-m govuk-link--no-visited-state">Version
        9.1</a>

        <details class="govuk-details govuk-!-margin-bottom-9">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">What we created</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">What we wanted to learn</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
  
                    <p class="govuk-body">Your account details</p>
    
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>Supervising engineer name, address, phone number and email address details
                      </li>
                      <li>Change links if the user wanted to make any updates
                      </li>
                    </ul>
                  </td>
  
  
                  <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>What benefits would occur from having these features?
                      </li>
                      <li>How would they rank/prioritise the features?
                      </li>
                      <li>Which of the features would encourage them to use the service?
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
  
  
          </div>
        </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What we tested
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">

            <li>Start service
            </li>

            <li>Sign in
            </li>

            <li>Choose a reservoir &ndash; with a typeahead search
            </li>

            <li>Download the template for Rockingham Reservoir
            </li>

            <li>Download another [Reservoir name] template
            </li>

            <li>Download confirmation
            </li>

            <li>Your annual statements – Reservoir status 'In progress'
            </li>

            <li>Upload template
            </li>

            <li>Upload confirmation
            </li>

          </ul>
        </div>
      </details>

    </div>
  </div>
</div>


<p class="govuk-caption-l govuk-!-margin-top-6">Sprint 0</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <h2 class="govuk-heading-m">
        Download and upload statement
      </h2>

      <a href="/Beta/Private/submit-s12/V8/service-start" class="govuk-heading-m govuk-link--no-visited-state">Version
        8</a>

        <details class="govuk-details govuk-!-margin-bottom-9">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">What we created</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">What we wanted to learn</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
  
                    <p class="govuk-body">Your account details</p>
    
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>Supervising engineer name, address, phone number and email address details
                      </li>
                      <li>Change links if the user wanted to make any updates
                      </li>
                    </ul>
                  </td>
  
  
                  <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>What benefits would occur from having these features?
                      </li>
                      <li>How would they rank/prioritise the features?
                      </li>
                      <li>Which of the features would encourage them to use the service?
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
  
  
          </div>
        </details>
        
        <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What we tested
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">

            <li>Start service
            </li>

            <li>Sign in
            </li>

            <li>Choose a reservoir &ndash; with a typeahead search
            </li>

            <li>Download the template for Rockingham Reservoir
            </li>

            <li>Download another [Reservoir name] template
            </li>

            <li>Download confirmation
            </li>

            <li>Your annual statements – Reservoir status 'In progress'
            </li>

            <li>Upload template
            </li>

            <li>Upload confirmation
            </li>

          </ul>
        </div>
      </details>


    </div>
  </div>
</div>

{% endblock %}