{% extends "layout-new-crown.html" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-caption-xl">Private Beta</span>
      Submit an annual statement
    </h1>

    <p class="govuk-body-l govuk-!-padding-bottom-5">
      <span class="govuk-body-l govuk-!-font-weight-bold">User group:</span>
      Supervising engineers
    </p>



    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 0</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Download and upload statement</h2>

      <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
        Tested
      </strong>

      <a href="/Beta/Private/submit-s12/V8/service-start" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        8</a>



      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">

          <p class="govuk-body govuk-!-padding-bottom-0">Changed the service from being all questions filled out online, to the user being able to download a Word template to fill out offline</p>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Start page</p>
              <p class="govuk-body">Add new content to explain what the service does
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-0">Sign in</p>
              <p class="govuk-body">Enter username and password
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-0">Choose a reservoir</p>
              <p class="govuk-body">Search for a reservoir statement by autocomplete
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Download an annual statement template for [Named Reservoir]</p>
              <p class="govuk-body">User can download a template for the reservoir selected, also has option to download an additional template</p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Template downloaded</p>
              <p class="govuk-body">Confirmation page shows the user the statement has been downloaded. What's next section explaining the process and a link back to view their account</p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Your annual statements</p>
              <p class="govuk-body">List of all the reservoirs in the user account</p>
            </li>


            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Upload an annual statement template for [Named Reservoir]</p>
              <p class="govuk-body">User can download a template for the reservoir selected</p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Annual statement sent</p>
              <p class="govuk-body">Page shows the user the statement has been sent. What's next section allowing the user to return to send another statement or view their account
              </p>
            </li>

          </ul>

        </div>
      </details>


      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>

      <p class="govuk-body">To evaluate our prototype concept for submitting the section 12 statements online
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-padding-bottom-2">

        <li>What do engineers think of the proposed process?
        </li>

        <li>What benefits do they see? Why?
        </li>

        <li>What challenges might occur? Why?
        </li>

        <li>What might improve this approach? Why?
        </li>

        <li>What requirements do they have for a template?
        </li>

        <li>What should it do? Why?
        </li>

        <li>What should be avoided? Why?
        </li>

        <li>What, if any, additional information would they want to highlight to the EA when submitting?
        </li>

      </ul>

      <p class="govuk-body">To evaluate and prioritise some additional features that might be included in the service
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-padding-bottom-6">
        

        <li>What benefits would occur from having these features?
        </li>

        <li>How would they rank/prioritise the features?
        </li>

        <li>Which of the features would encourage them to use the service?
        </li>

      </ul>

    </div>


    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 3</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Download and upload statement</h2>

      <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
        Tested
      </strong>

      <a href="/Beta/Private/submit-s12/V9/service-start"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        9</a>

      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>
              <p class="govuk-body govuk-!-margin-bottom-0">Download an annual statement template for [Named Reservoir]</p>
              <p class="govuk-body">Replaced National Grid reference with Nearest town
              </p>
            </li>

            <li>
              <p class="govuk-bodygovuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Your annual statements</p>
              <p class="govuk-body">Allow the user to see current and previous statements. In the table added Town and an action button for Upload
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-0">Annual statement sent</p>
              <p class="govuk-body">Confirmation page shows the user the statement has been sent. What's next section allowing the user to return to send another annual statement or view their account
              </p>
            </li>
          
          </ul>

        </div>

      </details>


      <strong class="first-capital govuk-tag govuk-tag--green">
        Tested
      </strong>

      <a href="/Beta/Private/submit-s12/V9-1/service-start" class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        9.1</a>

      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">

          <p class="govuk-body govuk-!-padding-bottom-0">Removed the Search for a reservor page and incorporated this fuctionality into the Your annual statements page. Changed the order of Download an annual statement template for [Named Reservoir] page</p>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Your annual statements</p>
                <p class="govuk-body">User can now search download and uplaod a reservoir statement. New status tags usedd to show if something is Not started, In progress or Sent
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Send the annual statement to the undertaker</p>
              <p class="govuk-body">Shows the undertakers name and contact details. User can then choose to send a copy of the statement directly through the service
              </p>
            </li>

          </ul>

        </div>

      </details>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>

      <p class="govuk-body">To usability test the upload/download process for the template
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-padding-bottom-6">

        <li>Are they able to complete the tasks (upload/download)?
        </li>

        <li>What challenges do they face when using the service?
        </li>

        <li>What concerns do they have about using the service?
        </li>

        <li>Which of the design options do they prefer & why?
        </li>

      </ul>

    </div>


    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 4</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Download statement</h2>

      <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
        Design released for Dev build
      </strong>

      <a href="/Beta/Private/submit-s12/V10/service-start"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        10</a>


      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Start page</p>
              <p class="govuk-body">Add new content to explain what the service does
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Download an annual statement template for [Named Reservoir]</p>
              <p class="govuk-body">User can download a template for the reservoir selected, also given option to download an additional template
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Template downloaded</p>
              <p class="govuk-body">Confirmation page
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Your annual statements</p>
              <p class="govuk-body">Search functionality and a list of all the reservoirs in the users account
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Upload an annual statement template for [Named Reservoir]</p>
              <p class="govuk-body">User can download a template for the reservoir selected
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Annual statement sent</p>
              <p class="govuk-body">Confirmation page shows user the statement has been sent. What's next section allows the user to return to send another annual statement or view their account
              </p>
            </li>

          </ul>
        </div>
      </details>
    </div>

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 7 &ndash; 8</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Download and upload statement</h2>

      <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
        Design released for Dev build
      </strong>

      <a href="/Beta/Private/submit-s12/V11/service-start"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        11</a>


      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Start page</p>
              <p class="govuk-body">Add new content to explain what the service does
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Download an annual statement template for [Named Reservoir]</p>
              <p class="govuk-body">User can download a template for the reservoir selected, also has option to download an additional template
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Template downloaded</p>
              <p class="govuk-body">Confirmation page
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Your annual statements</p>
              <p class="govuk-body">List of all the reservoirs in your account
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Upload an annual statement template for [Named Reservoir]</p>
              <p class="govuk-body">Users can download a template for the reservoir selected
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Annual statement sent</p>
              <p class="govuk-body">Confirmation page shows the user the statement has been sent. What's next section allowing the user to return to send another annual statement or view their account
              </p>
            </li>

          </ul>
        </div>
      </details>
    </div>

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 10</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Upload statement</h2>

      <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
        Design released for Dev build
      </strong>

      <a href="/Beta/Private/submit-s12/V12/upload-your-template"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        12</a>


      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">

          <p class="govuk-body govuk-!-padding-bottom-0">New Dev team requirement for the upload journey of the service</p>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>
              <p class="govuk-body govuk-!-margin-bottom-0">Upload an annual statement template for [Named Reservoir]</p>
              <p class="govuk-body">Add new content to inform the user that their file is checked for viruses
              </p>
            </li>
            

          </ul>
        </div>
      </details>
    </div>

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 11</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Download and upload statement</h2>

      <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
        Design released for Dev build
      </strong>

      <a href="/Beta/Private/submit-s12/V13/service-start"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        13</a>


      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">

          <p class="govuk-body govuk-!-padding-bottom-0">Updating current desig to meet WCAG 2.2 criteria</p>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>
              <p class="govuk-body govuk-!-margin-bottom-0">Start page</p>
              <p class="govuk-body">Amended content in the Before you start section, regarding engineers email address on the panel
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-0">Sign in</p>
              <p class="govuk-body">Changed username to email address
              </p>
            </li>

            
            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Your annual statements</p>
              <p class="govuk-body">Update of status tags to match new WCAG 2.2 criteria
              </p>
            </li>

          </ul>
        </div>
      </details>
    </div>

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 12</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Upload in progress</h2>

      <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
        Design released for Dev build
      </strong>

      <h3 class="govuk-heading-m govuk-!-padding-top-8">UI Designs</h3>

      <ul class="govuk-list">
        <li>
          <a href="/Beta/Private/submit-s12/upload-progress/V1/upload-in-progress"
            class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-0">Upload in progress &ndash;
            V1</a>
        </li>
        <li>
          <a href="/Beta/Private/submit-s12/upload-progress/V1/upload-complete"
            class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-0">Upload is complete &ndash;
            V1</a>
        </li>
      </ul>

      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">

          <p class="govuk-body govuk-!-padding-bottom-0">Introduced new screens to inform user file upload is in progress</p>

        </div>
      </details>
    </div>

    <div class="card govuk-!-margin-top-9 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 12 &ndash; 13</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Resubmit annual statement</h2>

      <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
        Tested
      </strong>

      <a href="/Beta/Private/submit-s12/V14/which-idea"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        14</a>


      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">

          <p class="govuk-body govuk-!-padding-bottom-0">A and B testing of the new resubmit annual statement journey</p>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Version A and B</p>
              <p class="govuk-body govuk-!-margin-bottom-0">Your annual statements</p>
              <p class="govuk-body">A has three action buttons, Download, Send and Resend, and B onl two buttons Download and Send
              </p>
            </li>
            

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Version A and B</p>
              <p class="govuk-body govuk-!-margin-bottom-0">Resubmit statement</p>
              <p class="govuk-body">Allow the user to tell the EA what has changed from their last statement
              </p>
            </li>


            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Version B</p>
              <p class="govuk-body govuk-!-margin-bottom-0">Send or resend a statement</p>
              <p class="govuk-body">Ask if the user wants to send a new statement or an exisiting statement with changes
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-0">Upload an annual statement template for [Named Reservoir]</p>
              <p class="govuk-body">Changed file scan time from 10 seconds to a minute
              </p>
            </li>


          </ul>
        </div>
      </details>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>

      <p class="govuk-body">To evaluate our prototypes for resubmission & half yearly submission
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-padding-bottom-6">

        <li>Which of the designs do engineers prefer & why?
        </li>

        <li>Do they understand the differences between “send” and “resend”?
        </li>

        <li>How would they submit a half yearly statement?
        </li>

        <li>How would they resubmit a statement with an error?
        </li>

        <li>Are there any challenges or pain points in the service?
        </li>

      </ul>

    </div>

    <div class="card govuk-!-margin-top-9 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 15</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Send to undertaker</h2>

      <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
        Tested
      </strong>

      <a href="/Beta/Private/submit-s12/V15/which-idea"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        15</a>


      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">

          <p class="govuk-body govuk-!-padding-bottom-0">A and B testing of the send to undertaker journey</p>
          
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>
              <p class="govuk-body govuk-!-margin-bottom-0">Who the statement will go to</p>
              <p class="govuk-body">Removed Reservoir name from undertaker details table and included in the above body copy. Included the name of the undertaker in the question
              </p>
            </li>


            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Version A</p>
              <p class="govuk-body govuk-!-margin-bottom-0">Send the statement to another undertaker</p>
              <p class="govuk-body">Yes or No options
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-0"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Version A</p>
              <p class="govuk-body govuk-!-margin-bottom-0">Send the statement to another undertaker instead</p>
              <p class="govuk-body">Yes or No options
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Version A</p>
              <p class="govuk-body govuk-!-margin-bottom-0">Enter emails</p>
              <p class="govuk-body">User can send to three additional contacts
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Version B</p>
              <p class="govuk-body govuk-!-margin-bottom-0">Share with the undertaker</p>
              <p class="govuk-body">Alternative design
              </p>
            </li>

          </ul>
        </div>
      </details>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>

      <p class="govuk-body">Evaluate two prototype options for how engineers select and provide undertaker information
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-padding-bottom-6">

        <li>Which of the designs do engineers prefer and why?
        </li>

        <li>Are there any challenges or concerns for either of the designs?
        </li>

      </ul>

    </div>

    <div class="card govuk-!-margin-top-9 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 16</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Resubmit annual statement</h2>

      <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
        Design released for Dev build
      </strong>

      <a href="/Beta/Private/submit-s12/V16/your-statements-no-search"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        16</a>


      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>
              <p class="govuk-body govuk-!-margin-bottom-0">Your annual statements</p>
              <p class="govuk-body">H1 chnaged to Annual statement templates and includes new line about format. Action buttons aligned left and addded dropdown for Reseervoir not listed
              </p>
            </li>


          </ul>
        </div>
      </details>
    </div>

    <div class="card govuk-!-margin-top-9 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 17</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Send to undertaker</h2>

      <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
        Tested
      </strong>
      
      <a href="/Beta/Private/submit-s12/V17/service-start"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        17</a>


      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>
              <p class="govuk-body govuk-!-margin-bottom-0">Who the statement will go to</p>
              <p class="govuk-body">Added third radio button No undertakers are wrong
              </p>
            </li>
            
            <li>
              <p class="govuk-body govuk-!-margin-bottom-0">Send the statement to another undertaker</p>
              <p class="govuk-body">Changed another undertaker to someone else as well
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-0">Send the statement to another undertaker instead</p>
              <p class="govuk-body">Changed another undertaker instead to someone else instead
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-0">Enter emails</p>
              <p class="govuk-body">Changed undertakers to people. Added another input field so that the user could send to four additional contacts
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Check emails</p>
              <p class="govuk-body">User can view contacts and have the ability to edit
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-0">Upload your statement</p>
              <p class="govuk-body">Removed your and replaced with and send to the H1
              </p>
            </li>


            <li>
              <p class="govuk-body govuk-!-margin-bottom-0">Annual statement sent</p>
              <p class="govuk-body">Changed link from your your annual statements to annual statement templates
              </p>
            </li>


          </ul>
        </div>
      </details>


      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>

      <p class="govuk-body">To usability test the end to end service
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-padding-bottom-6">

        <li>Do engineers understand what the service is?
        </li>

        <li>Can they log in with fake credentials?
        </li>

        <li>Can engineers find and download a template?
        </li>

        <li>Can engineers submit a statement to the EA, undertaker and additional email address?
        </li>

        <li>Do engineers know whether they are sending a new statement or resubmission?
        </li>

        <li>What challenges might exist with the service or adoption of the service?
        </li>

      </ul>


    </div>

    <div class="card govuk-!-margin-top-9 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 18</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Search for a reservoir</h2>

      <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
        Design released for Dev build
      </strong>

      <a href="/Beta/Private/submit-s12/V18/annual-statements-search.html"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        18</a>


    </div>

    <div class="card govuk-!-margin-top-9 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 19</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Send to other people</h2>

      <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
        Design released for Dev build
      </strong>
      
      <a href="/Beta/Private/submit-s12/V19/enter-emails"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        19</a>


      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>
              <p class="govuk-body govuk-!-margin-bottom-0">Enter emails</p>
              <p class="govuk-body">Changed so that the user could send to five additional contacts
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-0">Check emails</p>
              <p class="govuk-body">User can now delete a contact
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Edit email</p>
              <p class="govuk-body">User can view contacts and have the ability to edit
              </p>
            </li>

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Delete email</p>
              <p class="govuk-body">User has the ability to delete an email
              </p>
            </li>

          </ul>
        </div>
      </details>
    </div>

    <div class="card govuk-!-margin-top-9 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 20</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Upload a file</h2>


      <a href="/Beta/Private/submit-s12/upload-a-file/V1/upload-your-statement"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version 1</a>


      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">

          <p class="govuk-body govuk-!-padding-bottom-0">New design for how user can upload a file</p>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>
              <p class="govuk-body govuk-!-margin-bottom-1"><strong>New design:</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-0">Upload and send statement</p>
              <p class="govuk-body">User can now also drag and drop a file. The chosen file is added to the same screen below the choose file component. User also has option to remove the file
              </p>
            </li>

          </ul>
        </div>
      </details>
    </div>

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 21</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Search and upload a new statement
      </h2>

      <strong class="first-capital govuk-tag govuk-tag--green govuk-!-margin-top-4">
        Tested
      </strong>

      <a href="/Beta/Private/submit-s12/V20/annual-statements-search"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version 20</a>


      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>
              <p class="govuk-body govuk-!-margin-bottom-0">Upload and send statement</p>
              <p class="govuk-body">when the user selects a file to upload that file name is listed on the page and the choose file component is now hidden. When the user removes a file the choose file component then reappears
              </p>
            </li>

          </ul>
        </div>
      </details>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>

      <p class="govuk-body">To evaluate the new search feature
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-padding-bottom-2">

        <li>How do people navigate to a specific reservoir?
        </li>

        <li>What are engineers thoughts on having a search option?
        </li>

      </ul>
      

      <p class="govuk-body">To evaluate how easy it is for engineers to add and remove files
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-padding-bottom-6">

        <li>Can engineers add and remove files with ease?
        </li>

        <li>What is their preferred upload method?
        </li>

      </ul>

    </div>

  </div>

</div>


{% endblock %}