{% extends "layout-sign-out.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/V3/submit-s12-statement/operator-details/confirm-operator" method="post">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Reservoir details</h1>


            <dl class="govuk-summary-list govuk-summary-list--no-border">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Reservoir name
                    </dt>
                    <dd class="govuk-summary-list__value" for="reservoir-name-old">
                        <p class="govuk-body" id="reservoir-name-old" name="reservoir-name-old">{{ data['new-reservoir-name'] }}</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/Beta/V3/submit-s12-statement/reservoir-details/change-name">
                            Change<span class="govuk-visually-hidden">Reservoir name</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Nearest town
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Dalton Parva</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/Beta/V3/submit-s12-statement/reservoir-details/change-town">
                            Change<span class="govuk-visually-hidden">Nearest town</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        National Grid reference
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">SU106951</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/Beta/V3/submit-s12-statement/reservoir-details/change-grid-ref">
                            Change<span class="govuk-visually-hidden">National Grid reference</span>
                        </a>
                    </dd>
                </div>

            </dl>

            <!-- <div class="govuk-form-group govuk-!-padding-top-6">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Do these details match your records?
                        </h1>
                    </legend>


                    <div class="govuk-radios govuk-radios--inline govuk-!-margin-top-2" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="match-reservoir-1" name="match-reservoir" type="radio"
                                value="Yes">
                            <label class="govuk-label govuk-radios__label" for="match-reservoir-1">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="match-reservoir-2" name="match-reservoir" type="radio"
                                value="No">
                            <label class="govuk-label govuk-radios__label" for="match-reservoir-2">
                                No
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div> -->


            <button role="button" draggable="false" class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-6"
                data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}