{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="#" method="post" class="form">

            <h1 class="govuk-heading-xl">Is there an alternative supervising engineer?</h1>

            <div class="govuk-form-group">

                <select class="govuk-select-alt" id="sort" name="sort">
                    <option value="#"></option>
                    <option value="published">David Richardson</option>
                    <option value="updated">Stephen Hall</option>
                    <option value="views">Helen Jackson</option>
                    <option value="comments">George Edwards</option>
                    <option value="comments">Jennifer Young</option>
                </select>
            </div>


            <button role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"
                data-module="govuk-button">
                Confirm
            </button>

        </form>


    </div>
</div>

{% endblock %}