{% extends "layout-account-service-name.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block beforeContent %}

<div class="govuk-phase-banner">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service — your <a href="#" class="govuk-link">feedback</a> will help us to improve it.
        </span>

      </p>
    </div>
    <div class="govuk-grid-column-one-third-from-desktop float-right">
      <a href="#" class="govuk-link login-nav-2-item govuk-link--no-visited-state profile">Manage account</a>

      <a href="#" class="govuk-link login-nav-2-item govuk-link--no-visited-state">Sign out</a>

    </div>
  </div>

</div>

<a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#">The file size must be smaller than 30MB</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <form action="/Beta/Private/submit-s12/V11/upload-confirmation" method="post">

      <div class="govuk-form-group govuk-form-group--error">
        <label class="govuk-label" for="file-upload-1">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Upload your statement
          </h1>
        </label>
        <p id="file-upload-1-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>The file size must be smaller than 30MB
        </p>
        <input class="govuk-file-upload govuk-file-upload--error" id="file-upload-1" name="fileUpload1" type="file"
          aria-describedby="file-upload-1-error">
      </div>

      <div>


        <button role="button" draggable="false"
          class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6 govuk-!-margin-right-4"
          data-module="govuk-button">
          Send statement
        </button>

      </div>
    </form>
  </div>
</div>

{% endblock %}