{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/V3/submit-s12-statement/inspecting-engineer/change-name-answer" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                      Are you sure you want to change the inspecting engineer?
                    </h1>
                  </legend>

                  <div class="govuk-radios govuk-radios--inline govuk-!-margin-top-2" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="inspecting-engineer" name="inspecting-engineer" type="radio" value="Yes">
                      <label class="govuk-label govuk-radios__label" for="inspecting-engineer">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="inspecting-engineer-2" name="inspecting-engineer" type="radio" value="No">
                      <label class="govuk-label govuk-radios__label" for="inspecting-engineer-2">
                        No
                      </label>
                    </div>
                  </div>
              
                </fieldset>
              </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div>
</div>

{% endblock %}