{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Who is the new inspecting engineer?</h1>

        <form class="form" action="/Beta/V3/submit-s12-statement/inspecting-engineer/confirm-new-engineer" method="post">


            <div class="govuk-form-group">

                <label class="govuk-label govuk-label--m" for="new-inspecting-engineer-name">
                    Name
                </label>
               <input class="govuk-input" id="new-inspecting-engineer-name" name="new-inspecting-engineer-name" type="text">
            </div>

            <div class="govuk-form-group">

                <label class="govuk-label govuk-label--m" for="new-inspecting-engineer-address">
                    Address
                </label>
                <input class="govuk-input" id="new-inspecting-engineer-address-1" name="new-inspecting-engineer-address-1" type="text">
                <input class="govuk-input govuk-!-margin-top-4" id="new-inspecting-engineer-address-2" name="new-inspecting-engineer-address-2" type="text">
                
                <label class="govuk-label govuk-label--m govuk-!-margin-top-4" for="new-inspecting-engineer-postcode">
                    Postcode
                </label>
                <input class="govuk-input govuk-!-width-one-quarter" id="new-inspecting-engineer-postcode" name="new-inspecting-engineer-postcode" type="text">

            </div>

            <div class="govuk-form-group">

                <label class="govuk-label govuk-label--m" for="new-inspecting-engineer-email">
                    Email address
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="new-inspecting-engineer-email" name="new-inspecting-engineer-email" type="text">
            </div>

            <div class="govuk-form-group">

                <label class="govuk-label govuk-label--m" for="new-inspecting-engineer-phone">
                    Phone number
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="new-inspecting-engineer-phone" name="new-inspecting-engineer-phone" type="text">
            </div>


            <button class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6" data-module="govuk-button">Save
                and continue</button>


        </form>



    </div>
</div>

{% endblock %}