{% extends "layout-phase.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
                Reset your password
                </label>
            </h1>
        </div>

        <p class="govuk-body">TBC...?</p>

        <p class="govuk-body">TBC...?</p>

        <p class="govuk-body">TBC...?</p>

        <a class="govuk-list govuk-link--no-visited-state" href="/Beta/Private/account-sign-in/forgotten-password/V3/sign-in-2">JU4$4SX%su^N</a>


    </div>
</div>

{% endblock %}