{% extends "layout-account-service-name.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block beforeContent %}

<div class="govuk-phase-banner" id="beta-banner">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service — your <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_0wFTSeSWzDuXiRg/"
            class="govuk-link">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <div class="govuk-grid-column-one-third-from-desktop float-right">
      <a href="/Beta/Private/account-sign-in/change-password/V3/my-account"
        class="govuk-link login-nav-2-item govuk-link--no-visited-state profile">Manage account</a>

      <a href="#" class="govuk-link login-nav-2-item govuk-link--no-visited-state">Sign out</a>

    </div>
  </div>

</div>


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l govuk-!-margin-top-8">Example page</h1>


  </div>
</div>


{% endblock %}