{% extends "layout-sign-out.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">

        <form action="/Beta/submit-s12-statement/V3/s12-statement/alt-supervising-engineer/super-engineer" method="post">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Operator details</h1>

            <div id="event-name-hint" class="govuk-hint govuk-!-margin-bottom-8">
                'Operator' is used here to mean the undertaker.
              </div>

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value" for="operator-name-old" id="operator-name-old"
                        name="operator-name-old">
                        Naomi Roberts
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="/Beta/submit-s12-statement/V3/s12-statement/operator-details/change-name">
                            Change<span class="govuk-visually-hidden">Name</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value" for="operator-address-old" id="operator-address-old"
                        name="operator-address-old">
                        Rockingham Estate<br>Hampshire<br>PO10 1AB
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="/Beta/submit-s12-statement/V3/s12-statement/operator-details/change-address">
                            Change<span class="govuk-visually-hidden">Address</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="govuk-summary-list__value" for="operator-email-new" id="operator-email-new" name="operator-email-new">
                        {{ data['new-operator-email'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="/Beta/submit-s12-statement/V3/s12-statement/operator-details/change-email">
                            Change<span class="govuk-visually-hidden">Email</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Phone
                    </dt>
                    <dd class="govuk-summary-list__value" for="operator-phone-old" id="operator-phone-old" name="operator-phone-old">
                        02392 123-456
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="/Beta/submit-s12-statement/V3/s12-statement/operator-details/change-phone">
                            Change<span class="govuk-visually-hidden">Phone</span>
                        </a>
                    </dd>
                </div>
            </dl>

            <div class="govuk-form-group govuk-!-margin-top-4 govuk-!-padding-top-6">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-fieldset__heading">
                            Do you want to add another operator?
                        </h2>
                    </legend>
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-operator-1" name="add-operator" type="radio"
                                value="Yes">
                            <label class="govuk-label govuk-radios__label" for="add-operator-1">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-operator-2" name="add-operator" type="radio"
                                value="no">
                            <label class="govuk-label govuk-radios__label" for="add-operator-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>



            <div>
                <button role="button" draggable="false"
                    class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6 govuk-!-margin-right-4"
                    data-module="govuk-button">
                    Continue
                </button>
                <button type="submit"
                    class="govuk-button govuk-button--secondary govuk-!-margin-top-6 govuk-!-margin-bottom-9"
                    data-module="govuk-button">
                    Save and come back later
                </button>
            </div>

        </form>

        <div class="govuk-!-margin-top-8">
            <p><a class="govuk-link govuk-link--no-visited-state"
                    href="/Beta/submit-s12-statement/V3/s12-statement/operator-details/add-operator">Add another operator</a></p>
        </div>

    </div>
</div>

{% endblock %}
