{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-l">Breaches</span>
      <form class="form" action="Additional-info" method="post">

        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="checkbox-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Select any breaches that you are reporting
        </h1>
    </legend>
    <div id="section" class="govuk-hint">
      Select all that apply.
    </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="section-12-2" name="section-12-2" type="checkbox" value="section-12-2">
        <label class="govuk-label govuk-checkboxes__label" for="section-12-2">
          Section 10(1) - inspection
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="section" name="section" type="checkbox" value="section">
        <label class="govuk-label govuk-checkboxes__label" for="section">
          Section 8(3) - measures in the interest of safety
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="section" name="section" type="checkbox" value="section">
        <label class="govuk-label govuk-checkboxes__label" for="section">
          Section 10(5A) - maintenance
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="section" name="section" type="checkbox" value="section">
        <label class="govuk-label govuk-checkboxes__label" for="section">
          Section 10(6) - measures in the interest of safety
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="section" name="section" type="checkbox" value="section">
        <label class="govuk-label govuk-checkboxes__label" for="section">
          Section 11 - recording water levels
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="section" name="section" type="checkbox" value="section">
        <label class="govuk-label govuk-checkboxes__label" for="section">
          Failure to give the enforcement authority any notice required by the Act
        </label>
      </div>
    </div>

  </fieldset>
</div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

  </div>

{% endblock %}
