{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
Defra account
{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">What are the main contact details for this registered company?</h1>
        <p class="govuk-hint">These could be details included on the website, or contact details for the head office or
            management team.</p>


        <form class="form" action="/Beta/V2/defra-id-account/company-check-info" method="post">


            <div class="govuk-form-group">
                <label class="govuk-label" for="defraIdCompanyPhone">
                    Telephone number
                </label>

                <input class="govuk-input govuk-!-width-one-half" id="defraIdCompanyPhone" name="defraIdCompanyPhone"
                    type="tel">

            </div>


            <div class="govuk-form-group">
                <label class="govuk-label" for="defraIdCompanyEmail">
                    Email address
                </label>

                <input class="govuk-input govuk-!-width-three-quarters" id="defraIdCompanyEmail"
                    name="defraIdCompanyEmail" type="email">

            </div>


            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>


        </form>

    </div>
</div>

{% endblock %}