{% extends "layout-account-profile.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
Defra account
{% endset%}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
            Defra account profile
        </h1>
        <!-- <span class="govuk-caption-xl">Defra account profile</span>
        <h1 class="govuk-heading-xl">Big Company Ltd</h1> -->
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!-- <p class="govuk-body">
          <span class="govuk-!-font-weight-bold">Full name:</span> Sam Woods<br>
          <span class="govuk-!-font-weight-bold">Email address:</span> sam.woods@company.co.uk<br>
          <span class="govuk-!-font-weight-bold">Telephone number:</span> 07711223344
        </p> -->

        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-3">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Full name
                </dt>
                <dd class="govuk-summary-list__value">
                    Sam Woods
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email address
                </dt>
                <dd class="govuk-summary-list__value">
                    sam.woods@bigcompany.co.uk
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Phone number
                </dt>
                <dd class="govuk-summary-list__value">
                    07711 223344
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Security word
                </dt>
                <dd class="govuk-summary-list__value">
                    ••••••••••
                </dd>
            </div>
            <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact details
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">07711 223344</p>
              <p class="govuk-body">sam.woods@bigcompany.co.uk</p>
            </dd>
          </div> -->
        </dl>

        <p class="govuk-body">
            <a href="update-details" class="govuk-link--no-visited-state">
                Update details
            </a>
        </p>

        <!-- <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Contact Support ID
            </span>
          </summary>
          <div class="govuk-details__text">
           If you contact us for support, you'll need your Contact Support ID: CID-000000002109
          </div>
        </details> -->

    </div>

</div>






{% endblock %}