{% extends "layout.html" %}

{% block pageTitle %}
Submit supervising engineers statement for a reservoir
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      RACE2
    </h1>

    <h2 class="govuk-heading-m">Alpha design version 1</h2>

    <h3 class="govuk-heading-s">External user research</h3>

    <p class="govuk-body">August 2021</p>

    <p class="govuk-body">The team started alpha by testing an user journey for external users who needed to send the
      Environment Agency a Section 12 notice.</p>

    <p class="govuk-body">The new team agreed this was only to be used as a starting point for research incites, to feed
      into design that was to be undertaken in Alpha.</p>



    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <!-- ########################################################################### -->

    <h2 class="govuk-heading-m">
      Research
    </h2>


    <p> <a href="/v1/start">Start page iteration 1</a></p>
    <p> <a href="/v1/start-ref">Start page where users are given a reference number</a></p>
    <p> <a href="/v1/start-alt">Start page multiple types of actions availible</a></p>


  </div>
</div>

{% endblock %}