{% extends "layout-account-service-name.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block beforeContent %}

<div class="govuk-phase-banner">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">
                    Beta
                </strong>
                <span class="govuk-phase-banner__text">
                    This is a new service — your <a href="#" class="govuk-link">feedback</a> will help us to improve it.
                </span>

            </p>
        </div>
        <div class="govuk-grid-column-one-third-from-desktop float-right">
            <a href="#" class="govuk-link login-nav-2-item govuk-link--no-visited-state profile">Manage account</a>

            <a href="#" class="govuk-link login-nav-2-item govuk-link--no-visited-state">Sign out</a>

        </div>
    </div>

</div>

<a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <div class="govuk-form-group">


            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

                <h1 class="govuk-fieldset__heading">
                    Who the statement will go to
                </h1>

            </legend>


            <p class="govuk-body govuk-!-padding-top-4">
                The statement will go to the Environment Agency but you can use this service to send it to the undertaker too.
            </p>
            <p class="govuk-body">
                These are the details we hold for the undertaker.</p>

            <dl class="govuk-summary-list govuk-!-margin-top-4">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Reservoir 
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-padding-left-9" for="reservoir-named-undertaker"
                        id="reservoir-named-undertaker" name="reservoir-named-undertaker">
                        Rockingham Reservoir
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Undertaker
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-padding-left-9" for="reservoir-named-undertaker"
                        id="reservoir-named-undertaker" name="reservoir-named-undertaker">
                        Jenny Philips
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-padding-left-9" for="reservoir-named-undertaker"
                        id="reservoir-named-undertaker" name="reservoir-named-undertaker">
                        jenny.philips@engineers.com
                    </dd>
                </div>

            </dl>


            <form action="/Beta/Private/submit-s12/V11/upload-your-template-2" method="post">


                <div class="govuk-form-group govuk-!-margin-top-6 govuk-!-padding-top-8 govuk-!-margin-bottom-4">
                    <fieldset class="govuk-fieldset" aria-describedby="send-to-undertaker">
                        <legend id="send-to-undertaker" class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
                            Do you want to send the statement to the undertaker too?
                        </legend>

                        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="send-to-undertaker-yes" name="send-to-undertaker"
                                    type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="send-to-undertaker-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="send-to-undertaker-no" name="send-to-undertaker"
                                    type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="send-to-undertaker-no">
                                    No
                                </label>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div>


                    <button role="button" draggable="false"
                        class="govuk-button govuk-!-margin-top-3 govuk-!-margin-bottom-6 govuk-!-margin-right-4"
                        data-module="govuk-button">
                        Continue
                    </button>

            </form>

        </div>
    </div>

    {% endblock %}
