{% extends "layout-account-service-name.html" %}
{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block beforeContent %}

<div class="govuk-phase-banner">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service — your <a href="#"
            class="govuk-link">feedback</a> will help us to improve it.
        </span>

      </p>
    </div>
    <div class="govuk-grid-column-one-third-from-desktop float-right">
      <a href="#"
        class="govuk-link login-nav-2-item govuk-link--no-visited-state profile">Manage account</a>

      <a href="#" class="govuk-link login-nav-2-item govuk-link--no-visited-state">Sign out</a>

    </div>
  </div>

</div>


{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Your annual statements
    </h1>

    <table class="govuk-table govuk-!-margin-top-4">
      <caption class="govuk-table__caption govuk-table__caption--m">Templates</caption>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row govuk-body govuk-!-font-size-16">

          <th scope="col" class="govuk-table__header app-custom-class" aria-sort="">
            <button aria-label="Sort by Reservoir" type="button" class="icon-sort-button">Reservoir
              <div class="icon-sort"></div>
            </button>
          </th>

          <th scope="col" class="govuk-table__header app-custom-class" aria-sort="">
            <button aria-label="Sort by Undertaker" type="button" class="icon-sort-button">Undertaker
              <div class="icon-sort"></div>
            </button>
          </th>

          <th scope="col" class="govuk-table__header app-custom-class" aria-sort="">
            <button aria-label="Sort by Due date" type="button" class="icon-sort-button">Due date
              <div class="icon-sort"></div>
            </button>
          </th>

          <th scope="col" class="govuk-table__header app-custom-class" aria-sort="">
            <button aria-label="Sort by Status" type="button" class="icon-sort-button">Status
              <div class="icon-sort"></div>
            </button>
          </th>

          <th scope="col" class="govuk-table__header app-custom-class"></th>

          <th scope="col" class="govuk-table__header app-custom-class"></th>
        </tr>

      </thead>

      <tbody class="govuk-table__body govuk-body govuk-!-font-size-16">

        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">Eagle Pond</td>
          <td class="govuk-table__cell">Sarah Smith</td>
          <td class="govuk-table__cell">10 December 2023</td>
          <td class="govuk-table__cell"><strong class="not-started-tag-new">
              Not started
            </strong></td>
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Download</a>
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Send</a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">Rockingham Reservoir</td>
          <td class="govuk-table__cell">Jenny Philips</td>
          <td class="govuk-table__cell">10 December 2023</td>
          <td class="govuk-table__cell"><strong class="in-progress-tag-new">
              In progress
            </strong></td>
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state"
              href="#">Download</a>
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state"
              href="/Beta/Private/submit-s12/V11/send-your-statement">Send</a>
          </td>
        </tr>

      </tbody>
    </table>


  </div>

</div>

{% endblock %}