{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}
Defra account
{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post" action="/Beta/V1/defra-id-account/sole-trader-confirmation">

            <fieldset class="govuk-fieldset">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

                    <h1 class="govuk-fieldset__heading">
                        Create your security word
                    </h1>

                </legend>

                <p>Your security word helps us to verify your identity if you need to contact us.</p>
                <p>The word must:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>be alphanumeric</li>
                    <li>contain between 6 and 12 characters (not case sensitive)</li>
                    <li>contain no spaces or special characters</li>
                </ul>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="defraIdSecurityWord">
                        Your security word
                    </label>

                    <input class="govuk-input govuk-!-width-one-third" id="defraIdSecurityWord"
                        name="defraIdSecurityWord" type="text">

                </div>


                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="100">


                    <div class="govuk-form-group">
                        <label class="govuk-label" for="defraIdSecurityHint">
                            Your hint question
                        </label>

                        <div id="defraIdSecurityHint-hint" class="govuk-hint">
                            Provide a hint question that will help you remember your security word.
                        </div>


                        <textarea class="govuk-textarea govuk-js-character-count govuk-!-width-two-thirds"
                            id="defraIdSecurityHint" name="defraIdSecurityHint" rows="2"
                            aria-describedby="defraIdSecurityHint-info defraIdSecurityHint-hint"></textarea>
                        <div id="defraIdSecurityHint-info" class="govuk-hint govuk-character-count__message"
                            aria-live="polite">You have 100 characters remaining</div>
                    </div>

                </div>



            </fieldset>


            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>


        </form>

    </div>
</div>

{% endblock %}