{% extends "layout-phase-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/Private/account-sign-in/forgotten-password/V2/sign-in-2" method="post">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Password updated
                </h1>
            </div>


            <p class="govuk-body">Continue to start your annual statement.
            </p>

            <button ole="button" draggable="false" class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6"
                data-module="govuk-button">
                Continue
            </button>

        </form>

      


    </div>
</div>

{% endblock %}
