{% extends "layout-phase.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">We have sent you an email</h1>

            <p>If an account was found we will have sent you an email</p>

            <p>Follow the link in that email to rest your password</p>

            <p>The link expires in [Time] after it was sent. It can only be used once.</p>


            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    I have not received the email
                  </span>
                </summary>
                <div class="govuk-details__text">
                  TBC?
                </div>
              </details>


        <a class="white-link" href="/Beta/Private/account-sign-in/forgotten-password/V2/reset-password">Reset password</a>


    </div>
</div>

{% endblock %}
