{% extends "layout-account-service-name.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

Send a supervising engineer's annual statement

{% endset%}

{% block beforeContent %}

<div class="govuk-phase-banner">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
        <span class="govuk-phase-banner__text">
          This is a new service — your <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_0wFTSeSWzDuXiRg/"
            class="govuk-link">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>



<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl govuk-!-margin-top-8">Reset your password</h1>

        <form action="/Beta/Private/account-sign-in/forgotten-password/V2/email-sent" method="post">

          <p class="govuk-body">By providing your email address we can send you a reset link to create a new password.</p>

            <div class="govuk-form-group">
                <label class="govuk-label" for="govGatePassword">
                    Email address
                </label>

                <input class="govuk-input govuk-!-width-three-quarters" id="govGatePassword" name="govGatePassword"
                    type="password">

            </div>

            <button ole="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"
                data-module="govuk-button">
                Send email
            </button>


        </form>

    </div>
</div>

{% endblock %}
