{% extends "layout-phase.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Reset your password</h1>

        <form action="/Beta/Private/account-sign-in/forgotten-password/V2/email-sent" method="post">

            <p>By providing your email address we can send you a reset link to create a new password.</p>



            <div class="govuk-form-group">
                <label class="govuk-label" for="govGatePassword">
                    Email address
                </label>

                <input class="govuk-input govuk-!-width-three-quarters" id="govGatePassword" name="govGatePassword"
                    type="password">

            </div>

            <button ole="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"
                data-module="govuk-button">
                Send email
            </button>


        </form>

    </div>
</div>

{% endblock %}
