{% extends "layout-phase-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Create a new password</h1>

        <form action="/Beta/Private/account-sign-in/forgotten-password/V2/confirmation" method="post">

            <p>Your password must at least 8 characters. Use a mixture of letters, numbers and symbols.</p>



            <div class="govuk-form-group">
                <label class="govuk-label" for="govGatePassword">
                    New password
                </label>

                <input class="govuk-input govuk-!-width-three-quarters" id="password-1" name="password-1"
                    type="password">

            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="govGatePasswordConfirm">
                    Confirm new password
                </label>

                <input class="govuk-input govuk-!-width-three-quarters" id="password-2"
                    name="password-2" type="password">

            </div>

            <button ole="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"
                data-module="govuk-button">
                Continue
            </button>


        </form>

    </div>
</div>

{% endblock %}
