{% extends "layout-account-service-name.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

Send a supervising engineer's annual statement

{% endset%}

{% block beforeContent %}

<div class="govuk-phase-banner">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
        <span class="govuk-phase-banner__text">
          This is a new service — your <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_0wFTSeSWzDuXiRg/"
            class="govuk-link">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/Private/account-sign-in/forgotten-password/V2/signed-in" method="post">


        <h1 class="govuk-heading-xl govuk-!-margin-top-8">
            Sign in
        </h1>

        <form action="{{data['returnUrl']}}" method="post">

            <div class="govuk-form-group">
                <label class="govuk-label" for="govGateUserId">
                    Username
                </label>

                <input class="govuk-input govuk-!-width-three-quarters" id="govGateUserId" name="govGateUserId" type="text"
                    aria-describedby="govGateUserId-hint">
            </div>

            <div class="govuk-form-group">

                <label for="password-2" class="gem-c-label govuk-label">Password</label>

                <div class="gem-c-show-password__input-wrapper"><input autocomplete="off"
                        class="gem-c-input govuk-input gem-c-input--with-password" id="password-2"
                        spellcheck="false" type="password"><button class="gem-c-show-password__toggle"
                        aria-controls="password-2" type="button" aria-label="Show password">Show</button><span
                        class="govuk-visually-hidden" aria-live="polite">Your password is shown</span></div>
            </div>


            <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
                Sign in
            </button>

        </form>

        <div class="govuk-list govuk-!-margin-top-9">
        <a class="govuk-link--no-visited-state" href="/Beta/Private/account-sign-in/forgotten-password/V2/forgotten-password">I've forgotten my
            password</a>
         </div>
         
    </div>
</div>

{% endblock %}
