{% extends "layout.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/V2/defra-id-account/your-defra-account" method="post">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Your Government Gateway user ID is
                </h1>
                <div class="govuk-panel__body">
                    49 21 78 79 24 96
                </div>
            </div>

            <p class="govuk-body">We have sent it to <strong>samwoods@company.co.uk.</strong></p>

            <p class="govuk-body">
                You will need this ID and your password each time you sign in to Government Gateway.
            </p>

            <button role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"
                data-module="govuk-button">
                Continue
            </button>

        </form>

        {% include "includes/get-help.html" %}

    </div>
</div>

{% endblock %}