{% extends "layout-new-crown-service-name.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block beforeContent %}

<div class="govuk-phase-banner">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">
                    Beta
                </strong>
                <span class="govuk-phase-banner__text">
                    This is a new service — your <a href="#" class="govuk-link">feedback</a> will help us to improve it.
                </span>

            </p>
        </div>
        <div class="govuk-grid-column-one-third-from-desktop float-right">
            <a href="#" class="govuk-link login-nav-2-item govuk-link--no-visited-state profile">Manage account</a>

            <a href="#" class="govuk-link login-nav-2-item govuk-link--no-visited-state">Sign out</a>

        </div>
    </div>

</div>

<a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}


{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">

        <form action="/Beta/Private/submit-s12/V19/upload-your-template" method="post">

            <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Check email addresses</h1>




            <div class="govuk-summary-card govuk-!-margin-top-8 govuk-!-margin-bottom-8">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        Undertaker details
                    </h2>
                </div>
                <div class="govuk-summary-card__content">

                    <dl class="govuk-summary-list">
        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email
                            </dt>
                            <dd class="width-50-percent">
                                Sarah.smith@engineers.com
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span class="govuk-visually-hidden">email
                                        address</span></a>
                            </dd>
                        </div>

                    </dl>
                </div>
            </div>

            <div class="govuk-summary-card govuk-!-margin-top-4 govuk-!-margin-bottom-8">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        Optional email addresses
                    </h2>
                </div>
                <div class="govuk-summary-card__content">

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address 1
                            </dt>
                            <dd class="width-50-percent">
                                sample1@sample1.co.uk
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <ul class="govuk-summary-list__actions-list">
                                    <li class="govuk-summary-list__actions-list-item">
                                        <a class="govuk-link govuk-link--no-visited-state"
                                            href="/Beta/Private/submit-s12/V19/change-email-1">Edit<span
                                                class="govuk-visually-hidden">email address</span></a>
                                    </li>
                                    <li class="govuk-summary-list__actions-list-item">
                                        <a class="govuk-link govuk-link--no-visited-state"
                                            href="/Beta/Private/submit-s12/V19/delete-email">Delete<span
                                                class="govuk-visually-hidden">email address</span></a>
                                    </li>
                                </ul>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address 2
                            </dt>
                            <dd class="width-50-percent">
                                sample1@sample2.co.uk
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <ul class="govuk-summary-list__actions-list">
                                    <li class="govuk-summary-list__actions-list-item">
                                        <a class="govuk-link govuk-link--no-visited-state" href="¢">Edit<span
                                                class="govuk-visually-hidden">email address</span></a>
                                    </li>
                                    <li class="govuk-summary-list__actions-list-item">
                                        <a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span
                                                class="govuk-visually-hidden">email address</span></a>
                                    </li>
                                </ul>
                            </dd>
                        </div>

                    </dl>
                </div>
            </div>


            <div>
                <button role="button" draggable="false"
                    class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6 govuk-!-margin-right-4"
                    data-module="govuk-button">
                    Continue
                </button>
            </div>

        </form>

    </div>
</div>

{% endblock %}