{% extends "layout.html" %}

{% block pageTitle %}
Submit supervising engineers statement for a reservoir
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Beta MVP</span>
      Submit an annual statement
    </h1>
  </div>

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <div class="govuk-form-group govuk-!-margin-bottom-7">

        <!-- Version -->
        
          <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-2">
            Version 6
          </strong>

          <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-left-4">
            Version 7
          </strong>
        

        <h3 class="govuk-heading-s govuk-!-padding-bottom-4">In progress</h3>


        <p class="govuk-body " style="color: #0b0c0c;">Sprint 11-12</p>

        <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">User group:</h3>

        <p class="govuk-body govuk-!-padding-top-0">Supervising engineers</p>

        <!-- <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">The scenario</h3>

      <p class="govuk-body  govuk-!-margin-top-2">A registered Supervising engineer is signing in for the first
        time.</p> -->


        <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">Our Assumptions</h3>


        <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-5">
          <li>TBC?</li>

          <!-- <li>Our users will understand the content and find it easy to answer the questions, getting
          through the service easily and submitting an annual statement online.</li> -->
        </ol>


        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we are testing</h3>

        <p class="govuk-body">TBC?
        </p>

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-4 govuk-!-padding-bottom-6">

          <li>TBC?

        </ul>

        <!-- Link to Prototype -->
        <div class="govuk-button-group">
          <a href="/Beta/submit-s12-statement/V6/s12-statement/service-start" role="button" draggable="false"
            class="govuk-button" data-module="govuk-button">
            View prototype V6
          </a>
        </div>

           <!-- Link to Prototype -->
        <div class="govuk-button-group">
          <a href="/Beta/submit-s12-statement/V6/s12-statement/service-start" role="button" draggable="false"
            class="govuk-button" data-module="govuk-button">
            View prototype V7
          </a>
        </div>

        <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">

        <!-- Design History -->
        <details class="govuk-details govuk-!-margin-bottom-8" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design history
            </span>
          </summary>
          <div class="govuk-details__text">

            <!-- Version -->
            <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">
              Version 5
            </strong>

            <p class="govuk-body " style="color: #0b0c0c;">Sprint 10</p>

            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Not tested</h3>

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
              <li>This design has been put on hold for now
              </li>
            </ul>

            <!-- Link to Prototype -->
            <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state"
                href="/Beta/submit-s12-statement/V5/s12-statement/service-start">View prototype</a>
            </p>


            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-padding-top-6">


            <!-- Version -->
            <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">
              Version 4
            </strong>

            <p class="govuk-body " style="color: #0b0c0c;">Sprint 9</p>

            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we tested</h3>

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
              <li>How might the prototype fit with their current ways of working?
              </li>
              <li>What impact do they anticipate from using the new system? (positive and negative)</li>
              <li>What challenges do they see with integrating the new process into the way they do things?</li>
              <li>What might improve the prototype?</li>
              <li>What opportunities do they see for a digital service (future thinking)?</li>
              <li>Does the prototype allow for them to include all the information they would want to? (anything
                missing)</li>
              <li>What information might they want to attach? (site visit reports)</li>
              <li>What order does the information make most sense?</li>
              <li>What are their thoughts on the quality of the service output for owners vs the report they would have
                originally
                created?</li>
              <li>How well do they feel the output represents their work?</li>
              <li>Are their concerns about the output that the owner will receive?</li>
            </ul>

            <!-- Link to Prototype -->
            <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state"
                href="/Beta/submit-s12-statement/V4-concept/s12-statement/service-start">View prototype</a>
            </p>


            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-padding-top-6">


            <!-- Version -->
            <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">
              Version 3
            </strong>

            <p class="govuk-body " style="color: #0b0c0c;">Sprint 6 - 7</p>

            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Design iterations</h3>

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
              <li>new account sign in solution</li>
              <li>content on our Service start page</li>
              <li>typeahead search</li>
              <li>create an itemised list pattern</li>
            </ul>

            <!-- Link to Prototype -->
            <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state"
                href="/Beta/submit-s12-statement/V3/s12-statement/service-start">View prototype</a>
            </p>


            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-padding-top-6">



            <!-- Version -->
            <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">
              Version 2
            </strong>
            <p class="govuk-body" style="color: #0b0c0c;">Sprint 2 - 3</p>

            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we tested</h3>

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
              <li>can a user complete the end-to-end-journey</li>
              <li>do they understand the contnent and the questions</li>
            </ul>

            <!-- Link to Prototype -->
            <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state"
                href="/Beta/submit-s12-statement/V2/s12-statement/reservoir-details/choose-a-reservoir">View
                prototype</a>
            </p>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-padding-top-6">


            <!-- Version -->
            <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">
              Version 1
            </strong>
            <p class="govuk-body" style="color: #0b0c0c;">Sprint 1</p>

            <p class="govuk-!-font-weight-bold govuk-!-padding-top-4">Assumptions</p>

            <ol class="govuk-list govuk-list--number">
              <li>Our users will find it easy to confirm or update pre-populated information.</li>

              <li>Giving users pre-populated information will save them time and help improve the accuracy of data held
                by
                the
                Environment Agency.</li>
            </ol>

            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">The scenarios</h3>

            <ul class="govuk-list govuk-list--bullet">
              <li>confirm the Reservoir, Operator and last inspector details</li>
              <li>change the Reservoir and Operator details</li>
              <li>add Operator details and change Reservoir details</li>
            </ul>

            <h4 class="govuk-heading-s govuk-!-margin-bottom-2">What we tested</h4>

            <ul class="govuk-list govuk-list--bullet">
              <li>user can confirm the information on the screen</li>
              <li>user can change the current information on the screen</li>
              <li>user can input new information and save it</li>
            </ul>

            <!-- Link to Prototype -->
            <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state"
                href="/Beta/submit-s12-statement/V1/s12-statement/reservoir-details/choose-a-reservoir">View
                prototype</a>
            </p>
          </div>
      </div>
      </details>
    </div>
  </div>

  {% endblock %}