{% extends "layout-back-button.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-caption-xl">Beta MVP</span>
      Submit an annual statement
    </h1>

  </div>

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <a href="/Beta/submit-s12-statement/V7/service-start" class="govuk-heading-m govuk-link--no-visited-state">Version
        7</a>

      <a href="/Beta/submit-s12-statement/V6/s12-statement/service-start"
        class="govuk-heading-m govuk-link--no-visited-state">Version 6</a>

      <p class="govuk-body govuk-!-padding-bottom-6">Sprint 11-12</p>


      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">User group:</h3>

      <p class="govuk-body govuk-!-margin-bottom-6">Supervising engineers</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we tested</h3>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
        <li>What benefits they see for each of the prototypes? Why?
        </li>
        <li>What challenges they see for each of the prototypes? Why?
        </li>
        <li>What elements of the prototypes do they like? Why?
        </li>
        <li>What elements of the prototypes do they dislike? Why?
        </li>
        <li>What would be their preferred approach for an online service? Why?
        </li>
      </ul>




      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we learned</h3>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>TBC
        </li>
      </ul>

    </div>




    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <a href="/Beta/submit-s12-statement/V5/s12-statement/service-start"
        class="govuk-heading-m govuk-link--no-visited-state">Version 5</a>


      <p class="govuk-body govuk-!-padding-bottom-6">Sprint 10</p>


      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Not tested</h3>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
        <li>This design has been put on hold for now
        </li>
      </ul>
    </div>


    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <a href="/Beta/submit-s12-statement/V4-concept/s12-statement/service-start"
        class="govuk-heading-m govuk-link--no-visited-state">Version 4</a>


      <p class="govuk-body govuk-!-padding-bottom-6">Sprint 9</p>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">User group:</h3>

      <p class="govuk-body govuk-!-margin-bottom-6">Supervising engineers</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we tested</h3>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
        <li>How might the prototype fit with their current ways of working?
        </li>
        <li>What impact do they anticipate from using the new system? (positive and negative)</li>
        <li>What challenges do they see with integrating the new process into the way they do things?</li>
        <li>What might improve the prototype?</li>
        <li>What opportunities do they see for a digital service (future thinking)?</li>
        <li>Does the prototype allow for them to include all the information they would want to? (anything
          missing)</li>
        <li>What information might they want to attach? (site visit reports)</li>
        <li>What order does the information make most sense?</li>
        <li>What are their thoughts on the quality of the service output for owners vs the report they would have
          originally
          created?</li>
        <li>How well do they feel the output represents their work?</li>
        <li>Are their concerns about the output that the owner will receive?</li>
      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we learned</h3>

      <ul class="govuk-list govuk-list--bullet  govuk-list--spaced govuk-!-margin-bottom-4">
        <li>This version of the prototype does not fit with the SE's current ways of working
        </li>
        <li>This view this prototype as a duplication of work
        </li>
        <li>The languauge should be more specific
        </li>
        <li>The S12 report requires details from the S10
        </li>
        <li>The system should allow for colloborative ways of working
        </li>
        <li>There are concerns about internet and access
        </li>
        <li>The SE's are concerened about compliance questions
        </li>
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-6">Read the full <a
          href="https://defra.sharepoint.com/:p:/r/sites/MSTDefraRACE/_layouts/15/Doc.aspx?sourcedoc=%7BAAE55E48-B038-44DE-AF4B-544BC75711A3%7D&file=SE%20Report%20-%20Prototype%20Evaluation%20(part%202).pptx&action=edit&mobileredirect=true"
          class="govuk-link govuk-link--no-visited-state">Supervising engineers prototype evaluation</a> report</p>


    </div>



    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <a href="/Beta/submit-s12-statement/V3/s12-statement/service-start"
        class="govuk-heading-m govuk-link--no-visited-state">Version 3</a>


      <p class="govuk-body govuk-!-padding-bottom-6">Sprint 6 - 7</p>


      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Design iterations</h3>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
        <li>new account sign in solution</li>
        <li>content on our Service start page</li>
        <li>typeahead search</li>
        <li>create an itemised list pattern</li>
      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Not tested</h3>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
        <li>This design has been put on hold for now
        </li>
      </ul>

    </div>



    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <a href="/Beta/submit-s12-statement/V2/s12-statement/reservoir-details/choose-a-reservoir"
        class="govuk-heading-m govuk-link--no-visited-state">Version 2</a>


      <p class="govuk-body govuk-!-padding-bottom-6">Sprint 2 - 3</p>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">User group:</h3>

      <p class="govuk-body govuk-!-margin-bottom-6">Supervising engineers</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we tested</h3>

      <ul class="govuk-list govuk-list--bullet  govuk-list--spaced govuk-!-margin-bottom-4">
        <li>can a user complete the end-to-end-journey</li>
        <li class="govuk-!-margin-bottom-6">do they understand the contnent and the questions</li>
      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we learned</h3>

      <ul class="govuk-list govuk-list--bullet  govuk-list--spaced govuk-!-margin-bottom-6">
        <li>Choose a reservoir – users did not want to scroll through a list of potentially 2000 reservoirs
        </li>
        <li>Issues to be watched and maintenance actions – users found that having a free text input would not work as
          there could be more than one issue or action to list
        </li>
        <li>Issues to be watched and maintenance actions – users want to itemise all the issues or actions, to show
          whether the operator is being complinat with the process
        </li>
        <li>New or abandoned reservoir – users did not understand the question. They wondered if the statement referred
          to a new or exisiting reservoir?
        </li>
        <li>Operator keeping records and monitoring the reservior – users did not feel a yes or no was adequate. They
          would need to be able to give advice to the owners and operators as well as issue mandatory requirements.
        </li>
      </ul>

    </div>



    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <a href="/Beta/submit-s12-statement/V1/s12-statement/reservoir-details/choose-a-reservoir"
        class="govuk-heading-m govuk-link--no-visited-state">Version 1</a>


      <p class="govuk-body govuk-!-padding-bottom-6">Sprint 1</p>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">User group:</h3>

      <p class="govuk-body govuk-!-margin-bottom-6">Supervising engineers</p>

      <p class="govuk-!-font-weight-bold">Assumptions</p>

      <ol class="govuk-list govuk-list--number govuk-list--spaced govuk-!-margin-bottom-6">
        <li>Our users will find it easy to confirm or update pre-populated information.</li>
        <li>Giving users pre-populated information will save them time and help improve the accuracy of data held by the
          Environment Agency.</li>
      </ol>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">The scenarios</h3>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
        <li>confirm the Reservoir, Operator and last inspector details</li>
        <li>change the Reservoir and Operator details</li>
        <li>add Operator details and change Reservoir details</li>
      </ul>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-2">What we tested</h4>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
        <li>user can confirm the information on the screen</li>
        <li>user can change the current information on the screen</li>
        <li>user can input new information and save it</li>
      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we learned</h3>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
        <li>Choose a reservoir – users did not want to scroll through a list of potentially 2000 reservoirs
        </li>
        <li>Operator details – some users were happy with the term 'operator' and some were not
        </li>
      </ul>

    </div>
  </div>
</div>

{% endblock %}