{% extends "layout-new-crown.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-caption-xl">Private Beta</span>
      Account sign in
    </h1>

    <p class="govuk-body-l govuk-!-padding-bottom-5">
      <span class="govuk-body-l govuk-!-font-weight-bold">User group:</span>
      Supervising engineers
    </p>

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 2 &ndash; 4</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">1. First time registering</h2>

      <a href="/Beta/Private/account-sign-in/first-time-registering/V2/invitation-email"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        2</a>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">2. Registered account</h2>

      <a href="/Beta/Private/account-sign-in/registered-user/V2/service-start"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        2</a>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">3. Forgotten password</h2>

      <a href="/Beta/Private/account-sign-in/forgotten-password/V2/service-start"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        2</a>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">4. Change password</h2>

      <a href="/Beta/Private/account-sign-in/change-password/V2/signed-in"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        2</a>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">5. Email or password is not recognised
      </h2>

      <a href="/Beta/Private/account-sign-in/sign-in-failed/V2/service-start"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        2</a>


    </div>

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 8</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">1. First time registering</h2>

      <a href="/Beta/Private/account-sign-in/first-time-registering/V3/invitation-email"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        3</a>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">2. Registered account</h2>

      <a href="/Beta/Private/account-sign-in/registered-user/V3/service-start"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        3</a>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">3. Forgotten password</h2>

      <a href="/Beta/Private/account-sign-in/forgotten-password/V3/service-start"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        3</a>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">4. Change password</h2>

      <a href="/Beta/Private/account-sign-in/change-password/V3/signed-in"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        3</a>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">5. Email or password is not recognised
      </h2>

      <a href="/Beta/Private/account-sign-in/sign-in-failed/V3/service-start"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        3</a>


    </div>

  </div>
</div>


{% endblock %}