{% extends "layout-new-crown.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-caption-xl">Private Beta</span>
      Account sign in
    </h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">User group:</h2>

    <p class="govuk-body govuk-!-margin-bottom-6">Supervising engineers</p>

  </div>
</div>

<p class="govuk-caption-l govuk-!-margin-top-6">Sprint 8</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">1. First time registering</h2>

      <a href="/Beta/Private/account-sign-in/first-time-registering/V3/invitation-email"
        class="govuk-heading-m govuk-link--no-visited-state">Version 3</a>

        <details class="govuk-details govuk-!-margin-bottom-9">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table govuk-!-width-two-thirds">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">What we created</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
  
                    <p class="govuk-body">Service start</p>
  
                    <p class="govuk-body">Added the following:</p>
  
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>Name of the service in the H1
                      </li>
  
                      <li>You can use the service to and a list of bullets
                      </li>
                      <li>What you can't use the service to do and the alternative email address to use
                      </li>
                      <li>Before you start and a list of bullets,
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
  
  
          </div>
        </details>

      <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">2. Registered account</h2>

      <a href="/Beta/Private/account-sign-in/registered-user/V3/service-start"
        class="govuk-heading-m govuk-link--no-visited-state">Version 3</a>

        <details class="govuk-details govuk-!-margin-bottom-9">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table govuk-!-width-two-thirds">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">What we created</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
  
                    <p class="govuk-body">Service start</p>
  
                    <p class="govuk-body">Added the following:</p>
  
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>Name of the service in the H1
                      </li>
  
                      <li>You can use the service to and a list of bullets
                      </li>
                      <li>What you can't use the service to do and the alternative email address to use
                      </li>
                      <li>Before you start and a list of bullets,
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
  
  
          </div>
        </details>


      <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">3. Forgotten password</h2>

      <a href="/Beta/Private/account-sign-in/forgotten-password/V3/service-start"
        class="govuk-heading-m govuk-link--no-visited-state">Version 3</a>

      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What we amended
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
            <li>Check you email &ndash; support email address changed and we added times staff were available from
            </li>
          </ul>
        </div>
      </details>


      <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">4. Change password</h2>

      <a href="/Beta/Private/account-sign-in/change-password/V3/signed-in"
        class="govuk-heading-m govuk-link--no-visited-state">Version 3</a>

        <details class="govuk-details govuk-!-margin-bottom-9">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table govuk-!-width-two-thirds">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">What we created</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
  
                    <p class="govuk-body">Service start</p>
  
                    <p class="govuk-body">Added the following:</p>
  
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>Name of the service in the H1
                      </li>
  
                      <li>You can use the service to and a list of bullets
                      </li>
                      <li>What you can't use the service to do and the alternative email address to use
                      </li>
                      <li>Before you start and a list of bullets,
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
  
  
          </div>
        </details>


      <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">5. Email or password is not recognised
      </h2>

      <a href="/Beta/Private/account-sign-in/sign-in-failed/V3/service-start"
        class="govuk-heading-m govuk-link--no-visited-state">Version 3</a>

        <details class="govuk-details govuk-!-margin-bottom-9">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table govuk-!-width-two-thirds">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">What we created</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
  
                    <p class="govuk-body">Service start</p>
  
                    <p class="govuk-body">Added the following:</p>
  
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>Name of the service in the H1
                      </li>
  
                      <li>You can use the service to and a list of bullets
                      </li>
                      <li>What you can't use the service to do and the alternative email address to use
                      </li>
                      <li>Before you start and a list of bullets,
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
  
          </div>
        </details>
    </div>
  </div>
</div>


<p class="govuk-caption-l govuk-!-margin-top-6">Sprint 2 &ndash; 4</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">1. First time registering</h2>

      <a href="/Beta/Private/account-sign-in/first-time-registering/V2/invitation-email"
        class="govuk-heading-m govuk-link--no-visited-state">Version 2</a>

        <details class="govuk-details govuk-!-margin-bottom-9">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table govuk-!-width-two-thirds">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">What we created</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
  
                    <p class="govuk-body">Service start</p>
  
                    <p class="govuk-body">Added the following:</p>
  
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>Name of the service in the H1
                      </li>
  
                      <li>You can use the service to and a list of bullets
                      </li>
                      <li>What you can't use the service to do and the alternative email address to use
                      </li>
                      <li>Before you start and a list of bullets,
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
  
  
          </div>
        </details>

      <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">2. Registered account</h2>

      <a href="/Beta/Private/account-sign-in/registered-user/V2/service-start"
        class="govuk-heading-m govuk-link--no-visited-state">Version 2</a>

        <details class="govuk-details govuk-!-margin-bottom-9">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table govuk-!-width-two-thirds">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">What we created</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
  
                    <p class="govuk-body">Service start</p>
  
                    <p class="govuk-body">Added the following:</p>
  
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>Name of the service in the H1
                      </li>
  
                      <li>You can use the service to and a list of bullets
                      </li>
                      <li>What you can't use the service to do and the alternative email address to use
                      </li>
                      <li>Before you start and a list of bullets,
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
  
  
          </div>
        </details>

      <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">3. Forgotten password</h2>

      <a href="/Beta/Private/account-sign-in/forgotten-password/V2/service-start"
        class="govuk-heading-m govuk-link--no-visited-state">Version 2</a>

        <details class="govuk-details govuk-!-margin-bottom-9">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table govuk-!-width-two-thirds">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">What we created</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
  
                    <p class="govuk-body">Service start</p>
  
                    <p class="govuk-body">Added the following:</p>
  
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>Name of the service in the H1
                      </li>
  
                      <li>You can use the service to and a list of bullets
                      </li>
                      <li>What you can't use the service to do and the alternative email address to use
                      </li>
                      <li>Before you start and a list of bullets,
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
  
  
          </div>
        </details>

      <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">4. Change password</h2>

      <a href="/Beta/Private/account-sign-in/change-password/V2/signed-in"
        class="govuk-heading-m govuk-link--no-visited-state">Version 2</a>

        <details class="govuk-details govuk-!-margin-bottom-9">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Design iterations
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table govuk-!-width-two-thirds">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">What we created</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
  
                    <p class="govuk-body">Service start</p>
  
                    <p class="govuk-body">Added the following:</p>
  
                    <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                      <li>Name of the service in the H1
                      </li>
  
                      <li>You can use the service to and a list of bullets
                      </li>
                      <li>What you can't use the service to do and the alternative email address to use
                      </li>
                      <li>Before you start and a list of bullets,
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
  
  
          </div>
        </details>

      <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">5. Email or password is not recognised
      </h2>

      <a href="/Beta/Private/account-sign-in/sign-in-failed/V2/service-start"
        class="govuk-heading-m govuk-link--no-visited-state">Version 2</a>

      <details class="govuk-details govuk-!-margin-bottom-9">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table govuk-!-width-two-thirds">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">What we created</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">

                  <p class="govuk-body">Service start</p>

                  <p class="govuk-body">Added the following:</p>

                  <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
                    <li>Name of the service in the H1
                    </li>

                    <li>You can use the service to and a list of bullets
                    </li>
                    <li>What you can't use the service to do and the alternative email address to use
                    </li>
                    <li>Before you start and a list of bullets,
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>


        </div>
      </details>

    </div>
  </div>
</div>

{% endblock %}