{% extends "layout-phase.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/Private/account-sign-in/registered-user/V2/choose-a-reservoir" method="post">

        <h1 class="govuk-heading-xl">
            Sign in
        </h1>

        <form action="{{data['returnUrl']}}" method="post">

            <div class="govuk-form-group">
                <label class="govuk-label" for="govGateUserId">
                    Username
                </label>

                <input class="govuk-input govuk-!-width-three-quarters" id="govGateUserId" name="govGateUserId" type="text"
                    aria-describedby="govGateUserId-hint">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="govGatePwassword" type="password" value="true">
                    Password
                </label>

                <input type="password" name="password" id="password" class="govuk-input govuk-!-width-three-quarters" autocomplete="current-password">

            </div>

            <button class="govuk-button" data-module="govuk-button">
                Sign in
            </button>

        </form>

        <div class="govuk-list govuk-!-margin-top-4">
            <a class="govuk-link--no-visited-state" href="/Beta/Private/account-sign-in/forgotten-password/V2/forgotten-password">Forgotten your password?</a>
         </div>
         
    </div>
</div>

{% endblock %}
