{% extends "layout-sign-out.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">



        <div class="hmrc-page-heading ">
            <h1 id="pageHeading" class="govuk-heading-xl govuk-!-margin-bottom-8">Your account</h1>
        </div>



        <h2 class="govuk-heading-m">Profile</h2>

        <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row" id="name">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    John Sturniolo
                </dd>
                <dd class="govuk-summary-list__actions">

                    <a class="govuk-link govuk-link--no-visited-state"
                        href="#">

                        Change
                        <span class="govuk-visually-hidden">your name</span>

                    </a>



                </dd>
            </div>


            <div class="govuk-summary-list__row" id="main_address">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    <span class="address-line">12 Sample Street<br>Sampletown<br>AB12 3CD</span>
                </dd>
                <dd class="govuk-summary-list__actions">

                    <a class="govuk-link govuk-link--no-visited-state" href="#">

                        Change
                        <span class="govuk-visually-hidden">Your main address</span>

                    </a>

                </dd>
            </div>
            
            <div class="govuk-summary-list__row" id="paperless">
                <dt class="govuk-summary-list__key">
                    Email
                </dt>
                <dd class="govuk-summary-list__value">
                    john.d05@name.com
                </dd>
                <dd class="govuk-summary-list__actions">

                    <a class="govuk-link govuk-link--no-visited-state"
                        href="#">

                        Change
                        <span class="govuk-visually-hidden">how we contact you</span>

                    </a>

                </dd>
            </div>

            <div class="govuk-summary-list__row" id="paperless">
                <dt class="govuk-summary-list__key">
                    Telephone
                </dt>
                <dd class="govuk-summary-list__value">
                    07711 223344
                </dd>
                <dd class="govuk-summary-list__actions">

                    <a class="govuk-link govuk-link--no-visited-state"
                        href="#">

                        Change
                        <span class="govuk-visually-hidden">how we contact you</span>

                    </a>

                </dd>
            </div>

            <div class="govuk-summary-list__row" id="paperless">
                <dt class="govuk-summary-list__key">
                    Password
                </dt>
                <dd class="govuk-summary-list__value">
                    ******************
                </dd>
                <dd class="govuk-summary-list__actions">

                    <a class="govuk-link govuk-link--no-visited-state"
                        href="/Beta/Private/account-sign-in/change-password/V2/change-password">

                        Change
                        <span class="govuk-visually-hidden">how we contact you</span>

                    </a>

                </dd>
            </div>

    </div>
</div>

{% endblock %}
