{% extends "layout-sign-out.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/submit-s12-statement/V3/s12-statement/questions/operator-list-of-measures-1" method="post">

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="more-detail">
                        What's the first thing the operator needs to inspect?
                    </label>
                </h1>

                <div class="govuk-form-group govuk-!-margin-top-6 govuk-!-padding-top-6">
                    <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
                            What to inspect
                        </label>
                    </h2>
                    <input class="govuk-input" id="visual-inspect-reason-1" name="visual-inspect-reason-1" type="text">
                </div>

                <div class="govuk-form-group govuk-!-padding-top-6">
                    <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                            What to do
                        </label>
                    </h2>
                    <textarea class="govuk-textarea" id="visual-inspect-description-reason-1" name="visual-inspect-description-reason-1" rows="5"
                        aria-describedby="more-detail-hint"></textarea>
                </div>

             <div class="govuk-form-group govuk-!-margin-top-6 govuk-!-padding-top-6">
                    <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
                           How often
                        </label>
                    </h2>
                    <input class="govuk-input" id="visual-inspect-how-often-reason-1" name="visual-inspect-how-often-reason-1" type="text">
                </div>

               
                <div class="govuk-form-group govuk-!-padding-top-6">
                    <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                            Comments
                        </label>
                    </h2>
                    <textarea class="govuk-textarea" id="visual-inspect-comments-reason-1" name="visual-inspect-comments-reason-1" rows="5"
                        aria-describedby="more-detail-hint"></textarea>
                </div>

            </div>


            <div>
                <button role="button" draggable="false"
                    class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6 govuk-!-margin-right-4"
                    data-module="govuk-button">
                    Continue
                </button>
                <button type="submit"
                    class="govuk-button govuk-button--secondary govuk-!-margin-top-6 govuk-!-margin-bottom-9"
                    data-module="govuk-button">
                    Save and come back later
                </button>
            </div>

    </div>

    </form>

</div>

{% endblock %}
