{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">What's the new address of the operator?</h1>

        <form class="form" action="/Beta/V2/submit-s12-statement/operator-details/confirm-address-details" method="post">


            <div class="govuk-form-group">

                <label class="govuk-label govuk-label--m" for="operator-address">
                    Address
                </label>
                <input class="govuk-input" id="operator-address-1" name="operator-address-1" type="text" value="Rockingham Estate">
                <input class="govuk-input govuk-!-margin-top-4" id="operator-address-2" name="operator-address-2" type="text" value="Hampshire">
                <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-top-4" id="operator-address-3" name="operator-address-3" type="text" value="PO10 1AB">

            </div>


            <button class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6" data-module="govuk-button">Save
                and continue</button>


        </form>

    </div>
</div>

{% endblock %}
