{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/V2/submit-s12-statement/inspecting-engineer/confirm" method="post" class="form">


            <h1 class="govuk-heading-xl">Are these the new operator details?</h1>


            <dl class="govuk-summary-list govuk-summary-list--no-border">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['new-operator-name'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/submit-s12-statement/operator-details/change-name">
                            Change<span class="govuk-visually-hidden">name</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['new-operator-address-1'] }}<br>
                        {{ data['new-operator-address-2'] }}<br>
                        {{ data['new-operator-address-3'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/submit-s12-statement/operator-details/change-address-2">
                            Change<span class="govuk-visually-hidden">address</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['new-operator-email'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/submit-s12-statement/operator-details/change-email-2">
                            Change<span class="govuk-visually-hidden">operator's email address</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Phone
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['new-operator-phone'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/submit-s12-statement/operator-details/change-operator-phone">
                            Change<span class="govuk-visually-hidden">operator's phone number</span>
                        </a>
                    </dd>
                </div>


            </dl>


            <button role="button" draggable="false" class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-6"
                data-module="govuk-button">
                Confirm
            </button>

        </form>

        <div class="govuk-!-margin-top-8">
            <p><a class="govuk-link govuk-link--no-visited-state"
                    href="/Beta/V2/submit-s12-statement/operator-details/add-operator">Add another operator</a></p>
        </div>


    </div>
</div>

{% endblock %}