{% extends "layout-sign-out.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/V3/submit-s12-statement/operator-details/confirm-answer" method="post">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Operator details</h1>

            <div id="event-name-hint" class="govuk-hint govuk-!-margin-bottom-8">
                'Operator' is used here to mean the undertaker.
              </div>

            <dl class="govuk-summary-list govuk-summary-list--no-border">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Naomi Roberts</p>
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/Beta/V3/submit-s12-statement/operator-details/change-name">
                            Change<span class="govuk-visually-hidden">name</span>
                        </a>
                    </dd> -->
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Rockingham Estate<br>Hampshire<br>PO10 1AB
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/Beta/V3/submit-s12-statement/operator-details/change-address">
                            Change<span class="govuk-visually-hidden">address</span>
                        </a>
                    </dd> -->
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">NRoberts@hotmail.com</p>
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/Beta/V3/submit-s12-statement/operator-details/change-email-1">
                            Change<span class="govuk-visually-hidden">operator's email address</span>
                        </a>
                    </dd> -->
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Phone
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">02392 123-456</p>
                    </dd>
                    <!-- <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/Beta/V3/submit-s12-statement/operator-details/change-phone">
                            Change<span class="govuk-visually-hidden">operator's phone number</span>
                        </a>
                    </dd> -->
                </div>

            </dl>

            <div class="govuk-form-group govuk-!-padding-top-6">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Do these details match your records?
                        </h1>
                    </legend>


                    <div class="govuk-radios govuk-radios--inline govuk-!-margin-top-2" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="match-operator-1" name="match-operator" type="radio"
                                value="Yes">
                            <label class="govuk-label govuk-radios__label" for="match-operator-1">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="match-operator-2" name="match-operator" type="radio"
                                value="No">
                            <label class="govuk-label govuk-radios__label" for="match-operator-2">
                                No
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>



            <button role="button" draggable="false" class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-6"
                data-module="govuk-button">
                Continue
            </button>

        </form>

        <div class="govuk-!-margin-top-8">
            <p><a class="govuk-link govuk-link--no-visited-state"
                    href="/Beta/V3/submit-s12-statement/operator-details/add-operator">Add another operator</a></p>
        </div>

    </div>
</div>

{% endblock %}
