{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/V2/submit-s12-statement/inspecting-engineer/confirm" method="post">


            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">These are the details we hold about the operator. Do they match your records?</h1>

            <div id="event-name-hint" class="govuk-hint govuk-!-margin-bottom-8">
                The operator is the undertaker.
              </div>

            <dl class="govuk-summary-list govuk-summary-list--no-border">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Naomi Roberts</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/Beta/V2/submit-s12-statement/operator-details/change-name">
                            Change<span class="govuk-visually-hidden">name</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['operator-address-1'] }}<br>
                        {{ data['operator-address-2'] }}<br>
                        {{ data['operator-address-3'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/Beta/v2/submit-s12-statement/operator-details/change-address">
                            Change<span class="govuk-visually-hidden">address</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['operator-email'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/Beta/V2/submit-s12-statement/operator-details/change-email">
                            Change<span class="govuk-visually-hidden">operator's email address</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Phone
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['operator-phone'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/Beta/V2/submit-s12-statement/operator-details/change-phone">
                            Change<span class="govuk-visually-hidden">operator's phone number</span>
                        </a>
                    </dd>
                </div>


            </dl>


            <button role="button" draggable="false" class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-6"
                data-module="govuk-button">
                Confirm
            </button>

        </form>

        <div class="govuk-!-margin-top-8">
            <p><a class="govuk-link govuk-link--no-visited-state"
                    href="/Beta/V2/submit-s12-statement/operator-details/add-operator">Add another operator</a></p>
        </div>
        
    </div>
</div>

{% endblock %}
