{% extends "layout-phase.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Sign in
        </h1>

        <div class="govuk-form-group">
            <label class="govuk-label" for="username-Id">
                Username
            </label>

            <input class="govuk-input govuk-!-width-three-quarters" id="username-Id" name="username-Id" type="text"
                aria-describedby="govGateUserId-hint">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="password-Id" type="password-Id" value="true">
                Password
            </label>

            <input type="password" name="password-Id" id="password-Id" class="govuk-input govuk-!-width-three-quarters"
                autocomplete="current-password">

        </div>

        <form action="/Beta/Private/submit-s12/V8/choose-a-reservoir">

            <button class="govuk-button" data-module="govuk-button">
                Sign in
            </button>
        </form>

        <div class="govuk-list govuk-!-margin-top-4">
            <a class="govuk-link--no-visited-state" href="#">I've forgotten my password</a>
        </div>

    </div>
</div>

{% endblock %}