{% extends "layout-sign-out.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <form action="/Beta/V3/submit-s12-statement/questions/engineer-list-of-reasons-1-answer" method="post">


            <h1 class="govuk-heading-xl govuk-!-margin-bottom-8 govuk-!-padding-bottom-4">Reasons for early
                inspection</h1>

                <div class="govuk-summary-card govuk-!-margin-bottom-9">
                    <div class="govuk-summary-card__title-wrapper">
                      <h2 class="govuk-summary-card__title">Reason 1</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                      <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Reason
                          </dt>
                          <dd class="govuk-summary-list__value">
                            {{ data['reason-inspect-reason-1'] }}
                          </dd>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                              Change<span class="govuk-visually-hidden">Name</span>
                            </a>
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Description
                          </dt>
                          <dd class="govuk-summary-list__value">
                            {{ data['description-inspect-reason-1'] }}
                          </dd>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                              Change<span class="govuk-visually-hidden">Description</span>
                            </a>
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Comments
                          </dt>
                          <dd class="govuk-summary-list__value">
                            {{ data['comments-inspect-reason-1'] }}
                          </dd>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                              Change<span class="govuk-visually-hidden">Comments</span>
                            </a>
                          </dd>
                        </div>
                      </dl>
                    </div>
                  </div>


           
            <div class="govuk-form-group govuk-!-margin-top-4 govuk-!-padding-top-6">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-fieldset__heading">
                            Do you want to add another reason?
                        </h2>
                    </legend>
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-another-reason-1" name="add-another-reason" type="radio"
                                value="Yes">
                            <label class="govuk-label govuk-radios__label" for="add-another-reason-1">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-another-reason-2" name="add-another-reason" type="radio"
                                value="no">
                            <label class="govuk-label govuk-radios__label" for="add-another-reason-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div>
              <button role="button" draggable="false"
                  class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6 govuk-!-margin-right-4"
                  data-module="govuk-button">
                  Continue
              </button>
              <button type="submit"
                  class="govuk-button govuk-button--secondary govuk-!-margin-top-6 govuk-!-margin-bottom-9"
                  data-module="govuk-button">
                  Save and come back later
              </button>
          </div>

        </form>


    </div>
</div>

{% endblock %}
