{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/V3/submit-s12-statement/questions/operator-action-list-3" method="post">

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="more-detail">
                    What's the first thing the operator needs to monitor?
                    </label>
                </h1>

                <div class="govuk-form-group govuk-!-margin-top-6 govuk-!-padding-top-6">
                    <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
                            Monitor action
                        </label>
                    </h2>
                    <input class="govuk-input" id="title-monitoring-1" name="title-monitoring-1" type="text">
                </div>

                <div class="govuk-form-group govuk-!-padding-top-6">
                    <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                            Description
                        </label>
                    </h2>
                    <textarea class="govuk-textarea" id="description-monitoring-1" name="description-monitoring-1" rows="5"
                        aria-describedby="more-detail-hint"></textarea>
                </div>

                <div class="govuk-form-group govuk-!-margin-top-6 govuk-!-padding-top-6">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                          When does the action need to be done by? <span class="govuk-body">Optional</span>
                        </h2>
                      </legend>
                      <div id="passport-issued-hint" class="govuk-hint">
                        For example, 27 3 2007
                      </div>
                      <div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                              Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="deadline-day" name="deadline-day-monitoring-1" type="text" inputmode="numeric">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                              Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="deadline-month" name="deadline-month-monitoring-1" type="text" inputmode="numeric">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                              Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="deadline-year" name="deadline-year-monitoring-1" type="text" inputmode="numeric">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>


                <div class="govuk-form-group govuk-!-padding-top-6">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                Is the monitoring action mandatory?
                            </h2>
                        </legend>
                        <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="status-action-1" name="mandatory-advisory-monitoring-1"
                                    type="radio" value="Mandatory">
                                <label class="govuk-label govuk-radios__label" for="status-action-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="status-action-2" name="mandatory-advisory-monitoring-1"
                                    type="radio" value="Advisory">
                                <label class="govuk-label govuk-radios__label" for="status-action-2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-form-group govuk-!-padding-top-6">
                    <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                            Comments
                        </label>
                    </h2>
                    <textarea class="govuk-textarea" id="comments-records-1" name="comments-monitoring-1" rows="5"
                        aria-describedby="more-detail-hint"></textarea>
                </div>

            </div>


            <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Save and continue</button>

    </div>

    </form>

</div>


{% endblock %}happy
