{% extends "layout-sign-out.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <form action="/Beta/V3/submit-s12-statement/questions/operator-action-list-4-answer" method="post">


            <h1 class="govuk-heading-xl govuk-!-margin-bottom-8 govuk-!-padding-bottom-4">
                Monitoring actions for the operator
            </h1>


            <div class="govuk-summary-card govuk-!-margin-bottom-9">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Monitoring action 1</h2>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Action
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['monitoring-action-1'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden">Name</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Description
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['description-monitoring-action-1'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden">Description</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                          Action to be <br>done by
                      </dt>
                      <dd class="govuk-summary-list__value">
                          {{ data['deadline-day-monitoring-action-1'] }} {{ data['deadline-month-monitoring-action-1'] }} {{ data['deadline-year-monitoring-action-1'] }}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Change<span class="govuk-visually-hidden">Description</span>
                        </a>
                      </dd>
                    </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Mandatory
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['mandatory-monitoring-action-1'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden">Comments</span>
                      </a>
                    </dd>
                  </div>                    
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Comments
                      </dt>
                      <dd class="govuk-summary-list__value">
                          {{ data['comments-monitoring-action-1'] }}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Change<span class="govuk-visually-hidden">Comments</span>
                        </a>
                      </dd>
                    </div>
                </dl>
              </div>
            </div>

              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Monitoring action 2</h2>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Action
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data['monitoring-action-2'] }}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Change<span class="govuk-visually-hidden">Name</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Description
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data['description-monitoring-action-2'] }}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Change<span class="govuk-visually-hidden">Description</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Action to be <br>done by
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['deadline-day-monitoring-action-2'] }} {{ data['deadline-month-monitoring-action-2'] }} {{ data['deadline-year-monitoring-action-2'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden">Description</span>
                          </a>
                        </dd>
                      </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Mandatory
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{ data['mandatory-monitoring-action-2'] }}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Change<span class="govuk-visually-hidden">Comments</span>
                        </a>
                      </dd>
                    </div>                    
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Comments
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['comments-monitoring-action-2'] }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden">Comments</span>
                          </a>
                        </dd>
                      </div>
                  </dl>
                </div>
              </div>

              <div class="govuk-form-group govuk-!-margin-top-4 govuk-!-padding-top-6">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-fieldset__heading">
                            Do you want to add another action?
                        </h2>
                    </legend>
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="another-monitoring-3" name="another-monitoring-2" type="radio"
                                value="Yes">
                            <label class="govuk-label govuk-radios__label" for="another-monitoring-3">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="another-monitoring-4" name="another-monitoring-2" type="radio"
                                value="no">
                            <label class="govuk-label govuk-radios__label" for="another-monitoring-4">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button role="button" draggable="false" class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-6"
                data-module="govuk-button">
                Continue
            </button>

        </form>


    </div>
</div>

{% endblock %}
