{% extends "layout-sign-out.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/V3/submit-s12-statement/questions/operator-action-list-4" method="post">

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="more-detail">
                    What's the next thing the operator needs to monitor?
                    </label>
                </h1>

                <div class="govuk-form-group govuk-!-margin-top-6 govuk-!-padding-top-6">
                    <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
                            Monitoring action
                        </label>
                    </h2>
                    <input class="govuk-input" id="monitoring-action-2" name="monitoring-action-2" type="text">
                </div>

                <div class="govuk-form-group govuk-!-padding-top-6">
                    <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                            Description
                        </label>
                    </h2>
                    <textarea class="govuk-textarea" id="description-monitoring-action-2" name="description-monitoring-action-2" rows="5"
                        aria-describedby="more-detail-hint"></textarea>
                </div>

                <div class="govuk-form-group govuk-!-margin-top-6 govuk-!-padding-top-6">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                          When does the action need to be done by? <span class="govuk-body">Optional</span>
                        </h2>
                      </legend>
                      <div id="passport-issued-hint" class="govuk-hint">
                        For example, 27 3 2007
                      </div>
                      <div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                              Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="deadline-day-monitoring-action-2" name="deadline-day-monitoring-action-2" type="text" inputmode="numeric">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                              Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="deadline-month-monitoring-action-2" name="deadline-month-monitoring-action-2" type="text" inputmode="numeric">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                              Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="deadline-year-monitoring-action-2" name="deadline-year-monitoring-action-2" type="text" inputmode="numeric">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>


                <div class="govuk-form-group govuk-!-padding-top-6">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                              Is the action mandatory?
                            </h2>
                        </legend>
                        <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="status-yes-monitoring-action-2" name="mandatory-monitoring-action-2"
                                    type="radio" value="Mandatory">
                                <label class="govuk-label govuk-radios__label" for="status-yes-monitoring-action-2">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="status-no-monitoring-action-2" name="mandatory-monitoring-action-2"
                                    type="radio" value="Advisory">
                                <label class="govuk-label govuk-radios__label" for="status-no-monitoring-action-2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-form-group govuk-!-padding-top-6">
                    <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                            Comments
                        </label>
                    </h2>
                    <textarea class="govuk-textarea" id="comments-monitoring-action-2" name="comments-monitoring-action-2" rows="5"
                        aria-describedby="more-detail-hint"></textarea>
                </div>

            </div>


            <div>
              <button role="button" draggable="false"
                  class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6 govuk-!-margin-right-4"
                  data-module="govuk-button">
                  Continue
              </button>
              <button type="submit"
                  class="govuk-button govuk-button--secondary govuk-!-margin-top-6 govuk-!-margin-bottom-9"
                  data-module="govuk-button">
                  Save and come back later
              </button>
          </div>

    </div>

    </form>

</div>


{% endblock %}happy
