{% extends "layout-sign-out.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="/Beta/V3/submit-s12-statement/questions/operator-safety-measures-answer" method="post">

      <h1 class="govuk-heading-xl">Safety measures</h1>


      <div class="govuk-summary-list govuk-!-margin-top-8 govuk-!-padding-top-8 govuk-!-margin-bottom-0">
        <div class="govuk-summary-list heading-underline">
          <h3 class="govuk-heading-m">Measure 1</h3>
        </div>

        <div class="govuk-summary-list  govuk-!-margin-top-3">
          <dt class="govuk-summary-list__key govuk-!-padding-0">Type</dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body govuk-!-margin-bottom-0">The spillway capacity be increased to safely pass the PMF
              flood
            </p>
          </dd>
        </div>

        <div class="govuk-summary-list">
          <dt class="govuk-summary-list__key govuk-!-padding-0">Deadline</dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body govuk-!-padding-bottom-0">18 November 2023</p>
          </dd>
        </div>

        <div class="govuk-summary-list heading-underline">
          <dt class="govuk-summary-list__key govuk-!-padding-0">Outstanding</dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body govuk-!-padding-bottom-6">Yes</p>
          </dd>
        </div>

        <div class="govuk-summary-list govuk-!-margin-top-8 govuk-!-padding-top-8 govuk-!-margin-bottom-0">
          <div class="govuk-summary-list heading-underline">
            <h3 class="govuk-heading-m">Measure 2</h3>
          </div>

          <div class="govuk-summary-list  govuk-!-margin-top-3">
            <dt class="govuk-summary-list__key govuk-!-padding-0">Type</dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-margin-bottom-0">Carry out a breach study using 2016 EA RFM Specification
                through the new development downstream
              </p>
            </dd>
          </div>

          <div class="govuk-summary-list">
            <dt class="govuk-summary-list__key govuk-!-padding-0">Deadline</dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-padding-bottom-0">13 September 2023</p>
            </dd>
          </div>

          <div class="govuk-summary-list heading-underline">
            <dt class="govuk-summary-list__key govuk-!-padding-0">Outstanding</dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body govuk-!-padding-bottom-6">No</p>
            </dd>
          </div>


          <div class="govuk-summary-list govuk-!-margin-top-8 govuk-!-padding-top-8 govuk-!-margin-bottom-0">
            <div class="govuk-summary-list heading-underline">
              <h3 class="govuk-heading-m">Measure 3</h3>
            </div>

            <div class="govuk-summary-list  govuk-!-margin-top-3">
              <dt class="govuk-summary-list__key govuk-!-padding-0">Type</dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body govuk-!-margin-bottom-0">Remove all trees on the embankment, remove all debris,
                  reprofile bank and reseed
                </p>
              </dd>
            </div>

            <div class="govuk-summary-list">
              <dt class="govuk-summary-list__key govuk-!-padding-0">Deadline</dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body govuk-!-padding-bottom-0">4 October 2023</p>
              </dd>
            </div>

            <div class="govuk-summary-list heading-underline">
              <dt class="govuk-summary-list__key govuk-!-padding-0">Outstanding</dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body govuk-!-padding-bottom-6">Yes</p>
              </dd>
            </div>


            <div class="govuk-summary-list govuk-!-margin-top-8 govuk-!-padding-top-8 govuk-!-margin-bottom-0">
              <div class="govuk-summary-list heading-underline">
                <h3 class="govuk-heading-m">Measure 4</h3>
              </div>

              <div class="govuk-summary-list  govuk-!-margin-top-3">
                <dt class="govuk-summary-list__key govuk-!-padding-0">Type</dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body govuk-!-margin-bottom-0">The unsteady concrete base slabs need investigating and
                    stabilising
                  </p>
                </dd>
              </div>

              <div class="govuk-summary-list">
                <dt class="govuk-summary-list__key govuk-!-padding-0">Deadline</dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body govuk-!-padding-bottom-0">24 August 2023</p>
                </dd>
              </div>

              <div class="govuk-summary-list heading-underline">
                <dt class="govuk-summary-list__key govuk-!-padding-0">Outstanding</dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body govuk-!-padding-bottom-6">Yes</p>
                </dd>
              </div>


              <div class="govuk-summary-list govuk-!-margin-top-8 govuk-!-padding-top-8 govuk-!-margin-bottom-0">
                <div class="govuk-summary-list heading-underline">
                  <h3 class="govuk-heading-m">Measure 5</h3>
                </div>

                <div class="govuk-summary-list  govuk-!-margin-top-3">
                  <dt class="govuk-summary-list__key govuk-!-padding-0">Type</dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body govuk-!-margin-bottom-0">Do a geophysical study on embankment
                    </p>
                  </dd>
                </div>

                <div class="govuk-summary-list">
                  <dt class="govuk-summary-list__key govuk-!-padding-0">Deadline</dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body govuk-!-padding-bottom-0">18 September 2023</p>
                  </dd>
                </div>

                <div class="govuk-summary-list heading-underline">
                  <dt class="govuk-summary-list__key govuk-!-padding-0">Outstanding</dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body govuk-!-padding-bottom-6">No</p>
                  </dd>
                </div>




                <div class="govuk-form-group govuk-!-padding-top-6">
                  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                        Do these measures match your records?
                      </h1>
                    </legend>


                    <div class="govuk-radios govuk-radios--inline govuk-!-margin-top-2" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="match-safety-measure-1" name="match-safety-measure" type="radio"
                          value="Yes">
                        <label class="govuk-label govuk-radios__label" for="match-safety-measure-1">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="match-safety-measure-2" name="match-safety-measure" type="radio"
                          value="No">
                        <label class="govuk-label govuk-radios__label" for="match-safety-measure-2">
                          No
                        </label>
                      </div>
                    </div>

                  </fieldset>
                </div>


                <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Continue</button>

    </form>
  </div>
</div>

{% endblock %}
