{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="/Beta/V2/submit-s12-statement/questions/issues-to-watch" method="post">

      <h1 class="govuk-heading-xl">Confirm this information about the safety measures is correct</h1>

      <h2 class="govuk-heading-l govuk-!-padding-bottom-4">
        Safety measures
      </h2>

      <h3 class="govuk-table__header govuk-heading-m">Activity 1</h3>

      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key width-15">Type</dt>
          <dd class="govuk-summary-list__value">
            <div>
              <p class="govuk-body govuk-!-margin-bottom-0">The spillway capacity be increased to safely pass the PMF
                flood
              </p>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Deadline</dt>
          <dd class="govuk-summary-list__value">18 November 2023
          </dd>
        </div>
      </dl>

      <h3 class="govuk-table__header govuk-heading-m govuk-!-padding-top-6">Activity 2</h3>

      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key width-15">Type</dt>
          <dd class="govuk-summary-list__value">
            <div>
              <p class="govuk-body govuk-!-margin-bottom-0">Carry out a breach study using 2016 EA RFM Specification
                through the new development downstream
              </p>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Deadline</dt>
          <dd class="govuk-summary-list__value">13 September 2023
          </dd>
        </div>
      </dl>

      <h3 class="govuk-table__header govuk-heading-m govuk-!-padding-top-6">Activity 3</h3>

      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key width-15">Type</dt>
          <dd class="govuk-summary-list__value">
            <div>
              <p class="govuk-body govuk-!-margin-bottom-0">Remove all trees on the embankment, remove all debris,
                reprofile bank and reseed
              </p>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Deadline</dt>
          <dd class="govuk-summary-list__value">4 October 2023
          </dd>
        </div>
      </dl>

      <h3 class="govuk-table__header govuk-heading-m govuk-!-padding-top-6">Activity 4</h3>

      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key width-15">Type</dt>
          <dd class="govuk-summary-list__value">
            <div>
              <p class="govuk-body govuk-!-margin-bottom-0">The unsteady concrete base slabs need investigating and
                stabilising
              </p>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Deadline</dt>
          <dd class="govuk-summary-list__value">24 August 2023
          </dd>
        </div>
      </dl>

      <h3 class="govuk-table__header govuk-heading-m govuk-!-padding-top-6">Activity 5</h3>

      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key width-15">Type</dt>
          <dd class="govuk-summary-list__value">
            <div>
              <p class="govuk-body govuk-!-margin-bottom-0">Do a geophysical study on embankment
              </p>
            </div>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Deadline</dt>
          <dd class="govuk-summary-list__value">18 September 2023
          </dd>
        </div>
      </dl>

      <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Confirm</button>

    </form>

    <div class="govuk-!-margin-top-8">
          <p><a class="govuk-link govuk-link--no-visited-state"
                  href="#">Information not correct?</a></p>
      </div>


</div>

{% endblock %}
