{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/V3/submit-s12-statement/questions/operator-list-of-reasons-2" method="post">

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="more-detail">
                        What is the second reason?
                    </label>
                </h1>

                <div class="govuk-form-group govuk-!-margin-top-6 govuk-!-padding-top-6">
                    <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
                            Title of the action
                        </label>
                    </h2>
                    <input class="govuk-input" id="title-reason-2" name="title-reason-2" type="text">
                </div>

                <div class="govuk-form-group govuk-!-padding-top-6">
                    <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                            Description of the action
                        </label>
                    </h2>
                    <textarea class="govuk-textarea" id="description-reason-2" name="description-reason-2" rows="5"
                        aria-describedby="more-detail-hint"></textarea>
                </div>

                <div class="govuk-form-group govuk-!-padding-top-6">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                Status
                            </h2>
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="status-reason-1" name="status-2" type="radio"
                                    value="Complete">
                                <label class="govuk-label govuk-radios__label" for="status-reason-1">
                                    Complete
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="status-reason-2" name="status-2" type="radio"
                                    value="In-progress">
                                <label class="govuk-label govuk-radios__label" for="status-reason-2">
                                    In progress
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="status-reason-3" name="status-2" type="radio"
                                    value="Not-started">
                                <label class="govuk-label govuk-radios__label" for="status-reason-3">
                                    Not started
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="status-reason-4" name="status-2" type="radio"
                                    value="Unknown">
                                <label class="govuk-label govuk-radios__label" for="status-reason-4">
                                    Unknown
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>


                <div class="govuk-form-group  govuk-!-padding-top-6">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                Is the operator compliant?
                            </h2>
                        </legend>
                        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="operator-compliant-1" name="operator-compliant-2"
                                    type="radio" value="Yes">
                                <label class="govuk-label govuk-radios__label" for="operator-compliant-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="operator-compliant-2" name="operator-compliant-2"
                                    type="radio" value="No">
                                <label class="govuk-label govuk-radios__label" for="operator-compliant-2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-form-group govuk-!-padding-top-6">
                    <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                            Do you have any comments?
                        </label>
                    </h2>
                    <textarea class="govuk-textarea" id="comments-reason-2" name="comments-reason-2" rows="5"
                        aria-describedby="more-detail-hint"></textarea>
                </div>

            </div>


            <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Save and continue</button>

    </div>

    </form>

</div>

<!-- <script>
   
document.getElementById("status-reason-1").innerHTML = "Complete";
document.getElementById("status-reason-2").innerHTML = "In progress";
document.getElementById("status-reason-3").innerHTML = "Not started";
document.getElementById("status-reason-4").innerHTML = "Unknown";


</script> -->

{% endblock %}happy