{% extends "layout-new-crown.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Alpha</span>
      Check your annual statement
    </h1>

  </div>

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <!-- <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-6">
        Testing
      </strong> -->

      <a href="/Beta/using-s12-statement/summary-statement-V1" class="govuk-heading-m govuk-link--no-visited-state">Summary statement - V1</a>
      
      <a href="/Beta/check-s12-statement/check-statement-V2"
        class="govuk-heading-m govuk-link--no-visited-state">Check statement - V2 </a>

      <p class="govuk-body govuk-!-padding-bottom-6">Sprint 13</p>


      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">User group:</h3>

      <p class="govuk-body govuk-!-margin-bottom-6">Undertakers</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we tested</h3>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
        <li>TBC
        </li>
      </ul>




      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we learned</h3>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>TBC
        </li>
      </ul>

    </div>



    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <a href="/Beta/check-s12-statement/check-statement-V1"
        class="govuk-heading-m govuk-link--no-visited-state">Check statement - V1</a>

      <p class="govuk-body govuk-!-padding-bottom-6">Sprint 11</p>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">User group:</h3>

      <p class="govuk-body govuk-!-margin-bottom-6">Undertakers</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we tested</h3>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-margin-bottom-6">
        <li>How do they imagine using/interacting with the output, if at all?
        </li>
        <li>What are their thoughts on the output?
        </li>
        <li>What are their thoughts on the quality of the service output vs the report they would have originally
          created?
        </li>
        <li>How might the prototype fit with their current ways of working?
        </li>
        <li>How would they want to provide feedback with the new approach? 
        </li>
        <li>What impact do they anticipate from using the new system? (positive and negative)
        </li>
        <li>What challenges do they see with integrating the new output and process into the way they do things?
        </li>
        <li>What might improve the service for them?
        </li>
        <li>What opportunities do they see for a digital service (future thinking)?
        </li>
        <li>What key information do they think is missing?
        </li>
      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we learned</h3>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>TBC
        </li>
      </ul>

      <!-- <p class="govuk-body govuk-!-margin-bottom-6">Read the full <a
          href="https://defra.sharepoint.com/:p:/r/sites/MSTDefraRACE/_layouts/15/Doc.aspx?sourcedoc=%7BAAE55E48-B038-44DE-AF4B-544BC75711A3%7D&file=SE%20Report%20-%20Prototype%20Evaluation%20(part%202).pptx&action=edit&mobileredirect=true"
          class="govuk-link govuk-link--no-visited-state">Supervising engineers prototype evaluation</a> report</p> -->

    </div>
  </div>
</div>

{% endblock %}