{% extends "layout-new-crown.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Alpha</span>
      Check your annual statement
    </h1>

    <p class="govuk-body-l govuk-!-margin-bottom-4">
      <span class="govuk-body-l govuk-!-font-weight-bold">User group:</span>
      Undertakers
    </p>

  </div>

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 11</p>


      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Engineers full statement
      </h2>

      <a href="/Beta/check-s12-statement/check-statement-V1"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-6">Version
        1</a>

        <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-padding-bottom-6">
          <li>How do they imagine using/interacting with the output, if at all?
          </li>
          <li>What are their thoughts on the output?
          </li>
          <li>What are their thoughts on the quality of the service output vs the report they would have originally
            created?
          </li>
          <li>How might the prototype fit with their current ways of working?
          </li>
          <li>How would they want to provide feedback with the new approach?
          </li>
          <li>What impact do they anticipate from using the new system? (positive and negative)
          </li>
          <li>What challenges do they see with integrating the new output and process into the way they do things?
          </li>
          <li>What might improve the service for them?
          </li>
          <li>What opportunities do they see for a digital service (future thinking)?
          </li>
          <li>What key information do they think is missing?
          </li>
        </ul>

    </div>


    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 13</p>


      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Engineers summary statement
      </h2>

      <a href="/Beta/using-s12-statement/summary-statement-V1"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-6">Version
        1</a>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Engineers full statement
      </h2>

      <a href="/Beta/check-s12-statement/check-statement-V2"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-6">Version
        2</a>

        <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-padding-bottom-6">
          <li>How do they imagine using/interacting with the output, if at all?
          </li>
          <li>What are their thoughts on the output?
          </li>
          <li>What are their thoughts on the quality of the service output vs the report they would have originally
            created?
          </li>
          <li>How might the prototype fit with their current ways of working?
          </li>
          <li>How would they want to provide feedback with the new approach?
          </li>
          <li>What impact do they anticipate from using the new system? (positive and negative)
          </li>
          <li>What challenges do they see with integrating the new output and process into the way they do things?
          </li>
          <li>What might improve the service for them?
          </li>
          <li>What opportunities do they see for a digital service (future thinking)?
          </li>
          <li>What key information do they think is missing?
          </li>
        </ul>

    </div>

  </div>
</div>

{% endblock %}