{% extends "layout-new-crown.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-caption-xl">Private Beta</span>
      Accessibility statement
    </h1>

    <p class="govuk-body-l govuk-!-padding-bottom-5">
      <span class="govuk-body-l govuk-!-font-weight-bold">User group:</span>
      Supervising engineers
    </p>



    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 21</p>

      <a href="/Beta/Private/accessibility-statement/V1/user-signed-in"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        1</a>

    </div>
  </div>
</div>

  {% endblock %}