{% extends "layout-back-button.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Private Beta</span>
      Errors and validation
    </h1>

  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Version 1</h2>

      <p class="govuk-body" style="color: #0b0c0c;">Sprint 8</p>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">UI Designs</h3>

      <ol class="govuk-list govuk-list govuk-!-margin-bottom-5">

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/text-input/reset-password-text-input-error" role="button" draggable="false"
            class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Text input
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/radios/super-engineer-radios-error" role="button" draggable="false"
            class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Radios
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/system-errors/page-not-found" role="button" draggable="false"
            class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Page not found
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/time-out/page-timed-out" role="button" draggable="false"
            class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Page timed out
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/system-errors/problem-with-service" role="button" draggable="false"
            class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Problem with service
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/system-errors/service-uavailable" role="button" draggable="false"
            class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Service unavailable
          </a>
        </li>

      </ol>


      <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">

    </div>
  </div>
</div>

{% endblock %}
