{% extends "layout-new-crown.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-caption-xl">Private Beta</span>
      Errors and validation
    </h1>

    <p class="govuk-body-l govuk-!-padding-bottom-5">
      <span class="govuk-body-l govuk-!-font-weight-bold">User group:</span>
      Supervising engineers
    </p>


    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 8 &ndash; 9</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Sign in and password errors</h2>

      <p class="govuk-body govuk-!-padding-top-6 govuk-!-margin-bottom-2" style="color: #0b0c0c;">UI Designs &ndash; V1
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">1. First time registering</h3>

      <ul class="govuk-list govuk-list govuk-!-margin-bottom-5">

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Create-a-password/create-password-error-1" role="button"
            draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Create a password scenario 1
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Create-a-password/create-password-error-2" role="button"
            draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Create a password scenario 2
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Create-a-password/create-password-error-3" role="button"
            draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Create a password scenario 3
          </a>
        </li>

      </ul>


      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">2. Forgotten password</h3>

      <ul class="govuk-list govuk-list govuk-!-margin-bottom-5">


        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Reset-password/Reset-password-error-1" role="button"
            draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Reset password scenario 1
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Reset-password/Reset-password-error-2" role="button"
            draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Reset password scenario 2
          </a>
        </li>


        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Create-a-new-password/Create-a-new-password-error-1"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Create a new password scenario 1
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Create-a-new-password/Create-a-new-password-error-2"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Create a new password scenario 2
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Create-a-new-password/Create-a-new-password-error-3"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Create a new password scenario 3
          </a>
        </li>

      </ul>


      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">3. Change your password</h3>

      <ul class="govuk-list govuk-list govuk-!-margin-bottom-5">



        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Change-your-password/change-your-password-error-1"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state"
            data-module="govuk-button">
            Change your password scenario 1
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Change-your-password/change-your-password-error-2"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state"
            data-module="govuk-button">
            Change your password scenario 2
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Change-your-password/change-your-password-error-3"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state"
            data-module="govuk-button">
            Change your password scenario 3
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Change-your-password/change-your-password-error-4"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state"
            data-module="govuk-button">
            Change your password scenario 4
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Change-your-password/change-your-password-error-5"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state"
            data-module="govuk-button">
            Change your password scenario 5
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Change-your-password/change-your-password-error-6"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state"
            data-module="govuk-button">
            Change your password scenario 6
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Change-your-password/change-your-password-error-7"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state"
            data-module="govuk-button">
            Change your password scenario 7
          </a>
        </li>

      </ul>

    </div>


    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 11</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Service errors</h2>

      <p class="govuk-body govuk-!-padding-top-6 govuk-!-margin-bottom-2" style="color: #0b0c0c;">UI Designs &ndash; V1
      </p>

      <ul class="govuk-list govuk-list govuk-!-margin-bottom-5 govuk-!-padding-bottom-6">

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/radios/send-your-statement-radio-error" role="button"
            draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Radio error
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/file-upload/upload-your-template-error" role="button"
            draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            File upload error
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/file-upload/upload-your-template-errors" role="button"
            draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            File upload multiple errors
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/system-errors/page-not-found" role="button"
            draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Page not found
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/time-out/page-timed-out" role="button" draggable="false"
            class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Page timed out
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/system-errors/problem-with-service" role="button"
            draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Problem with service
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/system-errors/service-uavailable" role="button"
            draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Service unavailable
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/not-registered-user/no-annual-statements" role="button"
            draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Not registered user
          </a>
        </li>

      </ul>

    </div>

  </div>
</div>


{% endblock %}