{% extends "layout-back-button.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Private Beta</span>
      Errors and validation
    </h1>

  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Version 1</h2>

      <p class="govuk-body" style="color: #0b0c0c;">Sprint 8, 9 and 11</p>

      <p class="govuk-body govuk-!-margin-bottom-6" style="color: #0b0c0c;">UI Designs</p>


      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Sign in and password errors</h2>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">1. First time registering</h>

        <ol class="govuk-list govuk-list govuk-!-margin-bottom-5">

          <li>
            <a href="/Beta/Private/errors-and-validation/V1/Create-a-password/create-password-error-1" role="button"
              draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
              Create a password scenario 1
            </a>
          </li>

          <li>
            <a href="/Beta/Private/errors-and-validation/V1/Create-a-password/create-password-error-2" role="button"
              draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
              Create a password scenario 2
            </a>
          </li>

          <li>
            <a href="/Beta/Private/errors-and-validation/V1/Create-a-password/create-password-error-3" role="button"
              draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
              Create a password scenario 3
            </a>
          </li>


        </ol>

        <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">2. Forgotten password</h>

          <ol class="govuk-list govuk-list govuk-!-margin-bottom-5">


        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Reset-password/Reset-password-error-1" role="button"
            draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Reset password scenario 1
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Reset-password/Reset-password-error-2" role="button"
            draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Reset password scenario 2
          </a>
        </li>
  

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Create-a-new-password/Create-a-new-password-error-1"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Create a new password scenario 1
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Create-a-new-password/Create-a-new-password-error-2"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Create a new password scenario 2
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Create-a-new-password/Create-a-new-password-error-3"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Create a new password scenario 3
          </a>
        </li>

      </ol>

        <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">3. Change your password</h>

          <ol class="govuk-list govuk-list govuk-!-margin-bottom-5">
  


        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Change-your-password/change-your-password-error-1"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Change your password scenario 1
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Change-your-password/change-your-password-error-2"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Change your password scenario 2
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Change-your-password/change-your-password-error-3"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Change your password scenario 3
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Change-your-password/change-your-password-error-4"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Change your password scenario 4
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Change-your-password/change-your-password-error-5"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Change your password scenario 5
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Change-your-password/change-your-password-error-6"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Change your password scenario 6
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/Change-your-password/change-your-password-error-7"
            role="button" draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Change your password scenario 7
          </a>
        </li>

      </ol>

      <h2 class="govuk-heading-m govuk-!-padding-top-8 govuk-!-margin-bottom-2">Service errors</h2>

        <ol class="govuk-list govuk-list govuk-!-margin-bottom-5">

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/radios/send-your-statement-radio-error" role="button"
            draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Radio error
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/file-upload/upload-your-template-error" role="button"
            draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            File upload error
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/file-upload/upload-your-template-errors" role="button"
            draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            File upload multiple errors
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/system-errors/page-not-found" role="button" draggable="false"
            class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Page not found
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/time-out/page-timed-out" role="button" draggable="false"
            class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Page timed out
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/system-errors/problem-with-service" role="button"
            draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Problem with service
          </a>
        </li>

        <li>
          <a href="/Beta/Private/errors-and-validation/V1/system-errors/service-uavailable" role="button"
            draggable="false" class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Service unavailable
          </a>
        </li>

        </ol>


        <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">

    </div>
  </div>
</div>

{% endblock %}