{% extends "layout-account-service-name.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block beforeContent %}

<div class="govuk-phase-banner">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service — your <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_0wFTSeSWzDuXiRg/"
            class="govuk-link">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#">Enter your current password</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <h1 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-6">Change your password</h1>


    <div class="govuk-form-group govuk-form-group--error">

      <label for="input-722309f3" class="gem-c-label govuk-label">Enter your current password</label>

      <p id="full-name-input-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span>Enter your current password
      </p>

      <div class="gem-c-show-password__input-wrapper width-error-1">

        <input autocomplete="off" class="gem-c-input govuk-input gem-c-input--with-password govuk-input--error"
          id="input-722309f3" spellcheck="false" type="password"><button class="gem-c-show-password__toggle"
          aria-controls="input-722309f3" type="button" aria-label="Hide password">Show</button><span
          class="govuk-visually-hidden" aria-live="polite">Your password
          is shown</span>
      </div>
    </div>



    <h2 class="govuk-heading-m govuk-!-padding-top-6 govuk-!-margin-bottom-2">Enter a new password</h1>


      <p class="govuk-body govuk-!-margin-bottom-6">Your password must be 8 or more characters. Use a mixture
        of letters, numbers and symbols.</p>

      <div class="govuk-form-group">

        <label for="input-722309f3" class="gem-c-label govuk-label">New password</label>

        <div class="gem-c-show-password__input-wrapper">

          <input autocomplete="off" class="gem-c-input govuk-input gem-c-input--with-password" id="input-722309f3"
            spellcheck="false" type="password" value="Passw0rD1234">

          <button class="gem-c-show-password__toggle" aria-controls="input-722309f3" type="button"
            aria-label="Hide password">Show
          </button>

          <span class="govuk-visually-hidden" aria-live="polite">Your password is shown</span>
        </div>

      </div>

      <div class="govuk-form-group">

        <label for="input-722309f3" class="gem-c-label govuk-label">Confirm new password</label>

        <div class="gem-c-show-password__input-wrapper">

          <input autocomplete="off" class="gem-c-input govuk-input gem-c-input--with-password" id="input-722309f3"
            spellcheck="false" type="password" value="Passw0rD1234">

          <button class="gem-c-show-password__toggle" aria-controls="input-722309f3" type="button"
            aria-label="Show password">Show
          </button>

          <span class="govuk-visually-hidden" aria-live="polite">Your password is shown</span>
        </div>

      </div>


      <button ole="button" draggable="false" class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-8"
        data-module="govuk-button">
        Change password
      </button>


  </div>
</div>

{% endblock %}