{% extends "layout-new-crown.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Alpha</span>
      Sign in / Create account with Government Gateway and Defra ID
    </h1>

  </div>

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Version 1</h2>

      <p class="govuk-body govuk-!-padding-bottom-6">Sprint 0</p>


      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">User group:</h3>

      <p class="govuk-body govuk-!-padding-top-0">Supervising engineers</p>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">Our Assumptions</h3>

      <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-5">
        <li>Due to the sensitivity of the information being entered, our users will understand the
          importance of securely logging in to Government Gateway and Defra accounts.</li>

        <li>They will need to do this to either sign in or create an account to submit an S12
          Statement
          online.</li>
      </ol>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">The scenarios</h3>

      <a href="/Beta/submit-s12-statement/V1/reservoir-guidance"
        class="govuk-heading-s govuk-link--no-visited-state govuk-!-margin-bottom-1">Scenario 1</a>

      <p class="govuk-body">
        User wants to register for a service, no Gov Gateway or Defra ID accounts
      </p>

      <a href="/Beta/submit-s12-statement/V1/reservoir-guidance-s2"
        class="govuk-heading-s govuk-link--no-visited-state govuk-!-margin-bottom-1">Scenario 2</a>

      <p class="govuk-body">
        User has Gov Gateway account and no Defra ID account
      </p>

      <a href="/Beta/submit-s12-statement/V1/reservoir-guidance-s3"
        class="govuk-heading-s govuk-link--no-visited-state govuk-!-margin-bottom-1">Scenario 3</a>

      <p class="govuk-body govuk-!-margin-bottom-6">
        Returning user has both Gov Gateway and Defra accounts - two factor authentcation
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we tested</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>how the user would go about searching for our service online</li>
        <li>can they sign into our online service</li>
        <li>how to create a Defra ID account</li>
      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we learned</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>Users were confused by the option to register as an individual or a business</li>
        <li>Some users were registered on the reservoir panel as an individual, but also worked for a company</li>
        <li class="govuk-!-margin-bottom-6">All users passed through the Two-factor authentication (2FA) journey without any problems</li>
      </ul>

    </div>
  </div>
</div>

{% endblock %}