{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Change the phone number of the operator in the prescribed form of record</h1>

        <form class="form" action="/Beta/V1/submit-s12-statement/operator-details/confirm-contact-details-1" method="post">



            <div class="govuk-form-group">

                <label class="govuk-label govuk-label--m" for="operator-phone-1">
                    Phone number
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="operator-phone-1" name="operator-phone-1" type="text" value="02392 123-456">
            </div>


            <button class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6" data-module="govuk-button">Save
                and continue</button>


        </form>

    </div>
</div>

{% endblock %}