{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/Beta/V1/submit-s12-statement/inspecting-engineer/confirm" method="post" class="form">


            <h1 class="govuk-heading-xl">Are these the operator's details in the reservoir records?</h1>


            <dl class="govuk-summary-list govuk-summary-list--no-border">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{ data['operator-name'] }}</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/Beta/V1/submit-s12-statement/operator-details/change-name">
                            Change<span class="govuk-visually-hidden">name</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body"> {{ data['operator-address-1'] }}<br>
                            {{ data['operator-address-2'] }}<br>
                            {{ data['operator-address-3'] }}</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/Beta/V1/submit-s12-statement/operator-details/change-address-2">
                            Change<span class="govuk-visually-hidden">address</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{ data['operator-email'] }}</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/Beta/V1/submit-s12-statement/operator-details/change-email-2">
                            Change<span class="govuk-visually-hidden">operator's email address</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Phone
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{ data['operator-phone-2'] }}</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="/Beta/V1/submit-s12-statement/operator-details/change-operator-phone">
                            Change<span class="govuk-visually-hidden">operator's phone number</span>
                        </a>
                    </dd>
                </div>


            </dl>


            <button role="button" draggable="false" class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-6"
                data-module="govuk-button">
                Confirm
            </button>

        </form>


        <div>
            <a href="/Beta/V1/submit-s12-statement/operator-details/add-operator" role="button" draggable="false"
                class="govuk-button govuk-button--secondary govuk-!-margin-top-6 govuk-!-margin-bottom-6"
                data-module="govuk-button">
                Add another operator
            </a>
        </div>
    </div>
</div>

{% endblock %}