{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before submitting your statement</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reservoir details
        </dt>
        <dd class="govuk-summary-list__value">
          Birkacre, Lancashire
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> reservoir details</span>
          </a>
        </dd>
      </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Engineer name
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah Philips
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/v1/contact-details">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Engineer contact details
          </dt>
          <dd class="govuk-summary-list__value">
            <p>sarah.phillips@example.com</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/v1/contact-details">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
          </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Owner name
          </dt>
          <dd class="govuk-summary-list__value">
            Mr Brown
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/v1/undertaker-details">
              Change
              <span class="govuk-visually-hidden"> owner name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Owner contact details
          </dt>
          <dd class="govuk-summary-list__value">
            <p>owner@example.com</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/v1/undertaker-details">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Statement details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Statement type
          </dt>
          <dd class="govuk-summary-list__value">
            S12(2)
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> Statement type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            compliance issues by the undertaker under section 11
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> compliance under section 11</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Inspection recommended under section 12(3)
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> inspection required</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Directions made under section 12(6)
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> Directions under section 12(6)</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Copy of full statement uploaded
          </dt>
          <dd class="govuk-summary-list__value">
            Yes - Filename
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> statement upload</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Section 11 details
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> statement upload</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Section 11 - reccomended owner actions
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> statement upload</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Now send your statement</h2>

      <p>By submitting this statement you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
