{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-l">Contact details</span>
      <h1 class="govuk-heading-xl">Reservoir owner contact details</h1>

      <form class="form" action="/v1/s12-details" method="post">

        <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="event-name">
        Owner full name
        </label>
        </h2>
        <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>


          <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="email">
            Owner email address
          </label>
          <div id="email-hint" class="govuk-hint">
            Provide the email that you provided to the EA we will use this to send you a confirmation of submission and link the statement to your record.
          </div>
          <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
