{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">What is the new operator name?</h1>

        <dl class="govuk-summary-list govuk-summary-list--no-border">

            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="operator-new-name">
                    Operator name
                </label>
                <input class="govuk-input" id="operator-new-name" name="operator-new-name" type="text">
            </div>

        </dl>


        <a href="/submit-s12-statement/operator-details/operator-details" role="button" draggable="false"
            class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-6" data-module="govuk-button">
            Save and continue
        </a>



    </div>
</div>

{% endblock %}