{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl">Check operator details</h1>

    <div class="govuk-body govuk-!-font-size-19">
      {{ data['operator-name'] }}
    </div>

    <div class="govuk-body govuk-!-font-size-19">
      {{ data['operator-address-1'] }}<br>
      {{ data['operator-address-2'] }}<br>
      {{ data['operator-address-3'] }}
    </div>

    <div>
      <p class="govuk-body govuk-!-font-size-19"> Email: {{ data['operator-email'] }}</p>
    </div>

    <div class="govuk-body govuk-!-font-size-19">

    </div>

    <div>
      <p class="govuk-body govuk-!-font-size-19"> Phone: {{ data['operator-phone'] }}</p>
    </div>

    <div class="govuk-!-margin-top-8">
      <a href="#">
        Change
        <span class="govuk-visually-hidden"> operator details</span>
      </a>
    </div>

    <a href="/defra-id-account/company-contact.html" role="button" draggable="false"
      class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6" data-module="govuk-button">
      Save and continue
    </a>

  </div>



</div>

{% endblock %}