{% extends "layout-new-crown.html" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
      <span class="govuk-caption-xl">Private Beta</span>
      Additional features
    </h1>

    <p class="govuk-body-l govuk-!-padding-bottom-5">
      <span class="govuk-body-l govuk-!-font-weight-bold">User group:</span>
      Supervising engineers
    </p>

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 13</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Manage account details</h2>

      <a href="/Beta/Private/additional-features/V2/manage-account-details"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        2</a>

      <details class="govuk-details govuk-!-padding-bottom-6">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design iterations
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>Removed all the change links off 'Name', 'Company address', 'Phone number' and 'Email'</li>

            <li>User can only change their 'Password'</li>

          </ul>
        </div>
      </details>

    </div>

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <p class="govuk-body govuk-!-padding-bottom-0">Sprint 0</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Manage account details</h2>

      <a href="/Beta/Private/additional-features/V1/manage-account-details"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        1</a>

      <h2 class="govuk-heading-l govuk-!-padding-top-0 govuk-!-margin-bottom-0">Previous annual statements</h2>

      <a href="/Beta/Private/additional-features/V1/previous-statements-list"
        class="govuk-heading-m govuk-link--no-visited-state govuk-!-padding-top-3 govuk-!-padding-bottom-2">Version
        1</a>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">What we tested</h3>

      <ul class="govuk-list govuk-list--bullet govuk-list--spaced govuk-!-padding-bottom-6">

        <li>To evaluate and prioritise some additional features that might be included in the service.</li>

        <li>What benefits would occur from having these features?</li>

        <li>How would they rank/prioritise the features?</li>

        <li>Which of the features would encourage them to use the service?</li>

      </ul>

    </div>
  </div>
</div>


    {% endblock %}