{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers and submit</h1>

      <h2 class="govuk-heading-m">Reservoir inspection details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of inspection report
          </dt>
          <dd class="govuk-summary-list__value">
            Date TBC
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of inspection certificate
          </dt>
          <dd class="govuk-summary-list__value">
            Date TBC
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> phone</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next scheduled inspection date
          </dt>
          <dd class="govuk-summary-list__value">
            Date TBC
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> phone</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Early periodic inspection recommended
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> phone</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reasons for early periodic inspection
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Lorem ipsum doloe estas. Ut egestas sollicitudin odio sed ultricies. Ut accumsan diam vel pulvinar lobortis. Donec at volutpat arcuas lacus turpis, vitae ultrices turpis ultrices cursus. Curabitur feugidit id.</p><br>
            <p class="govuk-body">Lorem ipsum dolor sit  quis magna iaculis, feugiat labr lobortis. Donec at volutpat arcu. Pellentesque egestas lacus turpis, vitae bulumid.</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> phone</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What the operator needs to do
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Lorem ipsum dolor sit  quis magna iaculis, feugiat labitant morbi tristique estas. Ut egestas sollicitudin odio sed ultricies. Ut accumsan diam vel pulvinar lobortis. Donec at volutpat arcuas lacus turpis, vitae ultrices turpis ultrices cursus. Curabitur feugidit id.</p><br>
            <p class="govuk-body">Lorem ipsum dolor sit  quis magna iaculis, feugiat labr lobortis. Donec at volutpat arcu. Pellentesque egestas lacus turpis, vitae ultrices turpis ultrices cursus. Curabitur feugiat augue massa, a vestibulum purus blandit id.</p>

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> phone</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Inspection by operator recommended
          </dt>
          <dd class="govuk-summary-list__value">
           Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> phone</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reasons for inspection by operator
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Lorem ipsum dolor sit  quis magna iaculis, feugiat labitant morbi tristique estas. Ut egestas sollicitudin odio sed ultricies. Ut accumsan diam vel pulvinar lobortis. Donec at volutpat arcuas lacus turpis, vitae ultrices turpis ultrices cursus. Curabitur feugidit id.</p><br>
            <p class="govuk-body">Lorem ipsum dolor sit  quis magna iaculis, feugiat labr lobortis. Donec at volutpat arcu. Pellentesque egestas lacus turpis, vitae ultrices turpis ultrices cursus. Curabitur feugiat augue massa, a vestibulum purus blandit id.</p>

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> phone</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What the operator needs to do and when
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Lorem ipsum dolor sit  quis magna iaculis, feugiat labitant morbi tristique estas. Ut egestas sollicitudin odio sed ultricies. Ut accumsan diam vel pulvinar lobortis. Donec at volutpat arcuas lacus turpis, vitae ultrices turpis ultrices cursus. Curabitur feugidit id.</p><br>
            <p class="govuk-body">Lorem ipsum dolor sit  quis magna iaculis, feugiat labr lobortis. Donec at volutpat arcu. Pellentesque egestas lacus turpis, vitae ultrices turpis ultrices cursus. Curabitur feugiat augue massa, a vestibulum purus blandit id.</p>

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> phone</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Measures in the interest of safety
          </dt>
          <dd class="govuk-summary-list__value">
         Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> phone</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            The measures
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Lorem ipsum dolor sit  quis magna iaculis, feugiat labitant morbi tristique estas. Ut egestas sollicitudin odio sed ultricies. Ut accumsan diam vel pulvinar lobortis. Donec at volutpat arcuas lacus turpis, vitae ultrices turpis ultrices cursus. Curabitur feugidit id.</p><br>
            <p class="govuk-body">Lorem ipsum dolor sit  quis magna iaculis, feugiat labr lobortis. Donec at volutpat arcu. Pellentesque egestas lacus turpis, vitae ultrices turpis ultrices cursus. Curabitur feugiat augue massa, a vestibulum purus blandit id.</p><br>
            Lorem ipsum dolor sit  quis magna iaculis, feugiat labitant morbi tristique estas. Ut egestas sollicitudin odio sed ultricies. Ut accumsan diam vel pulvinar lobortis. Donec at volutpat arcuas lacus turpis, vitae ultrices turpis ultrices cursus. Curabitur feugidit id.
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> phone</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Issues to be watched
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> phone</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Issues to be watched
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Lorem ipsum dolor sit  quis magnn odio sed ultricies. Ut accumsan diam vel pulvinar lobortis. Donec at volutpat arcuas lacus turpis, vitae ultrices turpis ultrices cursus. Curabitur feugidit id.</p><br>
            <p class="govuk-body">Lorem ipsum dotesque egestas lacus turpis, vitae ultrices turpis ultrices cursus. Curabitur feugiat augue massa, a vestibulum purus blandit id.</p><br>
            Lorem iicitudin odio sed ultricies. Ut accumsan diam vel pulvinar lobortis. Donec at volutpat arcuass. Curabitur feugidit id.
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> phone</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does the operator have to take any specific action to maintain the reservoir?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> phone</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What are the maintenance actions?
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Lorem ipsum dolor sit  quis magnn odio sed ultricies. Ut accumsan diam vel pulvinar lobortis. Donec at volutpat arcuas lacus turpis, vitae ultrices turpis ultrices cursus. Curabitur feugidit id.</p><br>
            <p class="govuk-body">Lorem ipsum dotesque egestas lacus turpis, vitae ultrices turpis ultrices cursus. Curabitur feugiat augue massa, a vestibulum purus blandit id.</p><br>
            Lorem iicitudin odio sed ultricies. Ut accumsan diam vel pulvinar lobortis. Donec at volutpat arcuass. Curabitur feugidit id.
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> phone</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the owner keeping records and monitoring the reservoir?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> phone</span>
            </a>
          </dd>
        </div>





      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What does the operator need to do?
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Lorem ipsum dolor sit  quis magnn odio sed ultricies. Ut accumsan diam vel pulvinar lobortis. Donec at volutpat arcuas lacus turpis, vitae ultrices turpis ultrices cursus. Curabitur feugidit id.</p><br>
          <p class="govuk-body">Lorem ipsum dotesque egestas lacus turpis, vitae ultrices turpis ultrices cursus. Curabitur feugiat augue massa, a vestibulum purus blandit id.</p><br>
          Lorem iicitudin odio sed ultricies. Ut accumsan diam vel pulvinar lobortis. Donec at volutpat arcuass. Curabitur feugidit id.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> phone</span>
          </a>
        </dd>
      </div>
    </dl>

    <form action="/Beta/V2/submit-s12-statement/check-answers-2" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
