{% extends "layout-account-service-name.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block beforeContent %}

<div class="govuk-phase-banner">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
        <span class="govuk-phase-banner__text">
          This is a new service — your <a href="#"
            class="govuk-link">feedback</a> will help us to improve it.
        </span>

      </p>
    </div>
    <div class="govuk-grid-column-one-third-from-desktop float-right">
      <a href="/Beta/Private/submit-s12/V13/manage-account-details.html"
        class="govuk-link login-nav-2-item govuk-link--no-visited-state profile">Manage account</a>

      <a href="#" class="govuk-link login-nav-2-item govuk-link--no-visited-state">Sign out</a>

    </div>
  </div>

</div>


<a class="govuk-back-link" href="javascript:history.back()">Back</a>

{% endblock %}

{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Statement for Rockingham Reservoir sent
      </h1>
    </div>
  </br>
    <p class="govuk-body">We have sent you a confirmation email.</p>

    <h2 class="govuk-heading-m govuk-!-padding-top-6">What happens next</h2>

    <p class="govuk-body">The Environment Agency might contact you for more information.
    </p>

    <p class="govuk-body">You can go back to <a class="govuk-link govuk-link--no-visited-state"
        href="/Beta/Private/submit-s12/V13/your-statements-1-received">your annual statements</a> or go to your <a
        class="govuk-link govuk-link--no-visited-state"
        href="/Beta/Private/submit-s12/V13/manage-account-details.html">account</a> to manage your information.
    </p>

    <p class="govuk-!-margin-top-8"><a href="#" class="govuk-link govuk-link--no-visited-state">What did you think of
        this service?</a> (takes 30 seconds)</p>

  </div>
</div>

{% endblock %}
