{% extends "layout-cookies-footer.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block beforeContent %}

<div class="govuk-phase-banner">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
        <span class="govuk-phase-banner__text">
          This is a new service — your <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_0wFTSeSWzDuXiRg/"
            class="govuk-link">feedback</a> will help us to improve it.
        </span>

      </p>
    </div>
    <div class="govuk-grid-column-one-third-from-desktop float-right">
      <a href="/Beta/Private/submit-s12/V10/manage-account-details"
        class="govuk-link login-nav-2-item govuk-link--no-visited-state profile">Manage account</a>

      <a href="#" class="govuk-link login-nav-2-item govuk-link--no-visited-state">Sign out</a>

    </div>
  </div>

</div>


{% endblock %}

{% block content %}

<a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="javascript:history.back()">Back</a>


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

    <h1 class="govuk-heading-l govuk-!-margin-top-8 govuk-!-margin-bottom-4">
      Cookies
    </h1>

    <p class="govuk-body">Cookies are small files saved on your phone, tablet or computer when you visit a website.</p>

    <p class="govuk-body">We use cookies to make Send a supervising engineer's annual statement service work.</p>


    <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-4">
      Essential cookies
    </h2>

    <p class="govuk-body">Essential cookies keep your information secure while you use our service. We do not need to ask
      permission to use them.
    </p>


    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Purpose</th>
          <th scope="col" class="govuk-table__header">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">annual_statement_admin_session</td>
          <td class="govuk-table__cell">Used to keep you signed in</td>
          <td class="govuk-table__cell">When you sign out</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>


{% endblock %}
