{% extends "layout.html" %}

{% block pageTitle %}
Submit supervising engineers statement for a reservoir
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Prototypes and UI design</span>
      RACE 2
    </h1>
    

    <h2 class="govuk-heading-l govuk-!-padding-top-6">Private Beta</h2>

  </div>
</div>

<h3 class="govuk-heading-m govuk-!-margin-top-3 govuk-!-margin-bottom-6">
  July 2023
</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
    <div class="govuk-card govuk-card--contained">

      <p class="govuk-body govuk-!-margin-bottom-1"><strong>User group:</strong></p>
      <p class="govuk-body">Supervised engineers</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-6">
        Submit your annual statement
      </h2>

      <ul class="govuk-list">
        <li><a href="/Beta/Private/submit-s12/designs" class="govuk-link--no-visited-state">View designs</a></li>
      </ul>

    </div>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
    <div class="govuk-card govuk-card--contained">

      <p class="govuk-body govuk-!-margin-bottom-1"><strong>User group:</strong></p>
      <p class="govuk-body">Supervised engineers</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-6">
        S12 template
      </h2>

      <ul class="govuk-list">
        <li><a href="/Beta/Private/S12-template/designs" class="govuk-link--no-visited-state">View designs</a></li>
      </ul>

    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
    <div class="govuk-card govuk-card--contained">

      <p class="govuk-body govuk-!-margin-bottom-1"><strong>User group:</strong></p>
      <p class="govuk-body">Supervised engineers</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-6">
        Cookies
      </h2>

      <ul class="govuk-list">
        <li><a href="/Beta/Private/Cookies/designs" class="govuk-link--no-visited-state">View designs</a></li>
      </ul>

    </div>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
    <div class="govuk-card govuk-card--contained">

      <p class="govuk-body govuk-!-margin-bottom-1"><strong>User group:</strong></p>
      <p class="govuk-body">Supervised engineers</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-6">
        Privacy notice
      </h2>

      <ul class="govuk-list">
        <li><a href="/Beta/Private/Privacy-notice/designs" class="govuk-link--no-visited-state">View designs</a></li>
      </ul>

    </div>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
    <div class="govuk-card govuk-card--contained">

      <p class="govuk-body govuk-!-margin-bottom-1"><strong>User group:</strong></p>
      <p class="govuk-body">Supervised engineers</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-6">
        Account sign in
      </h2>

      <ul class="govuk-list">
        <li><a href="/Beta/Private/account-sign-in/designs" class="govuk-link--no-visited-state">View designs</a></li>
      </ul>

    </div>
  </div>
</div>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
    <div class="govuk-card govuk-card--contained">

      <p class="govuk-body govuk-!-margin-bottom-1"><strong>User group:</strong></p>
      <p class="govuk-body">Supervised engineers</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-6">
        Additional features
      </h2>

      <ul class="govuk-list">
        <li><a href="/Beta/Private/additional-features/designs" class="govuk-link--no-visited-state">View designs</a></li>
      </ul>

    </div>
  </div>
</div>





<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-8 govuk-!-margin-bottom-2">

    <h2 class="govuk-heading-l govuk-!-padding-top-6">Alpha</h2>

  </div>
</div>

<h3 class="govuk-heading-m govuk-!-margin-top-3 govuk-!-margin-bottom-6">
  October 2022 – July 2023
</h3>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
    <div class="govuk-card govuk-card--contained">

      <p class="govuk-body govuk-!-margin-bottom-1"><strong>User group:</strong></p>
      <p class="govuk-body">Supervised engineers</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-6">
        Submit your annual statement
      </h2>

      <ul class="govuk-list">
        <li><a href="/Beta/submit-s12-statement/designs" class="govuk-link--no-visited-state">View designs</a></li>
      </ul>

    </div>
  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
    <div class="govuk-card govuk-card--contained">

      <!-- <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-2">
        Testing
      </strong> -->

      <p class="govuk-body govuk-!-margin-bottom-1"><strong>User group:</strong></p>
      <p class="govuk-body">Undertakers</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-6">
        Check your annual statement
      </h2>

      <ul class="govuk-list">
        <li><a href="/Beta/check-s12-statement/designs" class="govuk-link--no-visited-state">View designs</a></li>
      </ul>

    </div>
  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
    <div class="govuk-card govuk-card--contained">

      <p class="govuk-body govuk-!-margin-bottom-1"><strong>User group:</strong></p>
      <p class="govuk-body">Internal users</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-6">
        Using the section 12 statements
      </h2>

      <ul class="govuk-list">
        <li><a href="/Beta/using-s12-statement/designs" class="govuk-link--no-visited-state">View designs</a></li>
      </ul>

    </div>
  </div>



  <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
    <div class="govuk-card govuk-card--contained">

      <p class="govuk-body govuk-!-margin-bottom-1"><strong>User group:</strong></p>
      <p class="govuk-body">Supervised engineers</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-6">
        Account sign in
      </h2>

      <ul class="govuk-list">
        <li><a href="/Beta/account-sign-in/designs" class="govuk-link--no-visited-state">View designs</a></li>
      </ul>

    </div>
  </div>


  <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
    <div class="govuk-card govuk-card--contained">

      <p class="govuk-body govuk-!-margin-bottom-1"><strong>User group:</strong></p>
      <p class="govuk-body">Supervised engineers</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-6">
        Government Gateway and Defra Identity
      </h2>

      <ul class="govuk-list">
        <li><a href="/Beta/gov-gateway-defra-id/designs" class="govuk-link--no-visited-state">View designs</a></li>
      </ul>

    </div>
  </div>


  <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-4">
    <div class="govuk-card govuk-card--contained">

      <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-6">
        Errors and validation
      </h2>

      <ul class="govuk-list">
        <li><a href="/Beta/errors-and-validation/designs" class="govuk-link--no-visited-state">View designs</a></li>
      </ul>

    </div>
  </div>


</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h3 class="govuk-heading-m govuk-!-margin-top-9 govuk-!-margin-bottom-6">
      August 2021 – October 2023
    </h3>

    <div class="govuk-card govuk-card--contained">

      <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-6">
        Design tests
      </h2>

      <ul class="govuk-list">
        <li><a href="/Alpha/designs" class="govuk-link--no-visited-state">View designs</a></li>
      </ul>

    </div>
  </div>
</div>

{% endblock %}