{% extends "layout.html" %}

{% block pageTitle %}
Submit supervising engineers statement for a reservoir
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Prototypes and UI design</span>
      RACE 2
    </h1>

    <!-- <h1 class="govuk-heading-xl">Submit an annual statement</h1> -->

    <h2 class="govuk-heading-l">Beta MVP</h2>
  </div>

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <!-- Version -->
      <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-2">
        Version 4 Concept
      </strong>

      <p class="govuk-body " style="color: #0b0c0c;">Sprint 9</p>


      <h2 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-2">
        Submit an annual statement
      </h2>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">User group:</h3>

      <p class="govuk-body govuk-!-padding-top-0">Supervising engineers</p>

      <!-- <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">The scenario</h3>

      <p class="govuk-body  govuk-!-margin-top-2">A registered Supervising engineer is signing in for the first
        time.</p> -->


      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">Our Assumptions</h3>


      <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-5">
        <li>TBC?</li>

        <!-- <li>Our users will understand the content and find it easy to answer the questions, getting
          through the service easily and submitting an annual statement online.</li> -->
      </ol>


      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we are testing</h3>

      <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-6">
        <li>TBC?</li>
        <!-- <li>content on our Service start page</li>
        <li>typeahead search</li>
        <li>create an itemised list pattern</li> -->
      </ul>


      <!-- Link to Prototype -->
      <div class="govuk-button-group">
        <a href="/Beta/submit-s12-statement/V4-concept/s12-statement/service-start" role="button" draggable="false"
          class="govuk-button" data-module="govuk-button">
          View prototype
        </a>
      </div>

      <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">

      <!-- Design History -->
      <details class="govuk-details govuk-!-margin-bottom-8" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Design history
          </span>
        </summary>
        <div class="govuk-details__text">

                <!-- Version -->
      <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">
        Version 3
      </strong>

      <p class="govuk-body " style="color: #0b0c0c;">Sprint 6 - 7</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Design iterations</h3>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
        <li>new account sign in solution</li>
        <li>content on our Service start page</li>
        <li>typeahead search</li>
        <li>create an itemised list pattern</li>
      </ul>

       <!-- Link to Prototype -->
      <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state"
        href="/Beta/submit-s12-statement/V3/s12-statement/service-start">View prototype</a>
    </p>
     

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-padding-top-6">



          <!-- Version -->
          <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">
            Version 2
          </strong>
          <p class="govuk-body" style="color: #0b0c0c;">Sprint 2 - 3</p>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we tested</h3>

          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
            <li>can a user complete the end-to-end-journey</li>
            <li>do they understand the contnent and the questions</li>
          </ul>

          <!-- Link to Prototype -->
          <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state"
              href="/Beta/submit-s12-statement/V2/s12-statement/reservoir-details/choose-a-reservoir">View prototype</a>
          </p>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-padding-top-6">


          <!-- Version -->
          <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">
            Version 1
          </strong>
          <p class="govuk-body" style="color: #0b0c0c;">Sprint 1</p>

          <p class="govuk-!-font-weight-bold govuk-!-padding-top-4">Assumptions</p>

          <ol class="govuk-list govuk-list--number">
            <li>Our users will find it easy to confirm or update pre-populated information.</li>

            <li>Giving users pre-populated information will save them time and help improve the accuracy of data held by
              the
              Environment Agency.</li>
          </ol>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">The scenarios</h3>

          <ul class="govuk-list govuk-list--bullet">
            <li>confirm the Reservoir, Operator and last inspector details</li>
            <li>change the Reservoir and Operator details</li>
            <li>add Operator details and change Reservoir details</li>
          </ul>

          <h4 class="govuk-heading-s govuk-!-margin-bottom-2">What we tested</h4>

          <ul class="govuk-list govuk-list--bullet">
            <li>user can confirm the information on the screen</li>
            <li>user can change the current information on the screen</li>
            <li>user can input new information and save it</li>
          </ul>

           <!-- Link to Prototype -->
          <p class="govuk-body govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state"
              href="/Beta/submit-s12-statement/V1/s12-statement/reservoir-details/choose-a-reservoir">View prototype</a>
          </p>
        </div>
    </div>
    </details>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <!-- Version -->
      <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-2">
        Version 1
      </strong>

      <p class="govuk-body" style="color: #0b0c0c;">Sprint 9</p>


      <h2 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-2">
        Account sign in
      </h2>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">User group:</h3>

      <p class="govuk-body govuk-!-padding-top-0">Supervising engineers</p>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">The scenarios</h3>

      <ol class="govuk-list govuk-list--number">

        <li>Signing in for the very first time</li>

        <li>Registered account</li>

        <li>Forgotten password</li>

        <li>User needs to change their password</li>

        <li class="govuk-!-margin-bottom-9">User email or password is not recognised</li>


      </ol>


      <!-- Link to Prototype -->
      <div class="govuk-button-group">
        <a href="/Beta/account-sign-in/first-time-registering/V1/invitation-email" role="button" draggable="false"
          class="govuk-button" data-module="govuk-button">
          View prototype scenario 1
        </a>
      </div>

      <!-- Link to Prototype -->
      <div class="govuk-button-group">
        <a href="/Beta/account-sign-in/registered-user/V1/service-start" role="button" draggable="false"
          class="govuk-button" data-module="govuk-button">
          View prototype scenario 2
        </a>
      </div>

      <!-- Link to Prototype -->
      <div class="govuk-button-group">
        <a href="Beta/account-sign-in/forgotten-password/V1/service-start" role="button" draggable="false"
          class="govuk-button" data-module="govuk-button">
          View prototype scenario 3
        </a>
      </div>

      <!-- Link to Prototype -->
      <div class="govuk-button-group">
        <a href="/Beta/account-sign-in/change-password/V1/confirmation" role="button" draggable="false"
          class="govuk-button" data-module="govuk-button">
          View prototype scenario 4
        </a>
      </div>


      <!-- Link to Prototype -->
      <div class="govuk-button-group">
        <a href="/Beta/account-sign-in/sign-in-failed/V1/service-start" role="button" draggable="false"
          class="govuk-button" data-module="govuk-button">
          View prototype scenario 5
        </a>
      </div>

      <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">

    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <!-- Version -->
      <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-2">
        Version 1
      </strong>

      <p class="govuk-body" style="color: #0b0c0c;">Sprint 8 - 9</p>


      <h2 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-2">
        Errors and validation
      </h2>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">UI Designs</h3>

      <ol class="govuk-list govuk-list govuk-!-margin-bottom-5">

        <li>
          <a href="/Beta/errors-and-validation/V1/text-input/choose-a-reservoir-text-input-error" role="button" draggable="false"
            class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Text input
          </a>
        </li>

        <li>
          <a href="/Beta/errors-and-validation/V1/text-area/engineer-reason-for-inspection-text-area-error" role="button" draggable="false"
            class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Text area
          </a>
        </li>

        <li>
          <a href="/Beta/errors-and-validation/V1/date-input/operator-add-action-date-input-error" role="button" draggable="false"
            class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Date input
          </a>
        </li>

        <li>
          <a href="/Beta/errors-and-validation/V1/radios/super-engineer-radios-error" role="button" draggable="false"
            class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Radios
          </a>
        </li>

        <li>
          <a href="/Beta/errors-and-validation/V1/system-errors/page-not-found" role="button" draggable="false"
            class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Page not found
          </a>
        </li>

        <li>
          <a href="/Beta/errors-and-validation/V1/time-out/page-timed-out" role="button" draggable="false"
            class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Page timed out
          </a>
        </li>

        <li>
          <a href="/Beta/errors-and-validation/V1/system-errors/problem-with-service" role="button" draggable="false"
            class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Problem with service
          </a>
        </li>

        <li>
          <a href="/Beta/errors-and-validation/V1/system-errors/service-uavailable" role="button" draggable="false"
            class="govuk-link govuk-link--no-visited-state" data-module="govuk-button">
            Service unavailable
          </a>
        </li>

      </ol>


      <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">

    </div>
  </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <!-- Version -->
      <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-2">
        Version 1
      </strong>

      <p class="govuk-body" style="color: #0b0c0c;">Sprint 0</p>


      <h2 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-2">
        Sign in / Create account with Gov Gateway and Defra ID
      </h2>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">User group:</h3>

      <p class="govuk-body govuk-!-padding-top-0">Supervising engineers</p>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">Our Assumptions</h3>

      <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-5">
        <li>Due to the sensitivity of the information being entered, our users will understand the
          importance of securely logging in to Government Gateway and Defra accounts.</li>

        <li>They will need to do this to either sign in or create an account to submit an S12
          Statement
          online.</li>
      </ol>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">What we tested</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>how the user would go about searching for our service online</li>
        <li>can they sign into our online service</li>
        <li>how to create a Defra ID account</li>
      </ul>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">The scenarios</h3>

      <ol class="govuk-list govuk-list--number">
        <li class="govuk-!-padding-bottom-2">
          User wants to register for a service, no Gov Gateway or Defra ID accounts
        </li>

        <li class="govuk-!-padding-bottom-2">
          User has Gov Gateway account and no Defra ID account
        </li>


        <li class="govuk-!-padding-bottom-6">
          Returning user has both Gov Gateway and Defra accounts - two factor authentcation
        </li>

      </ol>

      <!-- Link to Prototype -->
      <div class="govuk-button-group">
        <a href="/Beta/submit-s12-statement/V1/reservoir-guidance" role="button" draggable="false" class="govuk-button"
          data-module="govuk-button">
          View prototype scenario 1
        </a>
      </div>

      <!-- Link to Prototype -->
      <div class="govuk-button-group">
        <a href="/Beta/submit-s12-statement/V1/reservoir-guidance-s2" role="button" draggable="false"
          class="govuk-button" data-module="govuk-button">
          View prototype scenario 2
        </a>
      </div>

      <!-- Link to Prototype -->
      <div class="govuk-button-group">
        <a href="/Beta/submit-s12-statement/V1/reservoir-guidance-s3" role="button" draggable="false"
          class="govuk-button" data-module="govuk-button">
          View prototype scenario 3
        </a>
      </div>



      <hr class="govuk-section-break govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">

    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h2 class="govuk-heading-l govuk-!-margin-top-9">Alpha</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="card govuk-!-margin-top-4 govuk-!-margin-bottom-9">

      <!-- Version -->
      <strong class="govuk-tag-alt govuk-heading-m govuk-!-margin-bottom-2">
        Version 1
      </strong>


      <h2 class="govuk-heading-m govuk-!-padding-top-6">Design tests</h2>

      <p class="govuk-body">This is not an end to end journey service prototype.</p>
      <p class="govuk-body">This prototype is for testing ideas for Alpha on the service 'RACE2'.</p>
      <p>This prototype covers Alpha ideas across the external user journey.</p>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">User group:</h3>

      <p class="govuk-body govuk-!-padding-top-0">Supervising engineers</p>

      <h3 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-2">The scenario</h3>

      <p class="govuk-body govuk-!-margin-bottom-9">Send supervising engineers statement for a reservoir</p>


      <!-- Link to Prototype -->
      <div class="govuk-button-group">
        <a href="/index-alpha" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          View prototype
        </a>
      </div>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <!-- ########################################################################### -->
    </div>
  </div>
</div>

{% endblock %}
