{% extends "layout.html" %}

{% block pageTitle %}
Submit supervising engineers statement for a reservoir
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Submit supervising engineers statement for a reservoir</h1>

    <h2 class="govuk-heading-l">Beta MVP</h2>

    <!-- <p class="govuk-body-l">These prototypes will test how a Supervised engineer can submit an S12 Statement online.
    </p> -->

    <h3 class="govuk-heading-m govuk-!-padding-top-6">Sprint 4</h3>

    <p class="govuk-body">User group: <span class="govuk-!-font-weight-bold">Supervised Engineers</span></p>

    <p class="govuk-!-font-weight-bold govuk-!-padding-top-4">Assumption</p>


    <p class="govuk-body">Our users will understand the content and find it easy to answer the questions, getting through the service easily and submitting an annual statement online.</p>

    <h4 class="govuk-heading-s">V3</h4>

    <a class="govuk-list govuk-link--no-visited-state"
      href="Beta/V3/service-start">Submit an S12 Statement online</a>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-padding-top-6">
    <!-- ########################################################################### -->


    <h3 class="govuk-heading-m">Sprint 2</h3>

    <p class="govuk-body">User group: <span class="govuk-!-font-weight-bold">Supervised Engineers</span></p>

    <p class="govuk-!-font-weight-bold govuk-!-padding-top-4">Assumption</p>


    <p class="govuk-body">Our users will find it easy to confirm or update pre-populated information.</p>

    <p class="govuk-body">
      Giving users pre-populated information will save them time and help improve the accuracy of data held by the Environment Agency.
      </p>

    <h4 class="govuk-heading-s">V2</h4>

    <a class="govuk-list govuk-link--no-visited-state"
      href="Beta/V2/submit-s12-statement/choose-a-reservoir.html">Submit an S12 Statement online</a>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-padding-top-6">
    <!-- ########################################################################### -->


    <h3 class="govuk-heading-m">Sprint 1</h3>

    <p class="govuk-body">User group: <span class="govuk-!-font-weight-bold">Supervised Engineers</span></p>

    <p class="govuk-!-font-weight-bold govuk-!-padding-top-4">Assumption</p>

    <p class="govuk-body">Users will find it easy to confirm or update pre-populated information.</p>

    <p class="govuk-body">The user scenarios we are testing are:</p>

    <ol class="govuk-list govuk-list--number">
      <li class="govuk-!-padding-bottom-2">
        Confirm the Reservoir, Operator and last inspector details
      </li>
      <li class="govuk-!-padding-bottom-2">
        Change the Reservoir and Operator details
      </li>
      <li class="govuk-!-padding-bottom-2">
        Add Operator details and change Reservoir details
      </li>
    </ol>

    <h4 class="govuk-heading-s">V1</h4>

    <a class="govuk-list govuk-link--no-visited-state" href="Beta/V1/submit-s12-statement/choose-a-reservoir">Submit an
      S12 Statement online</a>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-padding-top-6">
    <!-- ########################################################################### -->



    <h3 class="govuk-heading-m">Sprint 0</h3>

    <p class="govuk-body">User group: <span class="govuk-!-font-weight-bold">Supervised Engineers</span></p>

    <p class="govuk-!-font-weight-bold govuk-!-padding-top-4">Assumption</p>

    <p class="govuk-body">Due to the sensitivity of the information being entered, our users will understand the importance of securely logging in to Government Gateway and Defra accounts.</p>

    <p class="govuk-body">They will need to do this to either sign in or create an account to submit an S12 Statement
      online.</p>

    <p class="govuk-body">The user scenarios we are testing are:</p>

    <ol class="govuk-list govuk-list--number">
      <li class="govuk-!-padding-bottom-2">
        <a class="govuk-link govuk-link--no-visited-state" href="/Beta/V1/reservoir-guidance">User wants to register for
          a service, no Gov Gateway or Defra ID accounts</a>
      </li>
      <li class="govuk-!-padding-bottom-2">
        <a class="govuk-link govuk-link--no-visited-state" href="/Beta/V1/reservoir-guidance-s2">User wants to register
          for a service, has Gov Gateway account no Defra ID account</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/Beta/V1/reservoir-guidance-s3">Returning user with both Gov Gateway and Defra accounts - two factor authentcation</a>
      </li>
    </ol>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-padding-top-6">
    <!-- ########################################################################### -->

    <h2 class="govuk-heading-l govuk-!-padding-top-6">Alpha design tests</h2>

    <p class="govuk-body">This is not an end to end journey service prototype.</p>
    <p class="govuk-body">This prototype is for testing ideas for Alpha on the service 'RACE2'.</p>
    <p>This prototype covers Alpha ideas across the external user journey.</p>

    <p><a href="/index-alpha" class="govuk-link--no-visited-state">Version 1</a> </br>External users: Send supervising
      engineers statement for a reservoir</p>
    </br>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <!-- ########################################################################### -->

  </div>
</div>

{% endblock %}