{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="sec-12(3)" method="post">

      <h1 class="govuk-heading-xl">
        Details of compliance issues under section 11
      </h1>
      <div id="more-detail-hint" class="govuk-hint">
    Include details of recomendations to undertaker.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>



<button class="govuk-button" data-module="govuk-button">Continue</button>


    </div>
  </div>

{% endblock %}
