{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="sec-11" method="post">

        div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="example">
      Is the undertaker compliant with maintenance measures under section 10(3)(b)
    </label>
  </h1>
  <div id="example-hint" class="govuk-hint">
    This example shows an &lt;h1&gt; around a &lt;label&gt; with the class of govuk-label--l
  </div>
  <input class="govuk-input" id="example" name="example" type="text" aria-describedby="example-hint">
</div>



    </div>
  </div>

{% endblock %}
