{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Add a new operator</h1>

        <form class="form" action="/Beta/V2/submit-s12-statement/operator-details/confirm-new-operator" method="post">


            <div class="govuk-form-group">

                <label class="govuk-label govuk-label--m" for="operator-new-name">
                    Name
                </label>
               <input class="govuk-input" id="operator-new-name" name="operator-new-name" type="text">
            </div>

            <div class="govuk-form-group">

                <label class="govuk-label govuk-label--m" for="operator-new-address">
                    Address
                </label>
                <input class="govuk-input" id="operator-new-address-1" name="operator-new-address-1" type="text">
                <input class="govuk-input govuk-!-margin-top-4" id="operator-new-address-2" name="operator-new-address-2" type="text">
                <input class="govuk-input govuk-!-width-one-quarter govuk-!-margin-top-4" id="operator-new-address-3" name="operator-new-address-3" type="text">

            </div>

            <div class="govuk-form-group">

                <label class="govuk-label govuk-label--m" for="operator-new-email">
                    Email address
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="operator-new-email" name="operator-new-email" type="text">
            </div>

            <div class="govuk-form-group">

                <label class="govuk-label govuk-label--m" for="operator-new-phone">
                    Phone number
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="operator-new-phone" name="operator-new-phone" type="text">
            </div>


            <button class="govuk-button govuk-!-margin-top-6 govuk-!-margin-bottom-6" data-module="govuk-button">Save
                and continue</button>


        </form>




    </div>
</div>

{% endblock %}