{% extends "layout-account-service-name.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block beforeContent %}

<div class="govuk-phase-banner">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
        <span class="govuk-phase-banner__text">
          This is a new service — your <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_0wFTSeSWzDuXiRg/"
            class="govuk-link">feedback</a> will help us to improve it.
        </span>

      </p>
    </div>
    <div class="govuk-grid-column-one-third-from-desktop float-right">

      <a href="#" class="govuk-link login-nav-2-item govuk-link--no-visited-state">Sign out</a>

    </div>
  </div>

</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


            <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-9">
                <h1 class="govuk-panel__title">
                    Your password has been changed
                </h1>
            </div>

            <p class="govuk-body">We have sent you a confirmation email</p>





            <p class="govuk-body govuk-!-margin-top-9">Go back to <a class="govuk-link govuk-link--no-visited-state"
                    href="#">your annual statements</a>.</p>

        

    </div>
</div>

{% endblock %}
