{% extends "layout-account.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block beforeContent %}

<div class="govuk-phase-banner">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
        <span class="govuk-phase-banner__text">
          This is a new service — your <a href="https://defragroup.eu.qualtrics.com/jfe/form/SV_0wFTSeSWzDuXiRg/"
            class="govuk-link">feedback</a> will help us to improve it.
        </span>

      </p>
    </div>
    <div class="govuk-grid-column-one-third-from-desktop float-right">
      <a href="/Beta/Private/submit-s12/V10/manage-account-details"
        class="govuk-link login-nav-2-item govuk-link--no-visited-state profile">Manage account</a>

      <a href="#" class="govuk-link login-nav-2-item govuk-link--no-visited-state">Sign out</a>

    </div>
  </div>

</div>

<a class="govuk-back-link" href="javascript:history.back()">Back</a>


{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">
      Your account
    </h1>

  </div>


  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-m">Your details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Laura Smith
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Company address
        </dt>
        <dd class="govuk-summary-list__value">
          Engineering Consultants<br>Sample Street<br>Sample Town<br>Sample City<br>AB12 3CD
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> company address</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">01234 567 890</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> phone number</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">smith.l.@engineeringconsultants.com</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> email</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row" id="paperless">
        <dt class="govuk-summary-list__key">
          Password
        </dt>
        <dd class="govuk-summary-list__value">
          ******************
        </dd>
        <dd class="govuk-summary-list__actions">

          <a class="govuk-link govuk-link--no-visited-state"
            href="/Beta/Private/account-sign-in/change-password/V3/change-password">

            Change
            <span class="govuk-visually-hidden">how we contact you</span>

          </a>

        </dd>
      </div>

    </dl>

  </div>
</div>




{% endblock %}
