{% extends "layout-phase.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set serviceName %}

{% endset%}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Forgotten password</h1>

        <form action="/Beta/account-sign-in/forgotten-password/V1/email-sent" method="post">

            <p>We will email you a link to reset your password.</p>



            <div class="govuk-form-group">
                <label class="govuk-label" for="govGatePassword">
                    Username
                </label>

                <input class="govuk-input govuk-!-width-three-quarters" id="govGatePassword" name="govGatePassword"
                    type="password">

            </div>

            <button ole="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"
                data-module="govuk-button">
                Send the link
            </button>


        </form>


        <!-- {% include "includes/get-help.html" %} -->


    </div>
</div>

{% endblock %}
