{% extends "layout-back-button.html" %}

{% block pageTitle %}
Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <form method="post" action="/Beta/V1/gov-gateway-account/email-confirmed">


        <h1 class="govuk-heading-xl">Enter code to confirm your email address</h1>

        <p class="govuk-body">We have sent a code to <strong>samwoods@company.co.uk</strong></p>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                If you use a browser to access your email, you may need to open a new window or tab to see the code.
            </strong>
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="govGateEmailCode">
                Confirmation code
            </label>

            <div id="govGateEmailCode-hint" class="govuk-hint">
                For example, DNCLRK
            </div>

            <input class="govuk-input govuk-!-width-one-half" id="govGateEmailCode" name="govGateEmailCode" type="text"
                aria-describedby="govGateEmailCode-hint">

        </div>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    I have not received the email
                </span>
            </summary>
            <div class="govuk-details__text">
                <p>The email may take a few minutes to arrive. Its subject line is: 'Confirm your email address -
                    Government Gateway'.</p>
                <p>Check your spam or junk folder - if it still has not arrived, you can <a href="#">request a new
                        code</a> or <a href="#">provide another email address</a>.</p>
            </div>
        </details>



        <button class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button"
        role="button" draggable="false">
        Confirm
    </button>

</form>
 
         

        {% include "includes/get-help.html" %}

    </div>
</div>

{% endblock %}